.libraries-standards-band {
  background-color: $black;
  h2 {
    color: $quarkus-blue;
  }
  .block {
    text-align: center;
    a {
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
