/** Styles for _includes/templates/tabs.html */
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #407096;
  font-weight: 700;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background-color: #1f415d;
}
.tabs input[type="radio"] {
  display: none;
  &:checked + label {
    background-color: #1f415d;
  }
  &:checked + label + .tab {
    display: block;
    overflow: scroll;
  }
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
