.asciidoc-tooltip-wrapper {
  position: relative;
  display: inline-block;
  code {
    border-bottom: 1px dotted #943000;
  }
  .asciidoc-tooltip {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 1s;
  }
}

.asciidoc-tooltip-wrapper:hover .asciidoc-tooltip {
  visibility: visible;
  opacity: 1;
}

.asciidoc-tooltip-wrapper .asciidoc-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
