/*=============== Filters =================== */

.catalog-filters {
        
  @media screen and (max-width: 768px) {
  grid-column: span 12;
  padding: 1rem;
  background-color: $grey-0;
  }
    h3 {
      font-size: 1.25rem;
      margin: 1.5rem 0 .2rem 0 ;
      }

    select {
      color: $dark-blue-alt;
     border: 1px solid $quarkus-blue;
     font-size: 1rem;
     padding: 0 .5rem;
     width: 100%;
     }

     label {
     line-height: 1.5rem;
     }

    .filterheader {
    background-color: $grey-2;
    color: $white;
    font-weight: 600;
    padding: 1rem;
    margin: 0;
    }

    .filterheaderarrow {
        margin-bottom: -1rem;
        line-height: 1rem;
    }

    .filterselectheader {
    background-color: $quarkus-blue;
    color: $white;
    font-weight: 600;
    padding: 1rem;
    margin: 1rem 0 0 0;
    }

    .filterselectarrow {
    line-height: 1rem;
    }

    .yourchoices {
    
      ul.choices {
          list-style: none;
          padding: 0;
          margin: 0 0 3rem 0;
          display: block;

        li {
          background-color: $grey-0;
          border: 1px solid $grey-1;
          padding: .5rem;
          margin-bottom: .25rem;
          display: block;

          @media screen and (max-width: 768px) {
          background-color: $white;
          }

          &:hover, &:focus {
            background-color: $light-blue;
            border:1px solid $quarkus-blue;
            }

          a {
            text-decoration: none;
            color: $dark-blue-alt;
            display: block;

          }
        }

        li:before {
        content: "\f00d";
        font-family: FontAwesome;
        font-size: 1.3rem;
        display: inline-block;
        float: right;
        padding-top: .2rem;
        }

        .filterclear {
        float: right;
        }
      }
    }

  }  



/* ============= Catalog Callouts  =================== */

.catalog-callout-red {
  background-color: $red;
  padding: 2rem;
  margin: 2rem 0;

  @media screen and (max-width: 768px) {
   margin-bottom: 0;
   }

  p, p a {
   color: $white;
   margin: 0;
   padding: 0;
    }
  }

.catalog-callout-blue {
  background-color: $quarkus-blue;
  padding: 2rem;
  margin: 2rem 0;

  @media screen and (max-width: 768px) {
   margin-bottom: 0;
   }

  p, p a {
   color: $white;
   margin: 0;
   padding: 0;
    }
  }



/*=============== Catalog Detail Page Styles =================== */

.catalog-detail {


h1:first-of-type {
  margin-top: 0;
}

h3 {
  border-bottom: 1px solid $grey-1;
}

.ext-projdetail {
    padding: 1rem .5rem;
    border-bottom: 1px solid $grey-1;

    p {
    margin: 0;
    }

    .ext-projdetail-header {
        font-size: .75rem;
    }
    
    .ext-projdetail-data {
      font-size: .8rem;
      font-weight: 600;
      line-height: 1rem;

      a {
      font-weight: 600;
      }
    }
  }


}



