.community {
  .contributions-band {
    margin: 0;
    padding-bottom: 6rem;
  }
  .contrib-block {
    h3, p {
      text-align: left;
    }

    h3 {
      text-transform: uppercase;
    }
    h4 {
      font-weight: 600;
    }
  }
}
