
.workshops-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 3rem;
  justify-content: center;

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }

 /* .card-header:first-child {
    border-radius: 5px 5px 0 0;
  }
 */

  .lead {
    font-size: 20px;
    line-height: 1.8rem;
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.float-end {
    float: right !important;
}

  .text-start {
    text-align: left !important;
  }

  .card-header {
    border-bottom: 1px solid var(--card-outline);
    height: fit-content
  }

  .card-body {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card-footer {
    padding-top: 10px;
    border-top: 1px solid var(--card-outline);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    height: 4rem;
    width: 100%;
    gap: 1rem;
    margin-top: auto;

    .icons {
      display: flex;
      height: 10vh;
      align-items: center;
      align-content: flex-start;
      font-size: xx-large;
      text-align: center;
      vertical-align: bottom;
      color: var(--card-outline);
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }

  

  .card-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .card-text {
    margin-bottom: 0.5rem;
  }

  .key {
    font-weight: 600;
  }

  .card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    align-items: start;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--card-outline);
    justify-content: normal;
  }

  .thumbnail  {
    background-color: white;
  }
}

.discuss {
  margin-top: 4rem;
}