_site
.sass-cache
.jekyll-metadata
.DS_Store
.ruby-version
.bundle
.rvmrc
_bin
setup.sh
.project
.env

# Vim temp files
*.swp
*.swo

org.eclipse.m2e.core.prefs
npm-debug.log

.idea
*.iml
.vscode
.jekyll-cache
bin
vendor

.quarkus-main-repository
