{#let _m=mut:map()}<div class="blog-page grid-wrapper">
  <div class="grid__item width-9-12 width-12-12-m">
    <div>
      {#for post in site.collections.get('posts').paginated(page.paginator).orEmpty}
        {#let author=cdi:authors.get(post.data.author)}
        <div class="blog-list-item grid-wrapper">
          <div class="grid__item width-12-12">
            <div class="post-title">
              <a href="{=''}{=post.url.raw}">{=post.title.raw}</a>
            </div>
            <div class="post-date small">
              {=post.date.format('MMMM dd, yyyy').or('').raw} 
              {#if post.data.tags}
                <span class="tags">tags:{#for tag in post.data.tags.asStrings}<a href="{=''}/blog/tag/{=tag.toLowerCase.replace('.', '-').raw}">#{=tag.toLowerCase.raw}</a>{/for}</span>
              {/if}
            </div>
          </div>
          <div class="grid__item width-8-12 width-12-12-m byline-wrapper">
            <p class="byline">
              By 
              {#for author_key in str:splitTrimmed(post.data.author, ",").orEmpty}
                {#let author=cdi:authors.get(author_key)}
                {#if author.emailhash}
                  <img class="headshot" src="https://www.gravatar.com/avatar/{=author.emailhash.raw}" alt="{=author.name.raw} avatar">
                {/if}
                <a href="{=''}/author/{=author_key.raw}">{=author.name.raw}</a>{#if author_key_hasNext}, {/if}
              {/let}{/for}
            </p>
          </div>
          <div class="grid__item width-12-12">
            {#if post.data.synopsis}
              <p>{=post.data.synopsis.stripHtml.raw}</p>
            {#else}
              <p>{=post.content.stripHtml.wordLimit(75).raw}</p>
            {/if}
          </div>
          <div class="grid__item width-8-12 read-more small"><a href="{=''}{=post.url.raw}">Read More &rsaquo;</a></div>
          <div class="grid__item width-4-12 width-12-12-m share-post">{#include partials/share-page.html title=post.title url=post.url _unisolated /}</div>
        </div>
      {/let}{/for}
    </div>
    {#if page.paginator && page.paginator.total > 1}
      <div class="paginator-btns">
        {#if page.paginator && page.paginator.next}
          <a href="{=page.paginator.next.prepend('').raw}" class="button-cta primary btn-sm">Older Posts</a>
        {/if}
        {#if page.paginator && page.paginator.previous}
          <a href="{=page.paginator.previous.prepend('').raw}" class="button-cta primary btn-sm">Newer Posts</a>
        {/if}
      </div>
      {/if}
  </div>
  <div class="grid__item width-1-12 width-12-12-m"></div>
  <div class="grid__item width-2-12 width-12-12-m">
   <div class="grid__item width-2-12 align-self-center">
    <a href="{=''}/feed.xml"><i class="fas fa-rss-square"></i></a>
   </div>
    <h3 class="tags-label">Tags</h3>
    {#let tag_words=site.collections.get('posts').tagsCount.distinct.sort('name')}
    {#for stats in tag_words.orEmpty}
     <a href="{=''}/blog/tag/{=stats.name.replace('.', '-').raw}">{=stats.name.raw}</a></br>
    {/for}{/let}
  </div>
</div>
