<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
    </div>

    {#for item in cdi:books.orEmpty}
      <div class="card">
        <a href="{=item.link.raw}"></a>
        <div>
          <img src="{=''}/assets/images/books/{=item.thumbnail.raw}" alt="{=item.title.raw}">
          <p class="title">{=item.title.raw}</p>
          <div class="description">
          <p>{=item.description.raw}</p></div>
          <div class="metatext">Publish Date: {=item.publish-date.raw}<br/>
            Author(s): {=item.authors.raw}</div>
        </div>
      </div>
    {/for}

  </div>
</div>
