<div class="full-width-bg component-slim">
    <div class="grid-wrapper eol-table-band">
        <div class="width-12-12">
            <h2>EOL Versions</h2>
            <div class="table-responsive">
                <table class="releases-table">
                    <thead>
                        <tr>
                            <th>Release</th>
                            <th>Released</th>
                            <th>End of Life</th>
                            <th>Final Patch</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#let today=now.format('yyyy-MM-dd').or('')}
                        {#for release in cdi:releases.releases.orEmpty}
                        {#let eol_str=release.eol_date.format('yyyy-MM-dd').or('')}
                        {#if release.eol_date && eol_str <= today}
                        <tr>
                            <td>
                                {=release.version.raw}
                                {#if release.lts}<span class="release-badge lts">LTS</span>{/if}
                            </td>
                            <td>{=release.release_date.format('dd MMM yyyy').or('').raw}</td>
                            <td>{=release.eol_date.format('dd MMM yyyy').or('').raw}</td>
                            <td>{=release.latest_patch.raw}</td>
                        </tr>
                        {/if}
                        {/let}{/for}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/let}