
<div class="component-wrapper events-band">
  <div class="width-12-12">
    <h3 class="mt-0">{=cdi:events.headline.raw}</h3>
  </div>
  {#for item in cdi:events.upcomingevents.orEmpty}
    <div class="width-6-12 event" future-date="{=item.date.format('yyyy-MM-dd').or('').raw}">
      <div class="grid-wrapper">
        <div class="img-wrapper">
          <a href="{=item.link.raw}" target="_blank">
            <img src="{=''}/assets/images/events/{=item.thumbnail.raw}" alt="{=item.title.raw}">
          </a>
        </div>
        <div class="info-wrapper">
          <p class="title"><a href="{=item.link.raw}" target="_blank">{=item.title.raw}</a></p>
          <p class="eventdate">Date: {=item.displaydate.raw}</br>Location: {=item.location.raw}</br>
          Event Type: {=item.type.raw}</p><p> {=item.description.raw}</p>
        </div>
      </div>
    </div>
  {/for}
    <div class="width-6-12 event-callout">
      <div class="callout-container">
          <p class="eventtitle">Quarkus Presenters, We Want You!</p>
          <p>If you're showcasing Quarkus at an upcoming community event, Java User Group (JUG), meetup, or conference, please <a href="https://forms.gle/ykj169EDfeMJ3K7H8" target="_blank">share your presentation details with us</a>!</p>
          <p>We'd love to feature your talk on this page and across our Quarkus social media channels.</p>
       </div>
      </div>
    </div>
</div>