<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>1</div></div>
    <div class="text">
        You need <a href="https://en.wikipedia.org/wiki/Comparison_of_integrated_development_environments#Java" target="_blank">an IDE</a> like <a href="https://www.jetbrains.com/idea/download/">IntelliJ IDEA</a>, <a href="https://www.eclipse.org/downloads/">Eclipse</a>, <a href="https://code.visualstudio.com/Download">VSCode</a> or even <a href="https://spacevim.org/use-vim-as-a-java-ide/">Vim</a> or <a href="http://spacemacs.org">Emacs</a>!
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>2</div></div>
    <div class="text">
      <div class="text">
        You need a <a href="https://adoptopenjdk.net" target="_blank">a JDK {=cdi:versions.jdk.raw}</a> (any distribution)
      </div>
      <div class="text">
        Optionally get <a href="https://www.graalvm.org/" target="_blank">GraalVM</a> {=cdi:versions.graalvm.raw} for native compilation
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>3</div></div>
    <div class="text">
      <div class="text">
        You need <a href="https://maven.apache.org/" target="_blank">Apache Maven {=cdi:versions.maven.raw}</a>
      </div>
      <div class="text">
        or <a href="https://gradle.org/" target="_blank">Gradle</a>
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>4</div></div>
    <div class="text">
      <div class="text">
        <a href="https://code.quarkus.io">Start Coding</a>  with Quarkus {=cdi:versions.quarkus.version.raw}
        [<a href="{=cdi:versions.quarkus.announce.raw}">announce</a>|<a href="https://github.com/quarkusio/quarkus/releases/tag/{=cdi:versions.quarkus.version.raw}">changelog</a>]
      </div>
    </div>
  </div>
</div>
