<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{=cdi:getstarted-nextsteps.headline.raw}</h3>
    </div>

  {#for item in cdi:getstarted-nextsteps.links.orEmpty}
      <div class="card">
        <a href="{=item.link.raw}"></a>
        <div>
          <p class="title">{=item.title.raw}</p>
          <div class="description">{=item.description.raw}</div>
        </div>
        </a>
      </div>
  {/for}
    <div class="width-12-12 width-12-12-m">
      <h4>{=cdi:getstarted-nextsteps.secondarycta.raw}</h4>
    </div>
  </div>
</div>

