{#let cat_data=cdi:versioned.get(docversion.replace('.', '-')).index.categories.categories}
{#if cat_data}
{#let _nav=mut:map()}
<nav class="guide-nav-sidebar">
  {#for cat in cat_data.orEmpty}
    {=_nav.assign('cat_has_current', false).raw}
    {#if cat.subcategories}
      {#for sub in cat.subcategories.orEmpty}
        {#for g in sub.guides.orEmpty}
          {#if g.filename == current_filename}{=_nav.assign('cat_has_current', true).raw}{/if}
        {/for}
      {/for}
    {#else}
      {#for g in cat.guides.orEmpty}
        {#if g.filename == current_filename}{=_nav.assign('cat_has_current', true).raw}{/if}
      {/for}
    {/if}

    <details class="guide-nav-cat" {#if _nav.read('cat_has_current')}open{/if}>
      <summary>{=cat.title.raw}</summary>

      {#if cat.subcategories}
        {#for sub in cat.subcategories.orEmpty}
          {=_nav.assign('sub_has_current', false).raw}
          {#for g in sub.guides.orEmpty}
            {#if g.filename == current_filename}{=_nav.assign('sub_has_current', true).raw}{/if}
          {/for}

          <details class="guide-nav-subcat" {#if _nav.read('sub_has_current')}open{/if}>
            <summary>{=sub.title.raw}</summary>
            <ul>
              {#for g in sub.guides.orEmpty}
                {#if g.title}
                  {#if g.url}
                    {#let guide_url=g.url.versionedGuideUrl(docversion)}
                    <li {#if g.filename == current_filename}class="active"{/if}>
                      <a href="{=guide_url.raw}">{=g.title.raw}</a>
                    </li>
                    {/let}
                  {/if}
                {/if}
              {/for}
            </ul>
          </details>
        {/for}
      {#else}
        <ul>
          {#for g in cat.guides.orEmpty}
            {#if g.title}
              {#if g.url}
                {#let guide_url=g.url.versionedGuideUrl(docversion)}
                <li {#if g.filename == current_filename}class="active"{/if}>
                  <a href="{=guide_url.raw}">{=g.title.raw}</a>
                </li>
                {/let}
              {/if}
            {/if}
          {/for}
        </ul>
      {/if}
    </details>
  {/for}
</nav>
{/let}
{/if}
{/let}
