{! Related-content grid shared by the categorized and plain guide layouts. Params: relations, guide_url, docversion. !}
{#if relations && relations.get(guide_url)}
<h2>{=cdi:guides.texts.related_content.raw}</h2>
<div class="grid-wrapper relations">
  {#if relations.get(guide_url).sameExtensions}
  <div class="grid__item width-6-12 width-12-12-m">
    <h3>{=cdi:guides.texts.on_the_same_extensions.raw}</h3>
    <ul class="related-content">
    {#for guide in relations.get(guide_url).sameExtensions.orEmpty}
      <li class="{=guide.type.raw}"><a href="{=guide.url.versionedGuideUrl(docversion).raw}">{=guide.title.raw}</a></li>
    {/for}
    </ul>
  </div>
  {/if}
  {#if relations.get(guide_url).sameTopics}
  <div class="grid__item width-6-12 width-12-12-m">
    <h3>{=cdi:guides.texts.on_the_same_topics.raw}</h3>
    <ul class="related-content">
    {#for guide in relations.get(guide_url).sameTopics.orEmpty}{#if guide_count <= 20}
      <li class="{=guide.type.raw}"><a href="{=guide.url.versionedGuideUrl(docversion).raw}">{=guide.title.raw}</a></li>
    {/if}{/for}
    </ul>
  </div>
  {/if}
</div>
{/if}
