<div class="nav-wrapper">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <input type="checkbox" id="checkbox" />
      <nav id="main-nav" class="main-nav">
        <div class="logo-wrapper">
           <a href="{=''}/"><img src="{=''}/assets/images/quarkus_logo_horizontal_rgb_600px_reverse.png" class="project-logo" title="Quarkus" alt="Quarkus"></a>
        </div>
    <label class="nav-toggle" for="checkbox">
      <i class="fa fa-bars"></i>
    </label>
    <ul id="menu" class="menu">
      <li class="dropdown">
        <span href="#">Why<i class="fas fa-chevron-down firsti"></i></span>
        <ul class="submenu">
          <li><a href="{=''}/about" class="{#if page.url.contains('/about/')}active{/if}">WHAT IS QUARKUS?</a></li>
          <li><a href="{=''}/developer-joy" class="{#if page.url.contains('/developer-joy/')}active{/if}">DEVELOPER JOY</a></li>
          <li><a href="{=''}/performance" class="{#if page.url.contains('/performance/')}active{/if}">PERFORMANCE</a></li>
          <li><a href="{=''}/kubernetes-native" class="{#if page.url.contains('/kubernetes-native/')}active{/if}">KUBERNETES NATIVE</a></li>
          <li><a href="{=''}/standards" class="{#if page.url.contains('/standards/')}active{/if}">STANDARDS</a></li>
          <li><a href="{=''}/versatility" class="{#if page.url.contains('/versatility/')}active{/if}">VERSATILITY</a></li>
          <li><a href="{=''}/container-first" class="{#if page.url.contains('/container-first/')}active{/if}">CONTAINER FIRST</a></li>
          <li class="tertiarydropdown">
            <span href="#">USING SPRING?<i class="fas fa-chevron-down"></i></span>
            <ul class="tertiarymenu">
              <li><a href="{=''}/spring" class="{#if page.url.contains('/spring')}{#if !page.url.contains('/spring/migrate/')}active{/if}{/if}">SPRING OVERVIEW</a></li>
              <li><a href="{=''}/spring/migrate/" class="{#if page.url.contains('/spring/migrate/')}active{/if}">MIGRATE TO QUARKUS</a></li>
            </ul>
          </li>
          <li class="tertiarydropdown">
            <span href="#">AI<i class="fas fa-chevron-down"></i></span>
            <ul class="tertiarymenu">
              <li><a href="{=''}/ai" class="{#if page.url.contains('/ai/')}active{/if}">AI OVERVIEW</a></li>
              <li><a href="{=''}/java-for-ai" class="{#if page.url.contains('/java-for-ai/')}active{/if}">JAVA FOR AI</a></li>
              <li><a href="{=''}/quarkus-for-ai" class="{#if page.url.contains('/quarkus-and-ai/')}active{/if}">WHY QUARKUS FOR AI</a></li>
              <li><a href="{=''}/ai-blueprints" class="{#if page.url.contains('/ai-blueprints/')}active{/if}">AI BLUEPRINTS</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <span href="#">Learn<i class="fas fa-chevron-down firsti"></i></span>
        <ul class="submenu">
          <li><a href="{=''}/get-started" class="{#if page.url.contains('/get-started/')}active{/if}">GET STARTED</a></li>
          <li><a href="{=''}/guides" class="{#if page.url.contains('/guides/')}active{/if}">DOCUMENTATION</a></li>
          <li><a href="{=''}/releases/" class="{#if page.url.contains('/releases/')}active{/if}">RELEASES</a></li>
          <li><a href="{=''}/userstories/" class="{#if page.url.contains('/userstories/')}active{/if}">USER STORIES</a></li>  
          <li><a href="{=''}/qtips" class="{#if page.url.contains('/qtips/')}active{/if}">"Q" TIP VIDEOS</a></li>          
          <li><a href="{=''}/books" class="{#if page.url.contains('/books/')}active{/if}">BOOKS</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <span href="#">Extensions<i class="fas fa-chevron-down firsti"></i></span>
        <ul class="submenu">
          <!-- Note that quarkus.io is hardcoded here, because it is the only url which supports extensions -->
          <li><a href="https://quarkus.io/extensions/" class="{#if page.url.contains('/extensions/')}active{/if}">BROWSE EXTENSIONS</a></li>
          <li><a href="{=''}/faq/#what-is-a-quarkus-extension" class="{#if page.url.contains('what-is-a-quarkus-extension')}active{/if}">USE EXTENSIONS</a></li>
          <li><a href="{=''}/guides/writing-extensions" class="{#if page.url.contains('/guides/writing-extensions')}active{/if}">CREATE EXTENSIONS</a></li>
          <li><a href="https://hub.quarkiverse.io" class="{#if page.url.contains('hub.quarkiverse.io')}active{/if}">SHARE EXTENSIONS</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span href="#">Community<i class="fas fa-chevron-down firsti"></i></span>
        <ul class="submenu">
          <li><a href="{=''}/support/" class="{#if page.url.contains('/support/')}active{/if}">SUPPORT</a></li>
          <li><a href="{=''}/blog" class="{#if page.url.contains('/blog/')}active{/if}">BLOG</a></li>
          <li><a href="{=''}/discussion" class="{#if page.url.contains('/discussion/')}active{/if}">DISCUSSION</a></li>
          <li><a href="{=''}/working-groups" class="{#if page.url.contains('/working-groups/')}active{/if}">WORKING GROUPS</a></li>
          <li><a href="{=''}/insights" class="{#if page.url.contains('/insights/')}active{/if}">PODCAST</a></li>
          <li><a href="{=''}/events" class="{#if page.url.contains('/events/')}active{/if}">EVENTS</a></li>
          <li><a href="{=''}/newsletter" class="{#if page.url.contains('/newsletter/')}active{/if}">NEWSLETTER</a></li>
          <li><a href="https://github.com/orgs/quarkusio/projects/13/views/1" class="{#if page.url.contains('/roadmap/')}active{/if}">ROADMAP</a></li>
          <li><a href="{=''}/benefactors" class="{#if page.url.contains('/benefactors/')}active{/if}">BENEFACTORS</a></li>
          </ul>
      </li>
      <li>
        <a href="https://code.quarkus.io" class="button-cta secondary white">START CODING</a>
      </li>
      <li class="dropdown">
        <span href="{=''}/language/"><div class="fas fa-globe langicon"></div><i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="https://quarkus.io{=page.url.raw}" >OFFICIAL (ENGLISH)</a></li>
          <li><a href="https://pt.quarkus.io{=page.url.raw}">PORTUGUÊS (BR)</a></li>
          <li><a href="https://es.quarkus.io{=page.url.raw}">ESPAÑOL</a></li>
          <li><a href="https://cn.quarkus.io{=page.url.raw}">简体中文</a></li>
          <li><a href="https://ja.quarkus.io{=page.url.raw}">日本語</a></li>
          </ul>
      </li>
      <li>
        <span href="#" class="modeswitcher" id='theme-toggle'><i class="fas fa-sun"></i><i class="fas fa-moon"></i><i class="fas fa-cog"></i></span>
      </li>
    </ul>
      </nav>
    </div>
  </div>
</div>
