
<div class="full-width-bg component homepage-callout">
  <div class="grid-wrapper">
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{=''}/blog/aviatar-experiences-significant-savings/"><img class="light-only" src="{=''}/assets/images/home/userstories_lufthuansa.png" alt="Lufthansa Aviatar user story"><img class="dark-only" src="{=''}/assets/images/home/userstories_lufthuansa-dark.png" alt="Lufthansa Aviatar user story"></a>
    </div>
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{=''}/blog/logicdrop-customer-story/"><img class="light-only" src="{=''}/assets/images/home/userstories_logicdrop.png" alt="Logicdrop user story"><img class="dark-only" src="{=''}/assets/images/home/userstories_logicdrop-dark.png" alt="Logicdrop user story"></a>
    </div>
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{=''}/blog/banco-do-brasil-open-banking-user-story/"><img class="light-only" src="{=''}/assets/images/home/userstories_bancodobrasil.png" alt="Banco do Brasil open banking user story"><img class="dark-only" src="{=''}/assets/images/home/userstories_bancodobrasil-dark.png" alt="Banco do Brasil open banking user story"></a>
    </div>
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{=''}/blog/adoptium-customer-story/"><img class="light-only" src="{=''}/assets/images/home/userstories_adoptium.png" alt="Adoptium user story"><img class="dark-only" src="{=''}/assets/images/home/userstories_adoptium-dark.png" alt="Adoptium user story"></a>
    </div>
  </div>
  <div class="grid-wrapper quote-spacer">
    <div class="width-2-12 width-12-12-m callout-icon">
      <i class="fa fa-quote-left fa-5x"></i>
    </div>
    <div class="grid__item width-10-12 width-12-12-m">
      <p class="callout-quote">{=cdi:callout-quotes.quote.raw}</p>
      <p class="callout-credit">- {=cdi:callout-quotes.author.raw}</p>
      <p class="callout-link textCTA"><i class="fa fa-chevron-right"></i><a href="{=cdi:callout-quotes.usecaselink.raw}">Read this User Story</a> | <a href="{=''}/userstories/">See All User Stories</a></p>
    </div>
  </div>
</div>