<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-7-12 homepage-hero-band-callout">
    <img src="{=''}/assets/images/home/SSJ_hero.svg" alt="Supersonic Subatomic Java">
  </div>
  <div class="grid__item width-5-12 text-center homepage-hero-band-calloutcontent">
    <p class="nowavailable">Now Available</p>
    <h3>Quarkus {=cdi:versions.quarkus.version.replace(".Final", "").raw}</h3>
    <p class="moreinfo"><a href="{=cdi:versions.quarkus.announce.raw}">Read the release notes</a></p>
    <div class="callout-buttons">
      <a href="{=''}/get-started/" class="button-cta">Get Started with Quarkus</a>
      <a href="{=''}/guides/" class="button-cta">Read the Guides</a>
  </div>  
  </div>
</div>