<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-6-12 homepage-hero-band-callout">
    <img src="{=''}/assets/images/home/SSJ_hero.svg" alt="Supersonic Subatomic Java">
  </div>
  <div class="grid__item width-6-12 text-center homepage-hero-band-calloutcontent">
    <p>{=cdi:siteConfig.description.raw}</p>
    <p class="releasenotes">Latest Release: <span class="versioncallout">Quarkus {=cdi:versions.quarkus.version.replace(".Final", "").raw}</span><a href="{=cdi:versions.quarkus.announce.raw}">Read More</a></p>
    <div class="callout-buttons">
      <a href="{=''}/get-started/" class="button-cta">Get Started</a>
      <a href="{=''}/guides/" class="button-cta">Read the Guides</a>
  </div>  
  </div>
</div>