{#let docversion=docversion}
{#let docversion_index=docversion.replace('.', '-')}
{#let index=cdi:versioned.get(docversion_index).index}
{#let categories=index.quarkus.categories}
{#let by_type=index.quarkus.map("types").first}
<div id="guides-app">
  <qs-form server="{=cdi:searchConfig.host.raw}"
           quarkus-version="{=docversion.raw}"
           language="{=cdi:siteConfig.language.raw}"
           initial-timeout="{=cdi:searchConfig.initialTimeout.raw}"
           more-timeout="{=cdi:searchConfig.moreTimeout.raw}"
           min-chars="{=cdi:searchConfig.minChars.raw}"
  >
    <section class="full-width-version-bg flexfilterbar">
      <div class="flexcontainer">
        <div class="flexlabel">
          <label>{=cdi:index-docs.texts.by_version.raw}</label>
        </div>
        <div class="pulldown version">
          <select id="guidesindex-version-dropdown">
            {#for version in cdi:versions.documentation.orEmpty}
            <option value="{=version.raw}" {#if docversion == version}selected{/if}>{#if version == 
              'latest'}{=cdi:versions.quarkus.version.replaceAll("\.[0-9+]\.Final", "").raw} -
              {/if}{=version.capitalize.raw}{#if version == 'main'} - SNAPSHOT{/if}
            </option>
            {/for}
          </select>
        </div>
        <div class="flexlabel">
          <label>{=cdi:index-docs.texts.by_category.raw}</label>
        </div>
        <div class="pulldown category">
          <select name="categories">
            <option value="">{=cdi:index-docs.texts.all_categories.raw}</option>
            {#for item in categories.orEmpty}
            <option value="{=item.cat-id.raw}">{=item.category.raw}</option>
            {/for}
          </select>
        </div>
        <div class="search">
          <input name="q" type="search" placeholder="{=cdi:index-docs.texts.filter_by_keyword.raw}" autocomplete="off"/>
        </div>
      </div>
    </section>
  </qs-form>


  <div>
    <h1 class="title">{=page.title.raw}</h1>
  </div>

  <!-- Static content displayed when there is no input in the search form or Javascript is disabled,
       but also used as a source of data for cards displayed by the vue.js app. -->
  <qs-target origins-with-relative-urls="quarkus">
    <div class="grid-wrapper guides" id="all-docs">
            {#if index.mergeTypes('tutorial')}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="tutorial">{=cdi:index-docs.texts.tutorials.raw}</h3>
          <p>{=cdi:index-docs.texts.short_and_focused_exercises_to_get_you_going_quickly.raw}</p>
        </div>
        <div class="grid-wrapper">
          {#for guide in index.mergeTypes('tutorial')}
          {#include partials/index-doc-item.html type="tutorial" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin _unisolated /}
          {/for}
        </div>
      </div>
      {/if}
            {#if index.mergeTypes('howto')}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="guide">{=cdi:index-docs.texts.how_to_guides.raw}</h3>
          <p>{=cdi:index-docs.texts.step_by_step_guides_to_covering_key_tasks_real_world_operations_and_common_problems.raw}</p>
        </div>
        <div class="grid-wrapper">
          {#for guide in index.mergeTypes('howto')}
          {#include partials/index-doc-item.html type="howto" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin _unisolated /}
          {/for}
        </div>
      </div>
      {/if}
            {#if index.mergeTypes('concepts')}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="concept">{=cdi:index-docs.texts.concepts.raw}</h3>
          <p>{=cdi:index-docs.texts.explanations_of_some_of_the_larger_concepts_and_technologies_involved_with_quarkus.raw}</p>
        </div>
        <div class="grid-wrapper">
          {#for guide in index.mergeTypes('concepts')}
          {#include partials/index-doc-item.html type="concepts" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin _unisolated /}
          {/for}
        </div>
      </div>
      {/if}
            {#if index.mergeTypes('reference')}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="reference">{=cdi:index-docs.texts.references.raw}</h3>
          <p>{=cdi:index-docs.texts.technical_resource_that_covers_tools_components_and_commands_the_encyclopedia_for_quarkus.raw}</p>
        </div>
        <div class="grid-wrapper">
          {#for guide in index.mergeTypes('reference')}
          {#include partials/index-doc-item.html type="reference" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin _unisolated /}
          {/for}
        </div>
      </div>
      {/if}
            {#if index.mergeTypes('guide')}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3>{=cdi:index-docs.texts.general_guides.raw}</h3>
          <p>{=cdi:index-docs.texts.other_quarkus_guides.raw}</p>
        </div>
        <div class="grid-wrapper">
          {#for guide in index.mergeTypes('guide')}
          {#include partials/index-doc-item.html type="guides" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin _unisolated /}
          {/for}
        </div>
      </div>
      {/if}
    </div>
  </qs-target>
</div>

{/let}{/let}{/let}{/let}{/let}