{#let docversion=docversion}
{#let data_source=source}

<div id="guides-app">
  <qs-form server="{=cdi:searchConfig.host.raw}"
           quarkus-version="{=docversion.raw}"
           language="{=cdi:siteConfig.language.raw}"
           initial-timeout="{=cdi:searchConfig.initialTimeout.raw}"
           more-timeout="{=cdi:searchConfig.moreTimeout.raw}"
           min-chars="{=cdi:searchConfig.minChars.raw}"
  >
    <section class="full-width-version-bg flexfilterbar">
      <div class="flexcontainer">
        <div class="search">
          <input type="search" name="q" placeholder="Filter by keyword" autocomplete="off"/>
        </div>
        <div class="flexlabel">
          <label>By Version</label>
        </div>
        <div class="pulldown version">
          <select id="guidesindex-version-dropdown" >
            {#for version in cdi:versions.documentation.orEmpty}
            <option value="{=version.raw}" {#if docversion == version}selected{/if}>{#if version == 
              'latest'}{=cdi:versions.quarkus.version.replaceAll("\.[0-9+]\.Final", "").raw} -
              {/if}{=version.capitalize.raw}{#if version == 'main'} - SNAPSHOT{/if}
            </option>
            {/for}
          </select>
        </div>
      </div>
    </section>
  </qs-form>
  <div>
    <h1 class="title">{=page.title.raw}</h1>
  </div>


  <!-- Static content displayed when there is no input in the search form or Javascript is disabled,
       but also used as a source of data for cards displayed by the vue.js app. -->
  <qs-target origins-with-relative-urls="quarkus">
    <div class="grid-wrapper guides" id="docs">
      <div class="`grid__item width-6-12 width-12-12-m guide-categories callout-wrapper">
        <h3>View Category</h3>
        <ul>
          {#for item in site.data.get(data_source).categories.orEmpty}
          <li>
            <a href="#{=item.cat-id.raw}">{=item.category.raw}</a>
          </li>
          {/for}
        </ul>
      </div>

      <div class="grid__item width-12-12 click-cards">
        <ul class="list">
          {#for item in site.data.get(data_source).categories.orEmpty}
          <li>
            <h3 id="{=item.cat-id.raw}">{=item.category.raw}</h3>
            <div class="grid-wrapper list-item">
              {#for guide in item.guides.orEmpty}
              {#include partials/index-doc-item.html docversion=docversion
              title=guide.title url=guide.url summary=guide.description
              keywords=guide.keywords categories=guide.categories origin=guide.origin _unisolated /}
              {/for}
            </div>
          </li>
          {/for}
        </ul>
      </div>
    </div>
  </qs-target>
</div>
{/let}{/let}