<ul class="guide-list">
  {#for g in guides.orEmpty}
    {#if g.title}
    {#let guide_url=g.url.versionedGuideUrl(docversion)}
      <li>
        <qs-guide type="{=g.type.escapeHtml.raw}"
                  title="{=g.title.escapeHtml.raw}"
                  url="{=guide_url.raw}"
                  summary="{=g.summary.escapeHtml.raw}"
                  status="{=g.status.escapeHtml.raw}"
                  keywords="{#for t in g.topics.orEmpty}{=t.escapeHtml.raw}{#if t_hasNext},{/if}{/for}"
                  categories="{=g.categories.escapeHtml.raw}"
                  origin="{=g.origin.escapeHtml.raw}"
                  {#if pinned}pinned{/if}
        >
          <a href="{=guide_url.raw}">{=g.title.raw}</a>
          {#if g.summary}<span class="guide-summary">{=g.summary.raw}</span>{/if}
        </qs-guide>
      </li>
    {/let}
    {/if}
  {/for}
</ul>
