{#let is_external_guide=url.startsWith('http')}
{#if is_external_guide}
{#let guide_url=url}
{/let}{#else if docversion == 'latest'}
{#let guide_url=''.append(url)}

<qs-guide type="{=type.escapeHtml.raw}"
          title="{=title.escapeHtml.raw}"
          status="{=status.escapeHtml.raw}"
          url="{=guide_url.raw}"
          summary="{=summary.markdownify.raw}"
          keywords="{=keywords.escapeHtml.raw}"
          categories="{=categories.escapeHtml.raw}"
          origin="{=origin.escapeHtml.raw}"
>
  <!-- WE KEEP PART OF THE CONTENT FOR SEO -->
  <h4><a href="{=guide_url.raw}" {#if is_external_guide}target="_blank" {/if}>{=title.raw}</a></h4>
  <div class="description">{=summary.markdownify.raw}</div>
</qs-guide>

{/let}{#else}
{#let guide_url=''.append('/version/').append(docversion).append(url)}

<qs-guide type="{=type.escapeHtml.raw}"
          title="{=title.escapeHtml.raw}"
          status="{=status.escapeHtml.raw}"
          url="{=guide_url.raw}"
          summary="{=summary.markdownify.raw}"
          keywords="{=keywords.escapeHtml.raw}"
          categories="{=categories.escapeHtml.raw}"
          origin="{=origin.escapeHtml.raw}"
>
  <!-- WE KEEP PART OF THE CONTENT FOR SEO -->
  <h4><a href="{=guide_url.raw}" {#if is_external_guide}target="_blank" {/if}>{=title.raw}</a></h4>
  <div class="description">{=summary.markdownify.raw}</div>
</qs-guide>

{/let}{/if}{/let}