<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{=cdi:newsletter.headline.raw}</h3>
    </div>

  {#for item in cdi:newsletter.newsletter.orEmpty}
      <div class="card">
        <a href="{=item.link.raw}"></a>
        <div>
          <p class="title">{=item.title.raw}</p>
          <div class="description">Publication Date: {=item.date.raw}</div>
        </div>
      </div>
  {/for}

  </div>
</div>
