
{#let groups=publications.groupBy(cdi:siteConfig.publication.group_by).sort("name")}
{#for group in groups.orEmpty}

<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <p>{=cdi:publication-entries.texts.if_you_know_of_a_cool_article_blog_or_video_that_we_are_missing_please_submit_an_issue.raw}</p>
      <h2 class="mt-0">{=cdi:siteConfig.publication.type_names.get(group.name).raw}</h2>
    </div>

   {#let sorted=group.items.sort("date").reverse}
        {#for entry in sorted.orEmpty}
          <div class="card">
              <a href="{=entry.url.raw}" target="blank"></a>
              <p class="title">{=entry.title.raw}</p>
              <div class="description">
                {#if entry.note}
                    {=entry.note.raw}
                {/if}
              </div>
              <div class="metatext">Author: {=entry.author.raw}</div>
              <div class="metatext">Posted: {=entry.date.format('d. MMMM yyyy').or('').raw}</div>
              <div class="metatext">
                {#if entry.language}
                    ({=entry.language.raw})
                {/if}
              </div>
              <div class="metatext">
                {#if entry.affiliation}
                    From: {=entry.affiliation.raw}
                {/if}
              </div>              
          </div>
    {/for}
  </div>
</div>

{/let}{/for}
{/let}