<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">{=cdi:qtips-videos.featuredheadline.raw}</h3>
    </div>
  {#for item in cdi:qtips-videos.featuredvideo.orEmpty}

    <div class="width-7-12 width-12-12-m">
      <div class="iframe-container">
        <iframe width="560" height="315" src="{=item.embed.raw}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    </div>
    <div class="width-5-12 width-12-12-m">
      <p>Title: {=item.title.raw}</a></p>
      <p>Date: {=item.date.raw}</p>
      <p>Author: {=item.authors.raw}</p>
    </div>

  {/for}

  </div>
</div>
