<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{=cdi:qtips-videos.pastheadline.raw}</h3>
    </div>

  {#for item in cdi:qtips-videos.pastvideos.orEmpty}
      <div class="card">
        <a href="{=item.link.raw}" target="_blank"></a>
        <div>
          <p class="title">{=item.title.raw}</a></p>
          <div class="metatext">Date: {=item.date.raw}</div>
          <div class="metatext">Author: {=item.authors.raw}</div>
        </div>
      </div>
  {/for}

  </div>
</div>

