<div class="component recent-posts-band full-width-bg alt-background">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2 class="text-centered">{=cdi:recent-posts-band.texts.recent_blog_posts.raw}</h2>
      </div>
      {#for post in site.collections.get('posts').orEmpty}
        {#if post_count <= 3}
          <div class="block-item width-4-12 width-12-12-m">
            <div class="post-title">
              <h6 class="margin-tb-0"><a href="{=''}{=post.url.raw}">{=post.title.raw}</a></h6>
            </div>

            <p class="datetag margin-tb-sm">
              {=post.date.format('MMMM dd, yyyy').or('').raw} &nbsp;&nbsp;&nbsp;Tags:
              {#for tag in post.data.tags.asStrings}
                <a href="{=''}/blog/tag/{=tag.toLowerCase.replace('.', '-').raw}">{=tag.toLowerCase.raw}</a>
              {/for}
            </p>

            <div class="byline margin-tb-sm">
              {#for author_key in str:splitTrimmed(post.data.author, ",").orEmpty}
                {#let author=cdi:authors.get(author_key)}
                {#if author.emailhash}
                <div>
                  <img class="headshot" src="https://www.gravatar.com/avatar/{=author.emailhash.raw}" alt="{=author.name.raw} avatar">
                </div>
                {/if}
                <div>
                  <a href="{=''}/author/{=author_key.raw}">{=author.name.raw}</a>
                </div>
              {/let}{/for}
            </div>

            {#if post.data.synopsis}
              <p>{=post.data.synopsis.stripHtml.raw}</p>
            {#else}
              <p>{=post.content.stripHtml.truncate(280).raw}</p>
            {/if}

            <div class="text-centered">
              <a href="{=''}{=post.url.raw}" class="button-cta-white">{=cdi:recent-posts-band.texts.read_full_article.raw}</a>
            </div>
          </div>
      {/if}
    {/for}
  </div>
</div>
