{#let today=now.format('yyyy-MM-dd').or('')}
{#let __firstMatch=list:whereNot(cdi:releases.releases, 'upcoming').first}{#let latest_version=__firstMatch.version}{#let latest_major=str:split(__firstMatch.version, '.').first}
<table class="tableblock frame-all grid-all fit-content">
<colgroup>
<col>
<col>
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-center valign-top">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Latest {=latest_major.raw}.x</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">✅</p></td>
</tr>
{#for release in cdi:releases.releases.orEmpty}
{#if release.lts}
{#let eol_str=release.eol_date.format('yyyy-MM-dd').or('')}
{#if eol_str > today && release.version ne latest_version}
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">{=release.version.raw} LTS</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">✅</p></td>
</tr>
{/if}
{/let}{/if}
{/for}
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Older {=latest_major.raw}.x</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">❌</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; {=latest_major.raw}.0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">❌</p></td>
</tr>
</tbody>
</table>
{/let}{/let}{/let}