<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{=cdi:training.headline.raw}</h3>
      <p class="mt-0">{=cdi:training.disclaimer.raw}</p>
      <p class="mt-0">{=cdi:training.addtraining.raw}</p>
    </div>

  {#for item in cdi:training.courses.orEmpty}
          <div class="card">
              <a href="{=item.url.raw}" target="blank"></a>
              <p class="title">{=item.affiliation.raw}</p> 
              <div class="description">
                {=item.descr.raw}
              </div>
              <div class="metatext">
              Course Type: {=item.type.raw}<br/>
              Course Language: {=item.language.raw}
              </div>           
          </div>
  {/for}

  </div>
</div>
