<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
    </div>

    {#for post in site.collections.get('posts/tag/user-story').orEmpty}
    {#let author=cdi:authors.get(post.data.author)}
      <div class="card">
        <a href="{=''}{=post.url.raw}"></a>
        <div>
          {#if post.data.thumbnailimage}
            <img src="{=post.data.thumbnailimage.or('').raw}" alt="{=post.title.raw}">
          {/if}          
          <p class="title">{=post.title.raw}</p>
          <div class="description">
          {#if post.data.synopsis}
            <p>{=post.data.synopsis.stripHtml.raw}</p>
          {#else}
            <p>{=post.content.stripHtml.truncate(200).raw}</p>
          {/if}</div>
          <div class="metatext">Written by: {#if author} {=author.name.raw} {#else} {=post.data.author.or('').raw} {/if} </div>
        </div>
      </div>
    {/let}{/for}

  </div>
</div>
