<div class="version-split{#if extra_class} {=extra_class.raw}{/if}"{#if id} id="{=id.raw}"{/if}>
  <label class="version-split-description-label" for="guide-version-selector">Version:</label>
  <button type="button" class="version-split-toggle" id="guide-version-selector"
          aria-haspopup="true" aria-expanded="false"
          aria-label="Select documentation version">
    <span class="version-split-display">
      <span class="version-split-label">{=docversion.capitalize.raw}</span>
    </span>
    <span class="version-split-caret">
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </button>
  <ul class="version-split-menu" role="menu">
    {#for version in versions.orEmpty}
    <li role="none">
      <a role="menuitem"
         class="version-split-item{#if docversion == version} is-current{/if}"
         {#if docversion == version}aria-current="true"{/if}
         href="{#if version == 'latest'}{=path.raw}{#else}/version/{=version.raw}{=path.raw}{/if}">
        {=version.capitalize.raw}
      </a>
    </li>
    {/for}
  </ul>
</div>
