{#let normalized_docversion=docversion.normalizeVersion(cdi:versions.quarkus.version)}
<div class="version-split{#if extra_class} {=extra_class.raw}{/if}"{#if id} id="{=id.raw}"{/if}>
  <label class="version-split-description-label" for="guide-version-selector">Version:</label>
  <button type="button" class="version-split-toggle" id="guide-version-selector"
          aria-haspopup="true" aria-expanded="false"
          aria-label="Select documentation version">
    <span class="version-split-display">
      <span class="version-split-label">{=normalized_docversion.versionLabel(cdi:versions.quarkus.version).raw}</span>
    </span>
    <span class="version-split-caret">
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </button>
  <ul class="version-split-menu" role="menu">
    {#for version in versions.dropLatestDuplicate(cdi:versions.quarkus.version).orEmpty}
    {#let is_current=version.isSelectedVersion(docversion, cdi:versions.quarkus.version)}
    <li role="none">
      <a role="menuitem"
         class="version-split-item{#if is_current} is-current{/if}"
         {#if is_current}aria-current="true"{/if}
         href="{#if version == 'latest'}{=path.raw}{#else}/version/{=version.raw}{=path.raw}{/if}">
        {=version.versionLabel(cdi:versions.quarkus.version).raw}
      </a>
    </li>
    {/let}
    {/for}
  </ul>
</div>
{/let}
