<div class="full-width-bg component-slim">

    <div class="grid-wrapper workshops-cards">

        {#for item in cdi:workshops.workshops}
        {#if !item.archived}
        <div class="card">
            <div class="card-header">
                <a href="{=item.url}">
                    <p class="card-title">{=item.title.raw}</p>
                </a>
            </div>
            <div class="card-body">
                <a href="{=item.url}">
                    <img src="{=item.thumbnail.raw}" class="thumbnail" alt="a thumbnail of {=item.title.raw}"/>
                </a>
                <a href="{=item.url}">
                    <p class="card-text">{=item.description.raw}</p>
                </a>

            </div>
            <div class="card-footer">
                {#if item.src}
                <a href="{=item.src}" title="workshop source">
                    <div class="icons">
                        <i class="icon fa-brands fa-square-github"></i>
                    </div>
                </a>
                {/if}
                {#if item.stars}
                <div class="stars">
                    <a href="{=item.src}" title="workshop source">
                        <i class="icon far fa-star"></i> {=item.stars}
                    </a>&nbsp;
                </div>
                {/if}

            </div>
        </div>
        {/if}
        {/for}
    </div>

        <div class="discuss">
            <i class="icon fa-solid fa-comments"></i>
            Want to discuss workshops? You can find us on <a
                href="https://quarkusio.zulipchat.com/#narrow/channel/402952-workshops"
                title="Zulip workshops channel">Zulip</a>.
        </div>
</div>

