---
layout: base
---

{#include partials/title-band.html _unisolated /}

<div class="grid-wrapper click-cards authors">
{#let authors=cdi:authors.sort('name')}
{#for data in authors.orEmpty}
{#let authorid=data.first}
{#let author=data.last}

<div class="card">
  <a class="author-card" href="{=''}/author/{=authorid.raw}">
    {#if author.emailhash}
      <img loading="lazy" class="headshot" src="https://www.gravatar.com/avatar/{=author.emailhash.raw}" alt="{=author.name.raw} avatar">
    {#else}
      <span class="headshot headshot-fallback"><i class="fas fa-user"></i></span>
    {/if}
    <p class="name">{=author.name.raw}</p>
    {#if author.bio}
      <p class="bio">{=author.bio.raw}</p>
    {/if}
  </a>
</div>

{/let}{/let}{/for}
{/let}
</div>
