---
layout: base
---
{#let _m=mut:map()}
<!-- This has the username of author. The one that you set with "author: name" in front-matter-->
{#let author_username=page.data._key}

<!-- Use page.data only if you have data file setup correctly -->
{#let author_data=page.data}
{#let page_title='Posts by '.append(author_data.name)}

{#include partials/title-band.html page_title=page_title _unisolated /}

<div class="full-width-breadcrumb-bg align-self">
  <div class="width-12-12">
      <p class="returnlink"><a href="{=''}/author">Authors</a> <i class="fas fa-chevron-right"></i> {=page_title.raw}</p>
  </div>
</div>

<div class="grid-wrapper blog-page">
  <div class="grid__item width-9-12 width-12-12-m">
    <h2 class="title byline-wrapper">
      {#if author_data.emailhash}
      <img class="headshot" src="https://www.gravatar.com/avatar/{=author_data.emailhash.raw}" alt="{=author_data.name.raw} avatar">
      {/if}
      <p class="byline">
        {=author_data.name.raw} {#if author_data.twitter}(<a href="https://twitter.com/{=author_data.twitter.raw}">@{=author_data.twitter.raw}</a>){/if}
      </p>
    </h2>
    <p>{=author_data.bio.raw}</p>

    {#if site.collections.get('posts').filter('author', page.data._key).size > 0}
    <h2 class="title">Posts</h2>
    {#for post in site.collections.get('posts').filter('author', page.data._key).orEmpty}

      {!  Build multi-_m.read('author') list for this post  !}
      <div class="blog-list-item grid-wrapper">
        <div class="grid__item width-12-12">
          <div class="post-title">
            <a href="{=''}{=post.url.raw}">{=post.title.raw}</a>
          </div>
          <div class="post-date small">
            {=post.date.format('MMMM dd, yyyy').or('').raw}
            {#if post.data.tags}
              <span class="tags">
                tags:{#for tag in post.data.tags.asStrings}
                  <a href="{=''}/blog/tag/{=tag.toLowerCase.replace('.', '-').raw}">#{=tag.toLowerCase.raw}</a>
                {/for}
              </span>
            {/if}
          </div>
        </div>

        <div class="grid__item width-8-12 width-12-12-m byline-wrapper">
          By 
          <p class="byline">
          {#for author_key in str:splitTrimmed(post.data.author, ",").orEmpty}
            {=_m.assign('author', cdi:authors.get(author_key)).raw}
            {#if _m.read('author').emailhash}
              <img class="headshot" src="https://www.gravatar.com/avatar/{=_m.read('author').emailhash.raw}" alt="{=_m.read('author').name.raw} avatar">
            {/if}
            <a href="{=''}/author/{=author_key.raw}">{=_m.read('author').name.raw}</a>
            {#if author_key_hasNext}, {/if}
          {/for}
          </p>
        </div>

        <div class="grid__item width-12-12">
          {#if post.data.synopsis}
            <p>{=post.data.synopsis.stripHtml.raw}</p>
          {#else}
            <p>{=post.content.stripHtml.wordLimit(75).raw}</p>
          {/if}
        </div>

        <div class="grid__item width-8-12 read-more small">
          <a href="{=''}{=post.url.raw}">Read More &rsaquo;</a>
        </div>
        <div class="grid__item width-4-12 width-12-12-m share-post">
          {#include partials/share-page.html title=post.title url=post.url _unisolated /}
        </div>
      </div>

    {/for}

    {#if page.paginator && page.paginator.total > 1}
      <div class="paginator-btns">
        {#if page.paginator && page.paginator.next}
          <a href="{=page.paginator.next.prepend('').raw}" class="button-cta primary btn-sm">Older Posts</a>
        {/if}
        {#if page.paginator && page.paginator.previous}
          <a href="{=page.paginator.previous.prepend('').raw}" class="button-cta primary btn-sm">Newer Posts</a>
        {/if}
      </div>
    {/if}

    {/if}
  </div>
</div>
{/let}{/let}{/let}{/let}