{#let _m=mut:map()}<!DOCTYPE html>
<html lang="{=cdi:siteConfig.language.raw}">
{=_m.assign('page_title_version_suffix', '').raw}
{#if page.url.contains('/guides/')}
  {=_m.assign('versioned_page', page.url.startsWith('/version/')).raw}
  {#if _m.read('versioned_page')}
    {=_m.assign('page_title_version_suffix', page.url.path.replaceAll('^/version/([^/]+)/.*', '$1').prepend(' - ')).raw}
  {/if}
{/if}
{#let page_title_starts_with_quarkus=page.title.startsWith('Quarkus -')}
{#let page_title_ends_with_quarkus=page.title.endsWith('- Quarkus')}

{#if page.data.search_wc || layout.search_wc}
  {=_m.assign('search_wc', true).raw}
{/if}
{#let remote_search_script=cdi:searchConfig.scriptMode.equals('direct')}
{#if _m.read('search_wc')}
  {#if remote_search_script}
    {=_m.assign('search_script', cdi:searchConfig.host.append(cdi:searchConfig.scriptPath)).raw}
    {=_m.assign('search_script_src', _m.read('search_script')).raw}
  {#else}
    {=_m.assign('search_script_src', cdi:searchConfig.cachedScriptFile.prepend('/')).raw}
  {/if}
{/if}

<head>
  <title>{=page.title.raw}{=_m.read('page_title_version_suffix').raw}{#if !page_title_starts_with_quarkus && !page_title_ends_with_quarkus} - Quarkus{/if}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {#include partials/head-csp.html _unisolated /}
  <script src="{='/assets/javascript/highlight.pack.js'}" type="text/javascript"></script>
  <META HTTP-EQUIV='X-XSS-Protection' CONTENT="1; mode=block">
  <META HTTP-EQUIV='X-Content-Type-Options' CONTENT="nosniff">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{#if page.description}{=page.description.raw}{#else}{=site.description.raw}{/if}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@QuarkusIO"> 
  <meta name="twitter:creator" content="@QuarkusIO">
  <meta property="og:url" content="{=page.url.prepend(site.url.root.url).raw}" />
  <meta property="og:title" content="{=page.title.raw}{=_m.read('page_title_version_suffix').raw}" />
  <meta property="og:description" content="{#if page.description}{=page.description.raw}{#else}{=site.description.raw}{/if}" />
  <meta property="og:image" content="{='/assets/images/quarkus_card.png'.prepend(site.url.root.url).raw}" />
  {#let canonical_url=page.url.path.replaceAll('^/version/[^/]+', '')}
  <link rel="canonical" href="{=canonical_url.prepend(site.url.root.url).raw}">
  <link rel="shortcut icon" type="image/png" href="{="/favicon.ico".prepend('').raw}" >
  <link rel="stylesheet" href="/guides/stylesheet/config.css" />
  {#bundle /}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous">
  <link rel="alternate" type="application/rss+xml"  href="/feed.xml" title="{=site.title.raw}">
  <script src="/assets/javascript/hl.js" type="text/javascript"></script>
  {! 
    Tell Google all the language variants of a page, including itself. Existence of the localized variant is not checked.
   !}
  {#let path=page.url.removeFirst("/")}
  {#let languages=cdi:projectfooter.links.where("id", "languages").first}
  {#for language in languages.subfolderitems.orEmpty}
  <link rel="alternate" hreflang="{=language.code.raw}" href="{=language.url.append(path).raw}" />
  {/for}
  <link rel="alternate" hreflang="x-default" href="https://quarkus.io/" />  
  <script src="{=''}/assets/javascript/tracking.js"></script>
  {#if _m.read('search_wc')}
    {! 
    The first connection to the remote search service can be slow,
    and once in this block we're pretty sure to use the remote search service.
    Pre-connecting in the background speeds up the first call to the service.
    Note "crossorigin" is necessary for this to work, because we use CORS.
     !}
    <link rel="preconnect" href="{=cdi:searchConfig.host.raw}" crossorigin />
    <script src="{=_m.read('search_script_src').raw}" type="module" blocking="render"></script>
  {/if}
  <script src="{='/assets/javascript/colormode.js'}" type="text/javascript"></script>

</head>

<body class="{#if page.url.path == '/'}homepage{#else}{=page.data.layout.or('').raw}{/if}">

  {#include partials/language-headerbar.html _unisolated /}
  {#include partials/header-navigation.html _unisolated /}
  <div class="content">
    {#insert /}
  </div>

  {#include partials/project-footer.html _unisolated /}
  {#include partials/commonhaus-footerband.html _unisolated /}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha384-8gBf6Y4YYq7Jx97PIqmTwLPin4hxIzQw5aDmUg/DDhul9fFpbbLcLh3nTIIDJKhx" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{='/assets/javascript/mobile-nav.js'}"></script>
  <script type="text/javascript" src="{='/assets/javascript/scroll-down.js'}"></script>
  <script src="{='/guides/javascript/config.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/guides-version-dropdown.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/back-to-top.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/clipboard.min.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/copy.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/asciidoc-tabs.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/future-date.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/randomize.js'}" type="text/javascript"></script>
  <script src="{='/assets/javascript/time.js'}" type="text/javascript"></script>
</body>

</html>
{/let}{/let}{/let}{/let}{/let}{/let}{/let}