---
layout: base
search_wc: true
---
{#let versioned_page=page.url.startsWith('/version/')}
{#if versioned_page}
  {#let docversion=page.url.path.replaceAll('^/version/([^/]+)/.*', '$1')}


{#include partials/back-to-top.html _unisolated /}

{#let docversion_index=docversion.replace('.', '-')}

{#if cdi:versioned.get(docversion_index).index}
  {#include partials/index-docs.html docversion=docversion _unisolated /}  
{#else}
  {#let data_source="guides-".append(docversion.replace('.', '-'))}
  {#include partials/index-guides.html source=data_source docversion=docversion _unisolated /}  
{/let}{/if}
{/let}{/let}{#else}
  {#let docversion='latest'}


{#include partials/back-to-top.html _unisolated /}

{#let docversion_index=docversion.replace('.', '-')}

{#if cdi:versioned.get(docversion_index).index}
  {#include partials/index-docs.html docversion=docversion _unisolated /}  
{#else}
  {#let data_source="guides-".append(docversion.replace('.', '-'))}
  {#include partials/index-guides.html source=data_source docversion=docversion _unisolated /}  
{/let}{/if}
{/let}{/let}{/if}{/let}