---
layout: base
---

{#include partials/title-band.html _unisolated /}

<div class="full-width-bg component">
    <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m">
            <img class="light-only" src="{=''}/{=page.data.icon-light.raw}" alt="{=page.title.raw} icon"/>
            <img class="dark-only" src="{=''}/{=page.data.icon-dark.raw}" alt="{=page.title.raw} icon"/>
        </div>
        <div class="width-9-12 width-12-12-m">
            <p class="intropara">{=page.data.intro.or('').raw}</p>
        </div>
        <div class="feature-content width-12-12">
            {#insert /}
        </div>
    </div>
</div>
