---
layout: base
---
{#capture guide_content}
{#let guide_url=page.url.path.replaceAll('^/version/[^/]+(/.*)', '$1').replaceAll('/$', '')}

<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{=''}/{#if versioned_page}version/{=docversion.raw}/guides/{#else}guides/{/if}"> Back to Guides</a>
    </div>
    <div class="flexlabel">
      <label>By Version</label>
    </div>
    <div class="guidepulldown version">
    <select id="guide-version-dropdown">
    {#for version in cdi:versions.documentation.dropLatestDuplicate(cdi:versions.quarkus.version).orEmpty}
      {#let data_source=version.replace('.', '-')}
      {#let is_current=version.isSelectedVersion(docversion, cdi:versions.quarkus.version)}
        {#if is_current || cdi:versioned.get(data_source).index.containsGuide(guide_url)}
        <option value="{=version.raw}" {#if is_current}selected{/if}>{=version.versionLabel(cdi:versions.quarkus.version).raw}</option>
        {/if}
      {/let}
      {/let}
    {/for}
    </select>
    </div>
  </div>
</section>

<div class="grid-wrapper guides-configuration-reference">
  <div class="width-12-12">
    <div>
      <h1 class="text-caps">{=page.title.raw} {=page.data.docversion.or('').raw}</h1>
      {#insert /}
    </div>
  </div>
</div>
{/let}
{/capture}
{#let versioned_page=page.url.startsWith('/version/')}
{#if versioned_page}
  {#let docversion=page.url.path.replaceAll('^/version/([^/]+)/.*', '$1')}
{#include $guide_content /}
{/let}{#else}
  {#let docversion='latest'}
{#include $guide_content /}
{/let}{/if}{/let}
