---
layout: base
---
{#let versioned_page=page.url.startsWith('/version/')}
{#if versioned_page}
  {#let docversion=page.url.path.replaceAll('^/version/([^/]+)/.*', '$1')}

{#let guide_url=page.url.path.replaceAll('^/version/[^/]+(/.*)', '$1')}

{#include partials/title-band.html _unisolated /}

<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{=''}/{#if versioned_page}version/{=docversion.raw}/guides/{#else}guides/{/if}"> Back to Guides</a>
    </div>
    <div class="flexlabel">
      <label>By Version</label>
    </div>
    <div class="guidepulldown version">
    <select id="guide-version-dropdown">
    {#for version in cdi:versions.documentation.orEmpty}
      <option value="{=version.raw}" {#if docversion == version}selected{/if}>{#if version == 'latest'}{=cdi:versions.quarkus.version.replaceAll("\.[0-9+]\.Final", "").raw} - {/if}{=version.capitalize.raw}{#if version == 'main'} - SNAPSHOT{/if}</option>
    {/for}
    </select>
    </div>
  </div>
</section>
 
<div class="grid-wrapper guide">
  <div class="width-12-12">
    <div>
      {#insert /}
    </div>
  </div>
</div>
{/let}{/let}{#else}
  {#let docversion='latest'}

{#let guide_url=page.url.path.replaceAll('^/version/[^/]+(/.*)', '$1')}

{#include partials/title-band.html _unisolated /}

<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{=''}/{#if versioned_page}version/{=docversion.raw}/guides/{#else}guides/{/if}"> Back to Guides</a>
    </div>
    <div class="flexlabel">
      <label>By Version</label>
    </div>
    <div class="guidepulldown version">
    <select id="guide-version-dropdown">
    {#for version in cdi:versions.documentation.orEmpty}
      <option value="{=version.raw}" {#if docversion == version}selected{/if}>{#if version == 'latest'}{=cdi:versions.quarkus.version.replaceAll("\.[0-9+]\.Final", "").raw} - {/if}{=version.capitalize.raw}{#if version == 'main'} - SNAPSHOT{/if}</option>
    {/for}
    </select>
    </div>
  </div>
</section>
 
<div class="grid-wrapper guide">
  <div class="width-12-12">
    <div>
      {#insert /}
    </div>
  </div>
</div>
{/let}{/let}{/if}{/let}