---
layout: base
---
{#let _m=mut:map()}{#let versioned_page=page.url.startsWith('/version/')}
{#if versioned_page}
  {#let docversion=page.url.path.replaceAll('^/version/([^/]+)/.*', '$1')}

{#let docversion_index=docversion.replace('.', '-')}
{! 
'page.sourcePath' pattern is different depending on the version
- "Main - SNAPSHOT" -> _versions/main/guides/*.adoc
- "x.x.x - Latest" ->  _guides/*.adoc
=> to extract the page filename you need two different replacement tokens
 !}
{#let page_filename=page.sourcePath.replace('_guides/', '').replace('_versions/main/guides/', '')}
{#let relations=cdi:versioned.get(docversion_index).index.relations}
{#let guide_url=page.url.path.replaceAll('^/version/[^/]+(/.*)', '$1')}

<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{=''}/{#if versioned_page}version/{=docversion.raw}/guides/{#else}guides/{/if}"> Back to Guides</a>
    </div>
    <div class="flexlabel">
      <label>{=cdi:guides.texts.by_version.raw}</label>
    </div>
    <div class="guidepulldown version">
    <select id="guide-version-dropdown">
      {#for version in cdi:versions.documentation.orEmpty}
        {#let legacy_data_source="guides-".append(version.replace('.', '-'))}
        {=_m.assign('guide_present_in_version', false).raw}
        {#for item in site.data.get(legacy_data_source).categories.orEmpty}
          {#for guide in item.guides.orEmpty}
            {#if guide.url == guide_url}
              {=_m.assign('guide_present_in_version', true).raw}
            {/if}
          {/for}
        {/for}
        {#let data_source=version.replace('.', '-')}
        {#for type in cdi:versioned.get(data_source).index.quarkus.types.orEmpty}
          {#for guide in type.get(1).orEmpty}
            {#if guide.url == guide_url}
              {=_m.assign('guide_present_in_version', true).raw}
            {/if}
          {/for}
        {/for}
        {#if _m.read('guide_present_in_version') || docversion == version}
        <option value="{=version.raw}" {#if docversion == version}selected{/if}>{#if version == 'latest'}{=cdi:versions.quarkus.version.replaceAll("\.[0-9+]\.Final", "").raw} - {/if}{=version.capitalize.raw}{#if version == 'main'} - SNAPSHOT{/if}</option>
        {/if}
      {/let}{/let}{/for}
    </select>
    </div>
  </div>
</section>

<div class="guide">
  <div class="grid-wrapper">
    <div class="grid__item width-8-12 width-12-12-m">
      {#if docversion == 'latest' || docversion == 'main'}
      <a class="editlink" href="https://github.com/quarkusio/quarkus/edit/main/docs/src/main/asciidoc/{=page_filename.raw}">{=cdi:guides.texts.edit_this_page.raw}</a>
      {/if}
      <h1 class="text-caps">{=page.title.raw} {=page.data.docversion.or('').raw}</h1>
      {#insert /}
    </div>
    <div class="grid__item width-4-12 width-12-12-m tocwrapper">
      <div class="hide-mobile toc">{#if page.data.document}{=page.data.document | tocify_asciidoc.raw}{/if}</div>
    </div>
  </div>
  {#if relations && relations.get(guide_url)}
  <h2>{=cdi:guides.texts.related_content.raw}</h2>
  <div class="grid-wrapper relations">
    {#if relations.get(guide_url).sameExtensions}
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>{=cdi:guides.texts.on_the_same_extensions.raw}</h3>
      <ul class="related-content">
      {#for guide in relations.get(guide_url).sameExtensions.orEmpty}
        {=_m.assign('is_external_guide', guide.url.startsWith('http')).raw}
        {#if _m.read('is_external_guide')}
          {=_m.assign('related_guide_url', url).raw}
        {#else if docversion == 'latest'}
          {=_m.assign('related_guide_url', ''.append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {#else}
          {=_m.assign('related_guide_url', ''.append('/version/').append(docversion).append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {/if}{/for}
      </ul>
    </div>
    {/if}
    {#if relations.get(guide_url).sameTopics}
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>{=cdi:guides.texts.on_the_same_topics.raw}</h3>
      <ul class="related-content">
      {#for guide in relations.get(guide_url).sameTopics.orEmpty}{#if guide_count <= 20}
        {=_m.assign('is_external_guide', guide.url.startsWith('http')).raw}
        {#if _m.read('is_external_guide')}
          {=_m.assign('related_guide_url', url).raw}
        {#else if docversion == 'latest'}
          {=_m.assign('related_guide_url', ''.append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {#else}
          {=_m.assign('related_guide_url', ''.append('/version/').append(docversion).append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {/if}{/if}{/for}
      </ul>
    </div>
    {/if}
  </div>
  {/if}
</div>
{/let}{/let}{/let}{/let}{/let}{#else}
  {#let docversion='latest'}

{#let docversion_index=docversion.replace('.', '-')}
{! 
'page.sourcePath' pattern is different depending on the version
- "Main - SNAPSHOT" -> _versions/main/guides/*.adoc
- "x.x.x - Latest" ->  _guides/*.adoc
=> to extract the page filename you need two different replacement tokens
 !}
{#let page_filename=page.sourcePath.replace('_guides/', '').replace('_versions/main/guides/', '')}
{#let relations=cdi:versioned.get(docversion_index).index.relations}
{#let guide_url=page.url.path.replaceAll('^/version/[^/]+(/.*)', '$1')}

<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{=''}/{#if versioned_page}version/{=docversion.raw}/guides/{#else}guides/{/if}"> Back to Guides</a>
    </div>
    <div class="flexlabel">
      <label>{=cdi:guides.texts.by_version.raw}</label>
    </div>
    <div class="guidepulldown version">
    <select id="guide-version-dropdown">
      {#for version in cdi:versions.documentation.orEmpty}
        {#let legacy_data_source="guides-".append(version.replace('.', '-'))}
        {=_m.assign('guide_present_in_version', false).raw}
        {#for item in site.data.get(legacy_data_source).categories.orEmpty}
          {#for guide in item.guides.orEmpty}
            {#if guide.url == guide_url}
              {=_m.assign('guide_present_in_version', true).raw}
            {/if}
          {/for}
        {/for}
        {#let data_source=version.replace('.', '-')}
        {#for type in cdi:versioned.get(data_source).index.quarkus.types.orEmpty}
          {#for guide in type.get(1).orEmpty}
            {#if guide.url == guide_url}
              {=_m.assign('guide_present_in_version', true).raw}
            {/if}
          {/for}
        {/for}
        {#if _m.read('guide_present_in_version') || docversion == version}
        <option value="{=version.raw}" {#if docversion == version}selected{/if}>{#if version == 'latest'}{=cdi:versions.quarkus.version.replaceAll("\.[0-9+]\.Final", "").raw} - {/if}{=version.capitalize.raw}{#if version == 'main'} - SNAPSHOT{/if}</option>
        {/if}
      {/let}{/let}{/for}
    </select>
    </div>
  </div>
</section>

<div class="guide">
  <div class="grid-wrapper">
    <div class="grid__item width-8-12 width-12-12-m">
      {#if docversion == 'latest' || docversion == 'main'}
      <a class="editlink" href="https://github.com/quarkusio/quarkus/edit/main/docs/src/main/asciidoc/{=page_filename.raw}">{=cdi:guides.texts.edit_this_page.raw}</a>
      {/if}
      <h1 class="text-caps">{=page.title.raw} {=page.data.docversion.or('').raw}</h1>
      {#insert /}
    </div>
    <div class="grid__item width-4-12 width-12-12-m tocwrapper">
      <div class="hide-mobile toc">{#if page.data.document}{=page.data.document | tocify_asciidoc.raw}{/if}</div>
    </div>
  </div>
  {#if relations && relations.get(guide_url)}
  <h2>{=cdi:guides.texts.related_content.raw}</h2>
  <div class="grid-wrapper relations">
    {#if relations.get(guide_url).sameExtensions}
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>{=cdi:guides.texts.on_the_same_extensions.raw}</h3>
      <ul class="related-content">
      {#for guide in relations.get(guide_url).sameExtensions.orEmpty}
        {=_m.assign('is_external_guide', guide.url.startsWith('http')).raw}
        {#if _m.read('is_external_guide')}
          {=_m.assign('related_guide_url', url).raw}
        {#else if docversion == 'latest'}
          {=_m.assign('related_guide_url', ''.append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {#else}
          {=_m.assign('related_guide_url', ''.append('/version/').append(docversion).append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {/if}{/for}
      </ul>
    </div>
    {/if}
    {#if relations.get(guide_url).sameTopics}
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>{=cdi:guides.texts.on_the_same_topics.raw}</h3>
      <ul class="related-content">
      {#for guide in relations.get(guide_url).sameTopics.orEmpty}{#if guide_count <= 20}
        {=_m.assign('is_external_guide', guide.url.startsWith('http')).raw}
        {#if _m.read('is_external_guide')}
          {=_m.assign('related_guide_url', url).raw}
        {#else if docversion == 'latest'}
          {=_m.assign('related_guide_url', ''.append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {#else}
          {=_m.assign('related_guide_url', ''.append('/version/').append(docversion).append(guide.url)).raw}
        
        <li class="{=guide.type.raw}"><a href="{=_m.read('related_guide_url').raw}">{=guide.title.raw}</a></li>
      {/if}{/if}{/for}
      </ul>
    </div>
    {/if}
  </div>
  {/if}
</div>
{/let}{/let}{/let}{/let}{/let}{/if}{/let}{/let}