---
layout: base
---
<div class="quarkus-homepage">
  {#include partials/homepage-hero-band.html _unisolated /}
  {#include partials/homepage-features-icon-band.html _unisolated /}
  {#include partials/homepage-userstory-callout.html _unisolated /}
  {#include partials/homepage-performance-band.html _unisolated /}
  {#include partials/homepage-ai-band.html _unisolated /}

  {#include partials/recent-posts-band.html _unisolated /}
  {#include partials/homepage-commonhaus-band.html _unisolated /}
  {#include partials/homepage-newsletter-band.html _unisolated /}
  {#include partials/feedback-community-band.html _unisolated /}
  {#include partials/homepage-benefactors-band.html _unisolated /}
</div>
