<div class="tabs">
  <input type="radio" name="tabs" id="tab1" checked="checked">
  <label for="tab1">Tab 1</label>
  <div class="tab">
    <h3>Tab 1 Content</h3>
    <p>Hello World....</p>
  </div>
  
  <input type="radio" name="tabs" id="tab2">
  <label for="tab2">Tab 2</label>
  <div class="tab">
    <h3>Tab 2 Content</h3>
    <p>Hello World....</p>
  </div>
  
  <input type="radio" name="tabs" id="tab3">
  <label for="tab3">Tab 3</label>
  <div class="tab">
    <h3>Tab 3 Content</h3>
    <p>Hello World....</p>
  </div>
</div>
