<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
    <img src="{{site.baseurl}}/assets/images/icons/icon-java-ai.svg" alt="Java for AI icon">
    </div>
    <div class="width-9-12 width-12-12-m">
      <h2>Why use Java for AI?</h2>
      <p>Java is ideal for AI development due to its platform independence, robust memory management, and rich open-source libraries like Deeplearning4j, Weka, and Apache Spark. Its mature ecosystem and strong community support enable scalable AI applications. With recent JVM optimizations, Java's performance handles demanding machine learning tasks and large datasets efficiently.</p>
      <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/java-for-ai">Learn more about using Java for AI</a></p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h2>Why use Quarkus for AI-Infused Applications</h2>
      <p>Quarkus is ideal for AI applications due to its performance, agility, and developer experience. It offers native Generative AI integration via LangChain4j, supporting declarative AI services, various LLMs, and advanced prompt engineering. It also handles predictive AI and data pipeline automation with ML toolkits for scalable ETL and embedding workflows. Quarkus's "AI-Enhanced Developer Experience" provides fast startups, low memory, and a reactive core for cloud-native AI. It boosts developer velocity with live coding, a unified Java stack, and robust observability/security for reliable AI services.</p>
      <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/quarkus-for-ai">Learn more about using Quarkus for AI</a></p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h3>Benefits of Quarkus for AI-Infused Applications</h3>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-generative.svg" alt="Native Integration with Generative AI icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-generative-dark.svg" alt="Native Integration with Generative AI icon">
      <h4>Native Integration with Generative AI</h4>
      <p>Easily build AI workflows with minimal code, leveraging top LLM providers to create features like chatbots and summarizers.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-pipelines.svg" alt="Predictive AI and Data Pipelines icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-pipelines-dark.svg" alt="Predictive AI and Data Pipelines icon">
      <h4>Predictive AI and Data Pipelines</h4>
      <p>Enable predictive AI, model training, and scalable data workflows, connecting seamlessly to ML tools, message brokers, databases, and files.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-enhanced-dev-exp.svg" alt="Enhanced Developer Experience icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-enhanced-dev-exp-dark.svg" alt="Enhanced Developer Experience icon">
      <h4>Enhanced Developer Experience</h4>
      <p>Incorporate AI directly into development workflow with instant feedback, code explanations, and documentation, speeding up iterations.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-trusted-secure.svg" alt="Enterprise-Grade icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-trusted-secure-dark.svg" alt="Enterprise-Grade icon">
      <h4>Enterprise-Grade AI</h4>
      <p>Create reliable, secure AI applications using Quarkus’s built-in observability, security, and governance—ensuring AI services are safe, accountable, and performance-ready from the beginning.</p>
    </div>
    <div class="width-12-12 width-12-12-m">
    </div>

    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-ai-blueprints.svg" alt="AI blueprints icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-ai-blueprints-dark.svg" alt="AI blueprints icon">
    </div>
    <div class="width-9-12 width-12-12-m">
      <h2>Enterprise AI Blueprints for Java with Quarkus & LangChain4j</h2>
      <p>AI blueprints offer conceptual, infrastructure-agnostic reference architectures for developing enterprise-grade AI solutions in Java. They simplify AI integration in Java applications, guiding software architects in building intelligent chatbots, recommendation engines, and data analysis tools. These blueprints, leveraging Quarkus and LangChain4j, provide a solid starting point for advanced AI capabilities in your Java projects.</p>
      <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/ai-blueprints">Learn more about using Quarkus for AI</a></p>
    </div>

  </div>
</div>
