<div class="full-width-bg component">
  <div class="grid-wrapper">

    <div class="width-12-12 width-12-12-m">
      <h2>Generative AI with Quarkus LangChain4j</h2>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-generative.svg" alt="Native Integration with Generative AI icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-generative-dark.svg" alt="Native Integration with Generative AI icon">
    </div>

    <div class="width-9-12 width-12-12-m">
      <p>Quarkus integrates <em>GenAI</em> natively through the LangChain4j extension, empowering developers with:</p>
      <ul>
        <li><strong>Declarative AI services via Java programming model:</strong> Write minimal code using CDI and annotations to define AI workflows.</li>
        <li><strong>Rich LLM ecosystem support:</strong> Access OpenAI, Watsonx, Ollama, and vector databases like Pinecone, Chroma, or Redis.</li>
        <li><strong>Advanced prompt engineering tools, chains, and agents:</strong> Seamlessly build intelligent workflows in Java.</li>
      </ul>
      <p>This enables teams to develop sophisticated AI-infused features, such as chatbots or dynamic summarizers, without requiring a stack shift.</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h2>Predictive AI and Seamless Data Preparation</h2>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-pipelines.svg" alt="Predictive AI and Data Pipelines icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-pipelines-dark.svg" alt="Predictive AI and Data Pipelines icon">
    </div>

    <div class="width-9-12 width-12-12-m">
      <p>Quarkus is comprehensive, it supports both </strong>predictive AI</p> and <strong>data pipeline automation</strong>:</p>
      <ul>
        <li>Integrate directly with ML toolkits such as DL4J to train or run models within a single Quarkus application.</li>
        <li>Build scalable, production-grade ETL and embedding workflows that connect to message brokers, databases, and file systems easily - a must-have for preparing data for both model training and RAG patterns.</li>
      </ul>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h2>AI-Enhanced Developer Experience</h2>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-enhanced-dev-exp.svg" alt="Enhanced Developer Experience icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-enhanced-dev-exp-dark.svg" alt="Enhanced Developer Experience icon">
    </div>

    <div class="width-9-12 width-12-12-m">
      <p>Quarkus is extending AI into the developer workflow through the <strong>Chappie</strong> initiative:</p>
      <ul>
        <li>Embeds AI features directly into Dev Mode and Dev UI for efficiency without disruption.</li>
        <li>Allows features such as exception diagnosis, test and documentation generation, and code explanation <em>(AI Assistant)</em>.</li>
        <li>Pushes Quarkus application knowledge into AI-based assistants using the Dev-UI MCP server.</li>
        <li>Provides access to the documentation and guide for the specific versions you are using through a chatbot.</li>
      </ul>
      <p>This becomes more than a powerful coding assistant; it augments the whole developer experience.</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h2>Enterprise-Grade AI</h2>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-trusted-secure.svg" alt="Enterprise-Grade icon">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-trusted-secure-dark.svg" alt="Enterprise-Grade icon">
    </div>

    <div class="width-9-12 width-12-12-m">
      <p>Build secure, trustworthy AI applications with Quarkus’s comprehensive observability, security, and governance features— providing automatic metrics, logs, traces, data sanitization, and access controls to ensure AI services are secure, accountable, and performance-optimized from day one.</p>
      <ul>
        <li>Automatically instrument AI services with metrics, logs, and traces for each call and tool invocation via OpenTelemetry. </li>
        <li>Enable AI services that are accountable, observable, traceable, and testable, enforcing auditability from day one. </li>
        <li>Built-in guardrails, like data sanitization, prompt anonymization, and context-aware user access, are available out of the box. </li>
      </ul>
    </div>

  </div>
</div>
