<div class="full-width-bg component awards-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">2021 Awards and Nominations</h3>
    </div>
    <div class="width-4-12 width-12-12-m img-wrapper">
      <img src="{{site.baseurl}}/assets/images/awards/stevie-award-2021.png">
    </div>
    <div class="width-4-12 width-12-12-m img-wrapper">
    </div>
    <div class="width-4-12 width-12-12-m img-wrapper">
    </div>
  </div>
</div>
<div class="full-width-bg component awards-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">2020 Awards and Nominations</h3>
    </div>
    <div class="width-4-12 width-12-12-m img-wrapper">
      <img src="{{site.baseurl}}/assets/images/awards/devies-awards-2020.png">
    </div>
    <div class="width-4-12 width-12-12-m img-wrapper">
      <img src="{{site.baseurl}}/assets/images/awards/stevie-award-2020.png">
    </div>
    <div class="width-4-12 width-12-12-m img-wrapper">
      <img src="{{site.baseurl}}/assets/images/awards/codie-2020.png">
    </div>
  </div>
</div>
