<div class="full-width-bg component">
  <div class="grid-wrapper">
      <div class="width-12-12 width-12-12-m">
        <h2>Quarkus is a proud member of the Commonhaus Foundation</h2>
      </div>
      <div class="width-6-12 width-12-12-m">
        <p>The Commonhaus Foundation which is a non-profit dedicated to the enduring viability of open-source projects. It offers a neutral environment, a governing structure, and assistance to projects, prioritizing their independence and development led by the community. They furnish resources such as legal aid, infrastructure, and financial avenues, all while honoring each project's established governance and culture.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.commonhaus.org/" target="blank">Learn more about the Commonhaus Foundation and how you can make a difference</a></p>
      </div>
      <div class="width-6-12 width-12-12-m">
        <a href="https://www.commonhaus.org/" target="blank">
        <img class="light-only" src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_stack_default.svg" alt="Learn about the Commonhaus Foundation">
        <img class="dark-only" src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_stack_reverse.svg" alt="Learn about the Commonhaus Foundation">
        </a>
      </div>
    </div>
  </div>

   <div class="component-wrapper-slim">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m">
        <h3>IBM</h3>
        <p>IBM strengthened its Java and Quarkus commitment by moving the Red Hat engineers working on Quarkus into IBM. This ensured dedicated resources for Quarkus's growth, deepening IBM's open-source involvement and focus on cloud-native Java for enterprises.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.ibm.com/opensource/" target="blank">Learn more about open source at IBM</a></p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h3>Red Hat</h3>
        <p>Quarkus originated at Red Hat, which ensured its ongoing development and stability by employing many of its principal engineers. This support  helped cultivate a strong ecosystem for cloud-native application development. A key reason for Quarkus's transition to the Commonhaus Foundation was Red Hat's dedication to its open-source nature.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.redhat.com/en/blog/what-does-open-source-program-office-do" target="blank">Learn more about open source at Red Hat</a></p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h3>AWS</h3>
        <p>AWS aids Quarkus by donating credits, enabling developers to use AWS services for testing, CI, and feature development. This support accelerates Quarkus innovation, enhancing the cloud-native experience on AWS.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://aws.amazon.com/opensource/" target="blank">Learn more about open source at AWS</a></p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h3>Github</h3>
        <p>GitHub's donation of GitHub Actions runners aids the Quarkus team by providing dedicated compute resources. This contribution eases infrastructure strain, accelerates development and testing, and boosts community collaboration.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://docs.github.com/en/actions/concepts/runners/github-hosted-runners" target="blank">Learn more about Github Action runners</a></p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h3>RunsOn</h3>
        <p>Quarkus appreciates RunsOn’s contribution of a free key so the project can access their platform for managing and launching self-hosted GitHub Actions runners on Amazon Web Services (AWS) infrastructure.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://runs-on.com/" target="blank"> Learn more about RunsOn</a></p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h3>Gradle Inc.</h3>
        <p>Gradle significantly supports the Quarkus ecosystem by donating a Develocity instance. This donation offers Quarkus developers advanced build insights and performance analytics, optimizing build processes for faster debugging, improved reliability, and enhanced productivity.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://gradle.com/develocity/" target="blank"> Learn more about Gradle's Develocity</a></p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <h3>Zulip</h3>
        <p>Zulip is an organized team chat app designed for efficient communication.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://zulip.com/" target="blank"> Learn more about Zulip</a></p>
      </div>
      </div>
    </div>

    <div class="component-wrapper options-band">
      <div class="width-12-12">
        <h2>Quarkus Extension Benefactors</h2>
        <p>In the Quarkiverse, individual extensions often benefit from the support of their own benefactors, which can range from enthusiastic companies to dedicated community initiatives. These supporters recognize the value an extension brings to the Quarkus ecosystem and provide resources, be it developer time, financial backing, or infrastructure, to ensure its continued development and maintenance. This decentralized sponsorship model allows for a diverse and vibrant array of extensions, each nurtured by those who most directly benefit from or believe in its specific functionality, ultimately fostering innovation and stability within the broader Quarkus community.</p>
        <p>You can see the individual extension supports by viewing the Community tab of the extensions' page in the <a href="http://quarkus.io/extensions">Extension Catalog</a>. Take <a href="https://quarkus.io/extensions/io.quarkiverse.wiremock/quarkus-wiremock/?tab=community)">Wiremock</a> as an arbitrary example.</p>
      </div>  
    </div>
</div>