<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
    </div>

    {% for item in site.data.books %}
      <div class="card">
        <a href="{{ item.link }}"></a>
        <div>
          <img src="{{site.baseurl}}/assets/images/books/{{ item.thumbnail }}">          
          <p class="title">{{ item.title }}</p>
          <div class="description">
          <p>{{ item.description }}</p></div>
          <div class="metatext">Publish Date: {{ item.publish-date }}<br/>
            Author(s): {{ item.authors }}</div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
