<div class="component-wrapper books-band">
  {% for item in site.data.books %}
    <div class="width-6-12 book">
      <div class="grid-wrapper">
        <div class="img-wrapper">
          <a href="{{ item.link }}" target="_blank">
            <img src="{{site.baseurl}}/assets/images/books/{{ item.thumbnail }}">
          </a>
        </div>
        <div class="info-wrapper">
          <h4 class="mt-0"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h4>
          <p>{{ item.description }}</p>
          <small>
            Publish Date: {{ item.publish-date }}<br/>
            Author(s): {{ item.authors }}
          </small>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
