<div class="grid-wrapper component extensions-page">
  <div class="grid__item width-3-12 width-12-12-m catalog-filters">
    <div class="keywordsearch">
      <input type="text" id="search-text" placeholder="Keyword Search" />
    </div>
    <div class="filterselectheader">Selected Filters</div>
    <div class="filterselectarrow"><img src="{{site.baseurl}}/assets/images/catalog_arrow_active.png" title="your selected filters"></div>
    <div class="yourchoices">
      <ul class="choices">
        <li><a href="#">Version 1.1</a></li>
        <li><a href="#">Web</a></li>
        <li><a href="#">Quarkus: XYZ</a></li>
        <li><a href="#">Platform: Foo</a></li>
        <div class="filterclear"><a href="#">Clear All</a></div>
      </ul>
    </div>
    <div class="filterheader">Filter the Extensions</div>
    <div class="filterheaderarrow"><img src="{{site.baseurl}}/assets/images/catalog_arrow_header.png" title="filter extensions"></div>
    <h3>Quarkus Version</h3>
      <select name="version">
        <option value="2.0">2.0 (Latest)</option>
        <option value="1.11">1.11</option>
        <option value="1.7">1.7</option>
        <option value="1.6">1.6</option>
        <option value="1.5">1.5</option>
        <option value="1.4">1.4</option>
        <option value="1.3">1.3</option>
        <option value="1.2">1.2</option>
      </select>
    <h3>Category</h3>
      <input type="checkbox" id="web" name="web" value="web"><label for="web"> Web</label><br>
      <input type="checkbox" id="data" name="data" value="data"><label for="data"> Data</label><br>
      <input type="checkbox" id="messaging" name="messaging" value="messaging"><label for="messaging"> Messaging</label><br>
      <input type="checkbox" id="core" name="core" value="core"><label for="core"> Core</label><br>
      <input type="checkbox" id="reactive" name="reactive" value="reactive"><label for="reactive"> Reactive</label><br>
      <input type="checkbox" id="cloud" name="cloud" value="cloud"><label for="cloud"> Cloud</label><br>
      <input type="checkbox" id="observability" name="observability" value="observability"><label for="observability"> Observability</label><br>
      <input type="checkbox" id="security" name="security" value="security"><label for="security"> Security</label><br>
      <input type="checkbox" id="integration" name="integration" value="integration"><label for="integration"> Integration</label><br>
      <input type="checkbox" id="busautomation" name="busautomation" value="busautomation"><label for="busautomation"> Business Automation</label><br>
      <input type="checkbox" id="serialization" name="serialization" value="serialization"><label for="serialization"> Serialization</label><br>
      <input type="checkbox" id="compatibility" name="compatibility" value="compatibility"><label for="compatibility"> Compatibility</label><br>
      <input type="checkbox" id="altlanguages" name="altlanguages" value="altlanguages"><label for="altlanguages"> Alternative Languages</label><br>
      <input type="checkbox" id="miscellaneous" name="miscellaneous" value="miscellaneous"><label for="miscellaneous"> Miscellaneous</label><br>
    <h3>Compatibility</h3>
      <select name="compatibility">
        <option value="all">All</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
      </select>
    <h3>Platform</h3>
      <select name="platform">
        <option value="all">All</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
        <option value="foo">Foo</option>
      </select>
      <div class="catalog-callout-red"><p>Want to have your extension added to the Quarkiverse?<br><a href="{{site.baseurl}}/createextensions"> Learn How </a></p></div>
  </div>
  <div class="grid__item width-9-12 width-12-12-m">
      <div class="grid__item width-12-12 click-cards">
        <ul class="grid-wrapper list-item">
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
        </ul>
        
        <div class="catalog-callout-blue"><p>Don't see and extension you need? <a href="{{site.baseurl}}/createextensions">Request a new extension</a></p></div>



        <ul class="grid-wrapper list-item">
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
          <li class="card">
              <a href="{{site.baseurl}}/catalog/catalog-detail"></a>
              <p class="title">Quarkus JBeret Extension</p>
              <div class="metatext">Provided by JBeret project</div>
              <div class="description">The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</div>
              <div class="metatext">Category: Web</div>
              <div class="metatext">Extension Version: 1.1.1</div>
              <div class="metatext">Works with Quarkus 1.1.1</div>
          </li>
        </ul>
    </div>
  </div>
</div>