
<div class="full-width-breadcrumb-bg align-self">
  <div class="width-12-12">
      <p class="returnlink"><a href="{{site.baseurl}}/catalog">Extension Catalog</a> <i class="fas fa-chevron-right"></i> {{ page.title }}</p>
  </div>
</div>

<div class="full-width-bg component-slim catalog-detail">
  <div class="grid-wrapper">
    <div class="width-8-12 width-12-12-m">
      <h1>Extension Title Quarkiverse-JBeret</h1>
      <p>Provided by the JBeret Project Team</p>
      <h4>The Quarkus JBeret Extension adds support for JSR-352 Batch Applications for the Java Platform. JBeret is an implementation of the JSR-352.</h4>
      <h3>DOCUMENTATION</h3>
      <p>Make sure use the documentation to have your questions answered.</p>
      <h3>QUARKUS GUIDES</h3>
      <p>You can get a better understanding on how to use this extension in the Quarkus Guides.</p>
      <p>Check out these applicable guides:</p>
        <ul>
          <li><a href="#">Use Jberet to do something cool</a></li>
          <li><a href="#">JBeret makes you jump higher</a></li>
        </ul>
      <h3>USAGE</h3>
      <p>To use the extension, add the dependency to the target project:</p>
      <pre class="highlightjs highlight"><code class="language-java hljs" data-lang="java"><span class="hljs-keyword">package</span> org.acme.hibernate.orm.panache;

<span class="hljs-keyword">import</span> javax.persistence.Cacheable;
<span class="hljs-keyword">import</span> javax.persistence.Column;
<span class="hljs-keyword">import</span> javax.persistence.Entity;

<span class="hljs-keyword">import</span> io.quarkus.hibernate.reactive.panache.PanacheEntity;  <i class="conum" data-value="1"></i><b>(<span class="hljs-number">1</span>)</b>

<span class="hljs-meta">@Entity</span>
<span class="hljs-meta">@Cacheable</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Fruit</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">PanacheEntity</span> </span>{

   <span class="hljs-meta">@Column</span>(length = <span class="hljs-number">40</span>, unique = <span class="hljs-keyword">true</span>)
   <span class="hljs-keyword">public</span> String name;

}</code></pre>
      <p>The Batch API and Runtime will be available out of the box. Please refer to the <a href="#">Batch documentation</a>, or the <a href="#">JBeret documentation</a> to learn about Batch Applications.</p>
      <h3>CONFIGURATION</h3>
      <p>The JBeret Quarkus extension supports the following configuration:</p>
<table class="tableblock">
  <tr>
    <td>Name</td>
    <td>Type</td>
    <td>Default</td>
  </tr>
  <tr>
    <td><code>quarkus.jberet.repository</code><p>The repository type to store JBeret and Job data. A jdbc type requires a JDBC datasource.</p></td>
    <td><code>in-memory</code>, <code>jdbc</code></td>
    <td><code>in-memory</code></td>
  </tr>
  <tr>
    <td><code>quarkus.jberet.repository</code><p>The repository type to store JBeret and Job data. A jdbc type requires a JDBC datasource.</p></td>
    <td><code>in-memory</code>, <code>jdbc</code></td>
    <td><code>in-memory</code></td>
  </tr>
    <tr>
    <td><code>quarkus.jberet.repository</code><p>The repository type to store JBeret and Job data. A jdbc type requires a JDBC datasource.</p></td>
    <td><code>in-memory</code>, <code>jdbc</code></td>
    <td><code>in-memory</code></td>
  </tr>
    <tr>
    <td><code>quarkus.jberet.repository</code><p>The repository type to store JBeret and Job data. A jdbc type requires a JDBC datasource.</p></td>
    <td><code>in-memory</code>, <code>jdbc</code></td>
    <td><code>in-memory</code></td>
  </tr>
    <tr>
    <td><code>quarkus.jberet.repository</code><p>The repository type to store JBeret and Job data. A jdbc type requires a JDBC datasource.</p></td>
    <td><code>in-memory</code>, <code>jdbc</code></td>
    <td><code>in-memory</code></td>
  </tr>

</table>

      <h3>NON-STANDARD FEATURES</h3>
      <h4>Non-standard Features</h4>
      <p>The Batch API requires the @BatchProperty annotation to inject the specific configuration from the batch definition file. Instead, you can use the @ConfigProperty annotation, which is used to inject configuration properties in Quarkus using the MicroProfile Config API and keep consistency:</p>
      <pre class="highlightjs highlight"><code class="language-java hljs" data-lang="java"><span class="hljs-keyword">package</span> org.acme.hibernate.orm.panache;

<span class="hljs-keyword">import</span> javax.persistence.Cacheable;
<span class="hljs-keyword">import</span> javax.persistence.Column;
<span class="hljs-keyword">import</span> javax.persistence.Entity;

<span class="hljs-keyword">import</span> io.quarkus.hibernate.reactive.panache.PanacheEntity;  <i class="conum" data-value="1"></i><b>(<span class="hljs-number">1</span>)</b>

<span class="hljs-meta">@Entity</span>
<span class="hljs-meta">@Cacheable</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Fruit</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">PanacheEntity</span> </span>{

   <span class="hljs-meta">@Column</span>(length = <span class="hljs-number">40</span>, unique = <span class="hljs-keyword">true</span>)
   <span class="hljs-keyword">public</span> String name;

}</code></pre>
      <p>Although, there is a slight limitation: since job configuration is mostly dynamic and only injected on job execution, Quarkus may fail to start due to invalid configuration (can’t find the Job configuration values). In this case, configuration injection points with the @ConfigProperty annotation need to set a default value or use an Optional.</p>
      <h4>CDI Beans</h4>
      <p>The Batch APIs JobOperator and JobRepository are available as CDI beans, so they can be injected directly into any code:</p>
      <pre class="highlightjs highlight"><code class="language-java hljs" data-lang="java"><span class="hljs-keyword">package</span> org.acme.hibernate.orm.panache;

<span class="hljs-keyword">import</span> javax.persistence.Cacheable;
<span class="hljs-keyword">import</span> javax.persistence.Column;
<span class="hljs-keyword">import</span> javax.persistence.Entity;

<span class="hljs-keyword">import</span> io.quarkus.hibernate.reactive.panache.PanacheEntity;  <i class="conum" data-value="1"></i><b>(<span class="hljs-number">1</span>)</b>

<span class="hljs-meta">@Entity</span>
<span class="hljs-meta">@Cacheable</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Fruit</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">PanacheEntity</span> </span>{

   <span class="hljs-meta">@Column</span>(length = <span class="hljs-number">40</span>, unique = <span class="hljs-keyword">true</span>)
   <span class="hljs-keyword">public</span> String name;

}</code></pre>
      <h4>Scheduler</h4>
      <p>The JBeret Scheduler is integrated out of the box in this extension.</p>
      <p>To schedule a Job execution, please refer to the quarkus.jberet.job.”job-name”.cron and quarkus.jberet.job.”job-name”.params.”param-key” configurations.</p>
      <p>A Job can also be scheduled programmatically, using the JobScheduler API and the Quarkus startup event:</p>
      <pre class="highlightjs highlight"><code class="language-java hljs" data-lang="java"><span class="hljs-keyword">package</span> org.acme.hibernate.orm.panache;

<span class="hljs-keyword">import</span> javax.persistence.Cacheable;
<span class="hljs-keyword">import</span> javax.persistence.Column;
<span class="hljs-keyword">import</span> javax.persistence.Entity;

<span class="hljs-keyword">import</span> io.quarkus.hibernate.reactive.panache.PanacheEntity;  <i class="conum" data-value="1"></i><b>(<span class="hljs-number">1</span>)</b>

<span class="hljs-meta">@Entity</span>
<span class="hljs-meta">@Cacheable</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Fruit</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">PanacheEntity</span> </span>{

   <span class="hljs-meta">@Column</span>(length = <span class="hljs-number">40</span>, unique = <span class="hljs-keyword">true</span>)
   <span class="hljs-keyword">public</span> String name;

}</code></pre>
      <p>The JobScheduler does not support persistent schedules.</p>
      <h4>REST API</h4>
      <p>The JBeret REST is integrated as separate extension that can be easily added to the target project with the following dependency:</p>
      <pre class="highlightjs highlight"><code class="language-java hljs" data-lang="java"><span class="hljs-keyword">package</span> org.acme.hibernate.orm.panache;

<span class="hljs-keyword">import</span> javax.persistence.Cacheable;
<span class="hljs-keyword">import</span> javax.persistence.Column;
<span class="hljs-keyword">import</span> javax.persistence.Entity;

<span class="hljs-keyword">import</span> io.quarkus.hibernate.reactive.panache.PanacheEntity;  <i class="conum" data-value="1"></i><b>(<span class="hljs-number">1</span>)</b>

<span class="hljs-meta">@Entity</span>
<span class="hljs-meta">@Cacheable</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Fruit</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">PanacheEntity</span> </span>{

   <span class="hljs-meta">@Column</span>(length = <span class="hljs-number">40</span>, unique = <span class="hljs-keyword">true</span>)
   <span class="hljs-keyword">public</span> String name;

}</code></pre>
      <p>The JBeret REST API, provides REST resources to several operations around the Batch API: starting and stopping jobs, querying the status of a job, schedule a job, and many more. The extension includes a REST client to simplify the REST API calls:</p>
<pre class="highlightjs highlight"><code class="language-java hljs" data-lang="java"><span class="hljs-keyword">package</span> org.acme.hibernate.orm.panache;

<span class="hljs-keyword">import</span> javax.persistence.Cacheable;
<span class="hljs-keyword">import</span> javax.persistence.Column;
<span class="hljs-keyword">import</span> javax.persistence.Entity;

<span class="hljs-keyword">import</span> io.quarkus.hibernate.reactive.panache.PanacheEntity;  <i class="conum" data-value="1"></i><b>(<span class="hljs-number">1</span>)</b>

<span class="hljs-meta">@Entity</span>
<span class="hljs-meta">@Cacheable</span>
<span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Fruit</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">PanacheEntity</span> </span>{

   <span class="hljs-meta">@Column</span>(length = <span class="hljs-number">40</span>, unique = <span class="hljs-keyword">true</span>)
   <span class="hljs-keyword">public</span> String name;

}</code></pre>

      <h3>EXAMPLE APPLICATIONS</h3>
      <ul>
        <li><code>chunk</code> - A simple Job that reads, processes, and stores data from a file.</li>
        <li><code>jdbc-repository</code>  - A Job that uses a jdbc datasource to store JBeret and Job metadata.</li>
        <li><code>scheduler</code>  - Schedule a Job to run every 10 seconds </li>
      </ul>
      <p>Or take a look into the World of Warcraft Auctions - Batch Application. It downloads the World of Warcraft Auction House data and provides statistics about items prices.</p>
      
      <h3>CONTRIBUTORS</h3>
      <p>Thanks goes to these wonderful people:</p>
      <p>This project follows the <a href="#">all-contributors</a> specification. Contributions of any kind welcome!</p>
      <h3>LICENSE</h3>
      <p> Apache-2.0 License</p>
    </div>
    
<!-- Right Side Content -->

    <div class="width-4-12 width-12-12-m">
       <div class="grid-wrapper ext-projdetail">
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Extension Version</p>
          <p class="ext-projdetail-data">0.0.0.0.0</p>
        </div>
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Compatible with Quarkus</p>
          <p class="ext-projdetail-data"> <a href="#">1.0</a>, <a href="#">1.1</a>, <a href="#">1.2</a>, <a href="#">1.4</a></p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Platform</p>
          <p class="ext-projdetail-data"> Quarkus BOM, Quarkus Universe</p>
        </div>
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Compatibility</p>
          <p class="ext-projdetail-data">Native</p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Build</p>
          <p class="ext-projdetail-data"><a href="#">Passing</a></p>
        </div>
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Maven-Central</p>
          <p class="ext-projdetail-data"><a href="#">Version 0.0.2</a></p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Extension Repository</p>
          <p class="ext-projdetail-data"><a href="#">Extension Repo</a></p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Extension Documentation</p>
          <p class="ext-projdetail-data"><a href="#">Documentation</a></p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Maintainer</p>
          <p class="ext-projdetail-data"><a href="#">JBeret</a></p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Project Homepage</p>
          <p class="ext-projdetail-data"><a href="#">JBeret Project</a></p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Issues</p>
          <p class="ext-projdetail-data">200</p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Pull Requests</p>
          <p class="ext-projdetail-data">23</p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Size</p>
          <p class="ext-projdetail-data">35.2MB</p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Last Publish Date</p>
          <p class="ext-projdetail-data">Jan 01, 2021</p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Weekly Builds</p>
          <p class="ext-projdetail-data">21</p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Total Builds</p>
          <p class="ext-projdetail-data">3200</p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
        <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Created on</p>
          <p class="ext-projdetail-data">Jan 01, 2016</p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">License</p>
          <p class="ext-projdetail-data">Apache 2.0</p>
        </div>
      </div>
      <div class="grid-wrapper ext-projdetail">
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Category</p>
          <p class="ext-projdetail-data">Web</p>
        </div>
         <div class="width-6-12 width-12-12-m">
          <p class="ext-projdetail-header">Contributors</p>
          <p class="ext-projdetail-data"><a href="#">62 Contributors</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
