<section class="dev-ui-section">
  <div class="section-content">
    <h3>Visualize Endpoints</h3>
    <p>Interact effortlessly with your application's endpoints using the built-in Quarkus Dev UI. Quickly navigate to any of the endpoints of your Quarkus application with ease.</p>

    <div class="image-container">
      <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/endpoints-dev-ui-light.png" alt="Quarkus Dev UI Endpoints Light">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/endpoints-dev-ui-dark.png" alt="Quarkus Dev UI Endpoints Dark">
    </div>

    <p>If you prefer Swagger UI, you can access it directly through the Swagger Dev UI by adding the <code>smallrye-openapi</code> extension to your project. This enables an intuitive way to explore and test your APIs.</p>

    <div class="image-container">
      <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/swagger-ui-dev-ui-light.png" alt="Swagger UI Light">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/swagger-ui-dark.png" alt="Swagger UI Dark">
    </div>
  </div>
</section>
