<section class="dev-ui-section">
    <div class="section-content">
        <h3>Keycloak Integration</h3>
        <p>The Quarkus Dev UI provides seamless integration with Keycloak, enabling developers to manage authentication and authorization configurations effortlessly. With the Keycloak integration, you can configure identity providers, client settings, and role mappings directly through the Dev UI.</p>
        <p>Leverage the Keycloak integration to simplify securing your applications during development, ensuring a smooth transition to production-ready security configurations.</p>
        <div class="image-container">
            <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/keycloak-provider-page-dev-ui-light.png" alt="Keycloak Integration Light">
            <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/keycloak-provider-page-dev-ui-dark.png" alt="Keycloak Integration Dark">
        </div>
    </div>
</section>
