<section class="dev-ui-section">
    <div class="section-content">

        <h3>Configuration Management</h3>
        <p>Manage application settings and configurations through an intuitive interface. Modify the configuration file
            directly in the UI, or use the form editor UI to achieve the same goal. The form editor UI also provides
            visibility into all available configuration options, ensuring you don't miss anything.</p>

        <div class="image-container">
            <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/configuration-source-editor-dev-ui-light.png"
                alt="Configuration Source Editor Light">
            <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/configuration-source-editor-dev-ui-dark.png"
                alt="Configuration Source Editor Dark">
        </div>

        <p>The form editor offers a user-friendly way to adjust settings while providing a comprehensive list of
            configuration options available in your application.</p>

        <div class="image-container">
            <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/configuration-dev-ui-light.png"
                alt="Configuration Management Light">
            <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/configuration-dev-ui-dark.png"
                alt="Configuration Management Dark">
        </div>
    </div>
</section>
