<section class="dev-ui-section">
    <h3>Kafka UI Integration</h3>
    <p>With the Kafka Dev UI, directly manage your Kafka cluster and streamline essential tasks such as listing and creating topics, visualizing records, publishing new records, and inspecting consumer groups with their consumption lag. The UI integrates seamlessly with the Kafka broker configured for your application, providing an intuitive interface for broker management.</p>
    <div class="image-container">
        <img src="{{site.baseurl}}/guides/images/kafka-dev-ui-link.png" alt="Kafka Dev UI link">
    </div>
    <div class="image-container">
        <img src="{{site.baseurl}}/guides/images/kafka-dev-ui-records.png" alt="Kafka Dev UI records">
    </div>
</section>
