<section class="dev-ui-section">
    <div class="section-content">
        <h3>Manage Dev Services</h3>
        <p>The Quarkus Dev UI allows developers to easily view and manage spun-up dev services, such as databases and message brokers. These services are containers automatically managed by Quarkus, reducing the overhead of manual setup.</p>
        <p>This feature is invaluable for onboarding new team members, helping them quickly understand and interact with the application's dependencies, and reducing cognitive load for experienced developers.</p>
        <div class="image-container">
            <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/dev-services-dev-ui-light.png" alt="Dev Services Integration Light">
            <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/dev-services-dev-ui-dark.png" alt="Dev Services Integration Dark">
        </div>
    </div>
</section>
