<section class="dev-ui-section">
  <div class="section-content">
    <h3>Generate Kubernetes YAML</h3>
    <p>Use the Quarkus Dev UI to seamlessly modify your application's configuration values and directly generate new Helm charts. The Dev UI streamlines the process, allowing you to update settings and export tailored Kubernetes resources in one integrated interface.</p>
    <p>With the configuration editor, you can customize namespaces, labels, environment variables, volume mounts, readiness and liveness probes, RBAC resources, and more. These settings ensure your generated Kubernetes manifests align perfectly with your deployment requirements.</p>
    <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/modify-config-for-generating-kubernetes-manifest-dev-ui-light.png" alt="Modify Config for Generating Kubernetes Manifest Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/modify-config-for-generating-kubernetes-manifest-dev-ui-dark.png" alt="Modify Config for Generating Kubernetes Manifest Dark">
    </div>
    <p>Once the configurations are in place, you can use the Dev UI to generate the Kubernetes resources, including Helm charts. This ensures a seamless and efficient process for adapting and deploying your application.</p>
    <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/generate-k8-yaml-dev-ui-light.png" alt="Generate Kubernetes YAML Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/generate-k8-yaml-dev-ui-dark.png" alt="Generate Kubernetes YAML Dark">
    </div>
  </div>
</section>
