<section class="dev-ui-section">
  <div class="section-content">
    <h3>Build Container Image</h3>
    <p>Create production-ready container images directly from the Dev UI. The interface simplifies the process, allowing you to customize build configurations and monitor the progress effortlessly.</p>

    <div class="image-container">
      <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/build-container-image-dev-ui-light.png" alt="Build Container Image Light">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/build-container-image-dev-ui-dark.png" alt="Build Container Image Dark">
    </div>
  </div>
</section>
