<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/about/icon-developerjoy.svg">
    </div>
    <div class="width-9-12 width-12-12-m">
      <p class="intropara">Quarkus is not just about being great for writing Web Applications or Micro-Services. We’re focusing on more than the feature set: we make sure that every feature works well, simply, with little to no configuration, in the most intuitive way possible. It should be trivial to develop simple things, and easy to develop the more complex ones.</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Live Coding</h3>
      <p>Improve and expedite the inner loop development process with live coding where code changes are automatically reflected in your running application. code -> refresh browser -> repeat
        <br><a href="{{site.baseurl}}/guides/maven-tooling#dev-mode/">Read the Dev Mode guide</a></p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Unified Config</h3>
      <p>Gone are the days of a thousand configuration files and formats. A single configuration file is all it takes for Quarkus applications to configure every single extension.</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Opinionated</h3>
      <p>Quarkus focuses on the simplest and most useful way to use a given feature, trimming it to its most useful essence. This includes upfront analysis on how to best use a feature and guiding you in what we think is the best way to do things.</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Dev UI</h3>
      <p>Visualize and configure extensions as well as access to application logs and testing components <br><a href="{{site.baseurl}}/guides/dev-ui">Read the Dev UI guide</a></p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Dev Services</h3>
      <p>Automatic provisioning and application wiring of supporting services such as databases, identity servers, and more.
        <br><a href="{{site.baseurl}}/guides/dev-services">Read the Dev Services guide</a></p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Continuous Testing</h3>
      <p>Get instant feedback on code changes as tests run in the background on impacted code.
        <br><a href="{{site.baseurl}}/guides/continuous-testing">Read the Continuous Testing guide</a></p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Command Line Interface</h3>
      <p>Create projects, manage extensions, and execute essential build and dev commands.
        <br><a href="{{site.baseurl}}/guides/cli-tooling">Read the CLI Tooling guide</a></p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Remote Development</h3>
      <p>Run <a href="{{site.baseurl}}/guides/maven-tooling#dev-mode">dev mode</a> remotely with changes to local files immediately available in a containerize environment. <br><a href="{{site.baseurl}}/guides/maven-tooling#remote-development-mode">Read the Remote Development Mode guide</a></p>
    </div>
  </div>
</div>
