<div class="full-width-bg component">
  <div class="grid-wrapper">
        <div class="width-6-12 width-12-12-m">
        <H3>Quarkus's Collaborative Community Forum</H3>
        <p>The core foundation of every good open source project is open discussion and collaboration. Quarkus is committed to this belief. We've enabled GitHub Discussions so the community can have open communication. This gives a focal point for the community to ask and answer questions regarding the project. This means all of that great knowledge can be shared and is discoverable. Additionally, other conversations about the Quarkus Community can be had there as well. Come collaborate with us.</p>
        <h4><a href="https://github.com/quarkusio/quarkus/discussions">Go to the Quarkus GitHub Discussions<i class="fas fa-external-link-alt"></i></a></h4>
    </div>
    <div class="width-6-12 width-12-12-m">
      <H3>Quarkus Chat Options</H3>
      <p>For usage questions, we recommend to:</p>
      <ul>
        <li>Ask on <a href="https://stackoverflow.com/questions/tagged/quarkus">Stack Overflow with the <code>quarkus</code> tag</a></li>
      </ul>
      <p>For questions related to the development of Quarkus:</p>
      <ul>
        <li>The <a href="https://groups.google.com/d/forum/quarkus-dev" target="_blank">quarkus-dev Google Groups</a></li>
        <li>Chat using <a href="https://quarkusio.zulipchat.com/#narrow/stream/187038-dev" target="_blank">Zulip</a> (<code>#dev</code> stream)</li>
      </ul>
    </div>
  </div>
</div>
