<div class="full-width-bg component-slim">
    <div class="grid-wrapper eol-commercial-band">
        <div class="width-12-12">
            <h2>Enterprise Support</h2>
            <p><a href="{{ site.baseurl }}/support/#enterprise-support">Enterprise offerings of Quarkus</a>
               are actively maintained with longer lifecycles than the community releases.
               Some versions listed in the table above may still be under active enterprise support.
               See the <a href="{{ site.baseurl }}/releases/">releases page</a> for details.</p>
        </div>
        <div class="width-12-12">
            <h2>On-Demand Patches for EOL Versions</h2>
            <p>If your organisation is not yet ready to upgrade from an EOL version,
               the following vendors can provide security patches and fixes on request.</p>
        </div>
        <div class="width-12-12">
            <div class="eol-provider">
                <h4><a href="{{ site.data.releases.support_providers.ibm.url }}">{{ site.data.releases.support_providers.ibm.name }}</a></h4>
                <p>IBM may provide on-demand patches for older versions of their
                   enterprise Quarkus products, even after the community release
                   has reached end-of-life.</p>
            </div>
        </div>
        <div class="width-12-12">
            <div class="eol-provider">
                <h4><a href="{{ site.data.releases.support_providers.herodevs.url }}">{{ site.data.releases.support_providers.herodevs.name }}</a></h4>
                <p>HeroDevs provides on-demand security patches and compliance
                   support for EOL Quarkus versions, bridging the gap while
                   you plan your upgrade.</p>
            </div>
        </div>
    </div>
</div>
