
<div class="component-wrapper events-band">
  <div class="width-12-12">
    <h3 class="mt-0">{{ site.data.events.headline }}</h3>
  </div>
  {% for item in site.data.events.upcomingevents %}
    <div class="width-6-12 event" future-date="{{ item.date | date: '%Y-%m-%d' }}">
      <div class="grid-wrapper">
        <div class="img-wrapper">
          <a href="{{ item.link }}" target="_blank">
            <img src="{{site.baseurl}}/assets/images/events/{{ item.thumbnail }}">
          </a>
        </div>
        <div class="info-wrapper">
          <p class="title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
          <p class="eventdate">Date: {{ item.displaydate }}</br>Location: {{ item.location }}</br>
          Event Type: {{ item.type }}</p><p> {{ item.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
    <div class="width-6-12 event-callout">
      <div class="callout-container">
          <p class="eventtitle">Quarkus Presenters, We Want You!</p>
          <p>If you're showcasing Quarkus at an upcoming community event, Java User Group (JUG), meetup, or conference, please <a href="https://forms.gle/ykj169EDfeMJ3K7H8" target="_blank">share your presentation details with us</a>!</p>
          <p>We'd love to feature your talk on this page and across our Quarkus social media channels.</p>
       </div>
      </div>
    </div>
</div>