<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-7-12 width-12-12-m block-image justify-self-center">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/eventsband_worldtourlogo.png" class="img-md">
    </div>
    <div class="grid__item width-5-12 width-12-12-m">
      <h2>Quarkus World Tour 2023</h2>
      <p>A virtual (and in person where possible) tour of Java User Groups creating a unique hands-on experience with access to Quarkus experts designed to help you get started with Java in a Kubernetes world.</p>
      <p><a href="{{site.baseurl}}/worldtour/">Learn more about the Quarkus World Tour</a></p>
    </div>
  </div>
</div>
