
<div class="component-wrapper events-band">
  <div class="width-12-12">
    <h3 class="mt-0">{{ site.data.events.headline }}</h3>
  </div>
  {% for item in site.data.events.upcomingevents %}
    <div class="width-6-12 event">
      <div class="grid-wrapper">
        <div class="img-wrapper">
          <a href="{{ item.link }}" target="_blank">
            <img src="{{site.baseurl}}/assets/images/events/{{ item.thumbnail }}">
          </a>
        </div>
        <div class="info-wrapper">
          <p class="title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
          <p class="eventdate">Event Date: {{ item.date }}</p>
          <p class="description">{{ item.description }}</p>
          <p class="speakers">Speaker(s): {{ item.speakers }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="full-width-bg component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
     <p>Check out the  <a href="#">"Events" section of Quarkus Discussions</a> for additional community related events.</p>
    </div>
  </div>
</div>

