<div class="full-width-bg white component">
  <div class="grid-wrapper">
    <div class="width-2-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.insights-videos.futureheadline }}</h3>
    </div>

      <div class="whitecard-outline">
        <div>
          <h4 class="mt-0"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h4>
          <p><small>Streaming Date: {{ item.date }}<br>
          Guest(s): {{ item.authors }}</small></p>
        </div>
      </div>
          <div class="width-10-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.insights-videos.futureheadline }}</h3>
    </div>

      <div class="whitecard-outline">
        <div>
          <h4 class="mt-0"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h4>
          <p><small>Streaming Date: {{ item.date }}<br>
          Guest(s): {{ item.authors }}</small></p>
        </div>
      </div>

  </div>
</div>





