<div class="full-width-bg component feedback-community-band">
  <div class="grid-wrapper">
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>Feedback and Help</h3>
      <p>
        You can contact the Quarkus project team using:<br />
        Chat using <a href="https://quarkusio.zulipchat.com" target="_blank">Zulip</a>.<br /><br />
        Your help is more than welcome! Don’t hesitate to join the crowd.
      </p>
    </div>
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>Join the Quarkus Community</h3>
      <p>
        Check out our <a href="https://github.com/quarkusio" target="_blank">Github</a> for details on reporting issues and the process for submitting pull requests.<br /><br />
        Every contribution is valuable. It can be a bug report, an example application, a feature request, a fix in the documentation or just feedback.
      </p>
    </div>
  </div>
</div>
