<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="grid__item width-6-12 width-12-12-m feedback-help">
      <h3>Feedback and Help</h3>
      <p>For usage questions, we recommend to:</p>
      <ul>
        <li>Use the <a href="https://github.com/quarkusio/quarkus/discussions">Discussions</a> section on our GitHub project. </li>
        <li>Ask on <a href="https://stackoverflow.com/questions/tagged/quarkus">Stack Overflow with the <code>quarkus</code> tag</a></li>
      </ul>
      <p>For questions related to the development of Quarkus:</p>
      <ul>
        <li>The <a href="https://groups.google.com/d/forum/quarkus-dev" target="_blank">quarkus-dev Google Groups</a></li>
        <li>Chat using <a href="https://quarkusio.zulipchat.com" target="_blank">Zulip</a> (<code>#dev</code> stream)<br><br>
        <a href="https://zulip.com/" title="Support Zulip chat" alt="zulip logo"><img src="{{site.baseurl}}/assets/images/home/zulip-org-logo.png"></a></li>
      </ul>
    </div>
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>Join the Quarkus Community</h3>
      <p>Check out our <a href="https://github.com/quarkusio/quarkus" target="_blank">GitHub</a> for details on reporting issues and the process for submitting pull requests.</p>
      <p>Every contribution is valuable. It can be a bug report, an example application, a feature request, a fix in the documentation or just feedback.</p>
      <p>Your help is more than welcome! Don’t hesitate to join the crowd.</p>
    </div>
  </div>
</div>
