<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>1</div></div>
    <div class="text">
      You need <a href="https://en.wikipedia.org/wiki/Comparison_of_integrated_development_environments#Java" target="_blank">an IDE</a> like IntelliJ IDEA, Eclipse, VSCode or even Vim!
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>2</div></div>
    <div class="text">
      <div class="text">
        You need <a href="https://adoptopenjdk.net" target="_blank">JDK 8 to 11</a>
      </div>
      <div class="text">
        Optionally get <a href="https://www.graalvm.org/" target="_blank">GraalVM</a> 19.0.2+ for native compilation
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>3</div></div>
    <div class="text">
      <div class="text">
        You need <a href="https://maven.apache.org/" target="_blank">Apache Maven 3.5.3+</a>
      </div>
      <div class="text">
        or <a href="https://gradle.org/" target="_blank">Gradle</a>
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>4</div></div>
    <div class="text">
      <div class="text">
        Enjoy Quarkus 0.18.0!
      </div>
      <div class="text">
        [<a href="/blog/quarkus-0-18-released/">announce</a>|<a href="https://github.com/quarkusio/quarkus/releases/tag/0.18.0">changelog</a>]
      </div>
    </div>
  </div>
</div>
