
<div class="full-width-bg component-slim get-started-steps">
  <div class="grid-wrapper">
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">1</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Install via Command Line Interface</h3>
      <p>Open your favorite terminal and use JBang to install the Quarkus CLI. You do not need to have Java installed first.</p>
      <h4>For Linux, macOS, and Windows (using WSL or bash compatible shell like Cygwin or MinGW)</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>curl -Ls https://sh.jbang.dev | bash -s - trust add https://repo1.maven.org/maven2/io/quarkus/quarkus-cli/
curl -Ls https://sh.jbang.dev | bash -s - app install --fresh --force quarkus@quarkusio</code></pre>
            </div>
          </div>
      <h4>For Windows using Powershell</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>iex "& { $(iwr https://ps.jbang.dev) } trust add https://repo1.maven.org/maven2/io/quarkus/quarkus-cli/"
iex "& { $(iwr https://ps.jbang.dev) } app install --fresh --force quarkus@quarkusio"</code></pre>
            </div>
          </div>
      <p>If it's your first time to install, you'll need to restart your shell.</p>
      <h4>Or, you can also install the CLI with SDKMAN!</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>sdk install quarkus</code></pre>
            </div>
          </div>
      <h4>For more options, such as Homebrew or Chocolatey, see <a href="/guides/cli-tooling">the Quarkus CLI guide</a>.</h4>
    </div>
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">2</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Create the  Getting Started Application </h3>
      <p>Run this script in your CLI:</p>
      <div class="grid-wrapper">
        <div class="width-6-12 width-12-12-m">
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>quarkus create && cd code-with-quarkus</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">3</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Run the  Getting Started Application </h3>
      <p>Run this script in your CLI:</p>
      <div class="grid-wrapper">
        <div class="width-6-12 width-12-12-m">
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>quarkus dev</code></pre>
            </div>
          </div>
        </div>
      </div>
      <h4>Boom! Your Quarkus app is now running at <code>localhost:8080</code></h4>
    </div>
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">4</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Live Coding with Quarkus</h3>
      <p>Quarkus makes it easy to change your code on the fly. Let's modify the <a href="http://localhost:8080/hello">RESTful endpoint</a></p>
      <br>
      <p>Open <code>src/main/java/org/acme/GreetingResource.java</code> in a text editor or your <a href="https://quarkus.io/guides/ide-tooling">favorite IDE</a> and change "Hello from RESTEasy Reactive" to "Hola from RESTEasy Reactive". Then refresh the browser and see the changes.</p>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight">
<code>
@Path("/hello")
public class GreetingResource {

    @GET
    @Produces(MediaType.TEXT_PLAIN)
    public String hello() {
        return "Hello RESTEasy";
    }
}
</code></pre>
            </div>
          </div>
        <h4>Cool stuff right? <a href="https://quarkus.io/guides/maven-tooling#dev-mode">Learn more about Quarkus's dev mode</a>.</h4>
      </div>
  </div>
</div>

