<div class="full-width-bg white component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.getstarted-nextsteps.headline }}</h3>
    </div>

  {% for item in site.data.getstarted-nextsteps.links %}
      <div class="card">
        <a href="{{ item.link }}"></a>
        <div>
          <p class="title">{{ item.title }}</p>
          <div class="description">{{ item.description }}</div>
        </div>
        </a>
      </div>
  {% endfor %}
    <div class="width-12-12 width-12-12-m">
      <h4>{{ site.data.getstarted-nextsteps.secondarycta }}</h4>
    </div>
  </div>
</div>

