<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>1</div></div>
    <div class="text">
        You need <a href="https://en.wikipedia.org/wiki/Comparison_of_integrated_development_environments#Java" target="_blank">an IDE</a> like <a href="https://www.jetbrains.com/idea/download/">IntelliJ IDEA</a>, <a href="https://www.eclipse.org/downloads/">Eclipse</a>, <a href="https://code.visualstudio.com/Download">VSCode</a> or even <a href="https://spacevim.org/use-vim-as-a-java-ide/">Vim</a> or <a href="http://spacemacs.org">Emacs</a>!
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>2</div></div>
    <div class="text">
      <div class="text">
        You need a <a href="https://adoptopenjdk.net" target="_blank">a JDK {{ site.data.versions.jdk }}</a> (any distribution)
      </div>
      <div class="text">
        Optionally get <a href="https://www.graalvm.org/" target="_blank">GraalVM</a> {{ site.data.versions.graalvm }} for native compilation
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>3</div></div>
    <div class="text">
      <div class="text">
        You need <a href="https://maven.apache.org/" target="_blank">Apache Maven {{ site.data.versions.maven }}</a>
      </div>
      <div class="text">
        or <a href="https://gradle.org/" target="_blank">Gradle</a>
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>4</div></div>
    <div class="text">
      <div class="text">
        <a href="https://code.quarkus.io">Start Coding</a>  with Quarkus {{ site.data.versions.quarkus.version }}
        [<a href="{{ site.data.versions.quarkus.announce }}">announce</a>|<a href="https://github.com/quarkusio/quarkus/releases/tag/{{ site.data.versions.quarkus.version }}">changelog</a>]
      </div>
    </div>
  </div>
</div>
