
<div class="full-width-bg component-slim get-started-steps">
  <div class="grid-wrapper">
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">1</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Install via Command Line Interface</h3>
      <p>Open your favorite CLI and paste this script to spin-up Quarkus.</p>
      <div class="grid-wrapper">
        <div class="width-6-12 width-12-12-m">
          <h4>Macintosh</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>
curl -Ls https://sh.jbang.dev | bash -s - app install --fresh --force quarkus@quarkusio
                 </code></pre>
            </div>
          </div>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h4>Windows</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>
curl -Ls https://sh.jbang.dev | bash -s - app install --fresh --force quarkus@quarkusio
                 </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">2</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Create the  Getting Started Application </h3>
      <p>Run this script in your CLI:</p>
      <div class="grid-wrapper">
        <div class="width-6-12 width-12-12-m">
          <h4>Macintosh</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>
Example quarkus getting-started
                 </code></pre>
            </div>
          </div>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h4>Windows</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>
Example quarkus getting-started
                 </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">3</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Run the  Getting Started Application </h3>
      <p>Run this script in your CLI:</p>
      <div class="grid-wrapper">
        <div class="width-6-12 width-12-12-m">
          <h4>Macintosh</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>
quarkus dev
                 </code></pre>
            </div>
          </div>
        </div>
        <div class="width-6-12 width-12-12-m">
          <h4>Windows</h4>
          <div class= "highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>
quarkus dev
                 </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="width-2-12 width-12-12-m">
      <h2 class="step">Step <span class="step-no">4</span></h2>
    </div>
    <div class="width-10-12 width-12-12-m">
      <h3>Just kidding, there isn't step a four. You’re already using Quarkus.</h3>
      <p>The getting started app has tutorials, guides and a sample app as a starter. So it comes directly from <code>localhost:8080</code></p>
    </div>
  </div>
</div>
