<div class="navigation-wrapper">
  <div class="width-12-12">
    <div class="header navigation">
      <div class="logo-wrapper">
        <a class="styled-logo" href="{{site.baseurl}}/">Quarkus</a>
      </div>
      <div class="nav-container">
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="{{site.baseurl}}/get-started/" class="{% if page.url contains '/get-started/' %}active{% endif %}">Get Started</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/guides/" class="{% if page.url contains '/guides/' %}active{% endif %}">Guides</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/extensions/" class="{% if page.url contains '/extensions/' %}active{% endif %}">Extensions</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
