<div class="nav-wrapper">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <input type="checkbox" id="checkbox" />
      <nav id="main-nav" class="main-nav">
        <div class="logo-wrapper">
           <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/quarkus_logo_horizontal_rgb_600px_reverse.png" class="project-logo" title="Quarkus"></a>
        </div>
    <label class="nav-toggle" for="checkbox">
      <i class="fa fa-bars"></i>
    </label>
    <ul id="menu" class="menu">
      <li class="dropdown">
        <span href="{{site.baseurl}}/about/">About<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/about" class="{% if page.url contains '/about/' %}active{% endif %}">WHAT IS QUARKUS?</a></li>
          <li><a href="{{site.baseurl}}/container-first" class="{% if page.url contains '/container-first/' %}active{% endif %}">CONTAINER FIRST</a></li>
          <li><a href="{{site.baseurl}}/continuum" class="{% if page.url contains '/continuum/' %}active{% endif %}">REACTIVE</a></li>
          <li><a href="{{site.baseurl}}/developer-joy" class="{% if page.url contains '/developer-joy/' %}active{% endif %}">DEVELOPER JOY</a></li>
          <li><a href="{{site.baseurl}}/kubernetes-native" class="{% if page.url contains '/kubernetes-native/' %}active{% endif %}">KUBERNETES NATIVE</a></li>
          <li><a href="{{site.baseurl}}/standards" class="{% if page.url contains '/standards/' %}active{% endif %}">STANDARDS</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span href="{{site.baseurl}}/learn/">Learn<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/get-started" class="{% if page.url contains '/get-started/' %}active{% endif %}">GET STARTED</a></li>
          <li><a href="{{site.baseurl}}/guides" class="{% if page.url contains '/guides/' %}active{% endif %}">DOCUMENTATION</a></li>
          <li><a href="{{site.baseurl}}/qtips" class="{% if page.url contains '/qtips/' %}active{% endif %}">"Q" TIP VIDEOS</a></li>          
          <li><a href="{{site.baseurl}}/books" class="{% if page.url contains '/books/' %}active{% endif %}">BOOKS</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <span href="https://quarkus.io/extensions/">Extensions<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <!-- Note that quarkus.io is hardcoded here, because it is the only url which supports extensions -->
          <li><a href="https://quarkus.io/extensions/" class="{% if page.url contains '/extensions/' %}active{% endif %}">BROWSE EXTENSIONS</a></li>
          <li><a href="{{site.baseurl}}/faq/#what-is-a-quarkus-extension" class="{% if page.url contains 'what-is-a-quarkus-extension' %}active{% endif %}">USE EXTENSIONS</a></li>
          <li><a href="{{site.baseurl}}/guides/writing-extensions" class="{% if page.url contains '/guides/writing-extensions' %}active{% endif %}">CREATE EXTENSIONS</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <span href="{{site.baseurl}}/community/">Community<i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="{{site.baseurl}}/support/" class="{% if page.url contains '/support/' %}active{% endif %}">SUPPORT</a></li>
          <li><a href="{{site.baseurl}}/blog" class="{% if page.url contains '/blog/' %}active{% endif %}">BLOG</a></li>
          <li><a href="{{site.baseurl}}/discussion" class="{% if page.url contains '/discussion/' %}active{% endif %}">DISCUSSION</a></li>
          <li><a href="{{site.baseurl}}/insights" class="{% if page.url contains '/insights/' %}active{% endif %}">PODCAST</a></li>
          <li><a href="{{site.baseurl}}/events" class="{% if page.url contains '/events/' %}active{% endif %}">EVENTS</a></li>
          <li><a href="{{site.baseurl}}/newsletter" class="{% if page.url contains '/newsletter/' %}active{% endif %}">NEWSLETTER</a></li>
          <li><a href="https://github.com/orgs/quarkusio/projects/13/views/1" class="{% if page.url contains '/roadmap/' %}active{% endif %}">ROADMAP</a></li>
          </ul>
      </li>
      <li>
        <a href="https://code.quarkus.io" class="button-cta secondary white">START CODING</a>
      </li>
      <li class="dropdown">
        <span href="{{site.baseurl}}/language/"><div class="fas fa-globe langicon"></div><i class="fas fa-chevron-down"></i></span>
        <ul class="submenu">
          <li><a href="https://quarkus.io{{ page.url }}" >OFFICIAL (ENGLISH)</a></li>
          <li><a href="https://es.quarkus.io{{ page.url }}">ESPAÑOL</a></li>
          <li><a href="https://cn.quarkus.io{{ page.url }}">简体中文</a></li>
          <li><a href="https://ja.quarkus.io{{ page.url }}">日本語</a></li>
          </ul>
      </li>
    </ul>
      </nav>
    </div>
  </div>
</div>
