<div class="full-width-bg component homepage-content-band alt-background-black">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m block-image">
      <h2>Quarkus Benefactors</h2>
    </div>
    <div class="width-12-12 width-12-12-m benefactors-wrapper">
      <div class="benefactors-logo">
        <a href="https://www.ibm.com/us-en" target="_blank"><img src="{{site.baseurl}}/assets/images/supporters/ibm-logo-reverse.svg" alt="IBM logo" /></a>
      </div>
      <div class="benefactors-logo">
        <a href="https://www.redhat.com/en" target="_blank"><img src="{{site.baseurl}}/assets/images/supporters/redhat-logo-reverse.svg" alt="Red Hat logo" /></a>
      </div>
      <div class="benefactors-logo">
        <a href="https://www.herodevs.com/" target="_blank"><img src="{{site.baseurl}}/assets/images/supporters/herodevs-logo-reverse.svg" alt="HeroDevs logo" /></a>
      </div>
    </div>
    <div class="width-12-12 width-12-12-m block-image">
      <p class="textCTA homebandCTAalign"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/benefactors">Learn more about our Benefactors</a></p>
    </div>
  </div>
</div>