<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="grid__item width-12-12">
      <h2>Stay ahead of the Quarkus curve with our newsletter</h2>
    </div>
    <div class="grid__item width-5-12 width-12-12-m">
      <p>Once a month you will receive a summary of the latest changes, updates and interesting blog posts about Quarkus.</p>
      <p>We will not share your email address and you can unsubscribe at any time.<br><a href="https://www.redhat.com/en/about/privacy-policy">Privacy Policy</a></p>
    </div>
    <div class="grid__item width-7-12 width-12-12-m">
    </div>
  </div>
</div>
