
<div class="full-width-bg component homepage-callout">
  <div class="grid-wrapper">
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{{site.baseurl}}/blog/aviatar-experiences-significant-savings/"><img src="{{site.baseurl}}/assets/images/home/userstories_lufthuansa.png"></a>
    </div>
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{{site.baseurl}}/blog/logicdrop-customer-story/"><img src="{{site.baseurl}}/assets/images/home/userstories_logicdrop.png"></a>
    </div>
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{{site.baseurl}}/blog/banco-do-brasil-open-banking-user-story/"><img src="{{site.baseurl}}/assets/images/home/userstories_bancodobrasil.png"></a>
    </div>
    <div class="grid__item width-3-12 width-12-12-m quote-image">
     <a href="{{site.baseurl}}/blog/adoptium-customer-story/"><img src="{{site.baseurl}}/assets/images/home/userstories_adoptium.png"></a>
    </div>
  </div>
  <div class="grid-wrapper quote-spacer">
    <div class="width-2-12 width-12-12-m callout-icon">
      <i class="fa fa-quote-left fa-5x"></i>
    </div>
    <div class="grid__item width-10-12 width-12-12-m">
      <p class="callout-quote">{{ site.data.callout-quotes.quote }}</p>
      <p class="callout-credit">- {{ site.data.callout-quotes.author }}</p>
      <p class="callout-links"><a href="{{ site.data.callout-quotes.usecaselink }}">Read this User Story</a> | <a href="{{site.baseurl}}/blog/tag/user-story/">See All User Stories</a></p>
    </div>
  </div>
</div>
