<div class="full-width-bg component homepage-content-band alt-background-dark">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m block-image">
      <img src="{{site.baseurl}}/assets/images/ai/homepage-band-ai-graphic.svg" alt="Quarkus and AI">
    </div>
    <div class="grid__item width-6-12 width-12-12-m">
      <h2>Quarkus for AI</h2>
      <p>Harness the power of AI with Quarkus. Experience unmatched performance, agility, and a superior developer experience, specifically designed for next-generation AI applications.</p>
      <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/ai">Learn more about Quarkus and AI</a></p>
    </div>
  </div>
</div>