<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-7-12 width-12-12-m block-image">
      <a href="https://www.commonhaus.org/"><img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/project/svg/CF_logo_quarkus_default.svg" alt="Quarkus is part of the Commonhaus Foundation." class="img-md light-only"><img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/project/svg/CF_logo_quarkus_reverse.svg" alt="Quarkus is part of the Commonhaus Foundation." class="img-md dark-only"></a>
    </div>
    <div class="grid__item width-5-12 width-12-12-m">
      <h2>Quarkus is part of the Commonhaus Foundation</h2>
      <p>In order to fulfill our goal of being a more inclusive and fostering a more collaborative environment, we have moved to the Commonhaus Foundation. This is a step to further solidify our commitment to open-source development and enterprise adoption, addressing the perception that it was overly dependent on a single vendor (Red Hat). This move aims to provide a neutral ground where other organizations and contributors can feel equally valued and involved, ensuring Quarkus continues to thrive, supported by a broad base of contributors from multiple organizations.</p>
      <p><a href="https://www.commonhaus.org/">Learn more about Commonhaus Foundation.</a></p>
    </div>
  </div>
</div>