<div class="tabs">
  <input type="radio" name="tabs" id="tab1" checked="checked">
  <label for="tab1">Imperative</label>
  <div class="tab">
<pre>
  <code>
  function sayHi(fName){
    var custName = fName;
    alert('Hi ' + custName);
  }
  </code>                       
</pre>
  </div>
  
  <input type="radio" name="tabs" id="tab2">
  <label for="tab2">Reactive</label>
  <div class="tab">
<pre>
  <code>
  $ Hello world!
  $ Hello world!
  $ Hello world!
  $ Hello world!
  </code>                       
</pre>
  </div>
</div>