<div class="full-width-bg component text-centered">
  <div class="grid-wrapper">
    <div id="container-first" class="width-12-12">
      <h2>Quarkus offers unequaled performance </h2>
    </div>
    <div class="width-12-12 block-content">
      <img class="light-only" src="https://quarkus.io/benchmarks/spring-quarkus-perf-comparison/2026-02-16_17-11-38/metrics-tuned-composite-for-main-comparison-light.svg" alt="Quarkus metrics graphic">
      <img class="dark-only" src="https://quarkus.io/benchmarks/spring-quarkus-perf-comparison/2026-02-16_17-11-38/metrics-tuned-composite-for-main-comparison-dark.svg" alt="Quarkus metrics graphic">
    </div>
  </div>
</div>
