<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12 block-content">
      <h2>Developer Joy</h2>
    </div>
    <div class="width-7-12 width-12-12-m block-content">
      
      <p>A cohesive platform for optimized developer joy:
        <ul>
            <li>Unified configuration</li>
            <li>Zero config, live reload in the blink of an eye</li>
            <li>Streamlined code for the 80% common usages, flexible for the 20%</li>
            <li>No hassle native executable generation</li>
        </ul>
      </p>
    </div>
    <div class="width-5-12 width-12-12-m block-content">
        <div class="listingblock">
          <div class="content">
            <pre class="highlight"><code class="bash">$ mvn package -Pnative

  # Or

$ gradle build -Dquarkus.package.type=native</code></pre>
          </div>
        </div>
        <a href="/vision/developer-joy">Learn more</a>
    </div>
    <div class="width-6-12 width-12-12-m block-image justify-self-start align-self-end">
      <img src="{{site.baseurl}}/assets/images/homepage_comic_1.png"/ class="img-md">
    </div>
    <div class="width-6-12 width-12-12-m block-image justify-self-end align-self-end">
      <img src="{{site.baseurl}}/assets/images/homepage_comic_2.png"/ class="img-md">
    </div>
  </div>
</div>
