<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-3-12"></div>
  <div class="grid__item width-6-12 text-center">
    <h1>QUARKUS 3<br /> has launched.</h1>
      <h3>Quarkus 3 continues the mission of making Java the preferred framework for Kubernetes-native development with new developer tools and improved performance.</h3>
      <img src="{{site.baseurl}}/assets/images/quarkus3/homeiconset.svg" class="project-logo" title="Quarkus 3.0 feature icons">
      <a href="{{site.baseurl}}/quarkus3/" class="button-cta">Learn More about 3</a>
  </div>
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>
