<div class="full-width-bg component homepage-content-band alt-background">
  <div class="grid-wrapper">
    <div class="width-12-12 block-content">
      <h2>Unifies Imperative and Reactive</h2>
    </div>
    <div class="width-12-12 width-12-12-m">
      <p>Combine both the familiar imperative code and the reactive style when developing applications.
      <a href="/vision/continuum">Learn more</a>.</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <div class="grid-wrapper">
        <div class="width-6-12 code-item">
          <div class="code-label">Imperative</div>
          <div class="code-wrapper">
            <pre class="highlight"><code>@Inject
SayService say;

@GET
@Produces(MediaType.TEXT_PLAIN)
public String hello() {
    return say.hello();
}</code></pre>
          </div>
        </div>
        <div class="width-6-12 code-item">
          <div class="code-label">Reactive</div>
          <div class="code-wrapper">
            <pre class="highlight"><code>@Channel("kafka") Multi&lt;String&gt; events;

@GET
@Produces(MediaType.SERVER_SENT_EVENTS)
public Multi&lt;String&gt; events() {
    return events;
}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
