<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-7-12 homepage-hero-band-hero-callout">
    <h2>SUPERSONIC<span class="light-blue">/</span><br>SUBATOMIC<span class="light-blue">/</span><br>JAVA</h2>
    </div>
  <div class="grid__item width-1-12"></div> 
  <div class="grid__item width-4-12 text-center homepage-hero-band-calloutcontent">
    <p>A Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the best of breed Java libraries and standards.</p>
    <p class="nowavailable">Now Available</p>
    <h3>Quarkus {{ site.data.versions.quarkus.version | replace: ".Final", "" }}</h3>
    <p class="moreinfo"><a href="{{ site.data.versions.quarkus.announce }}">Read the release notes</a></p>
  </div>
  <div class="grid__item width-12-12 text-center">
    <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started with Quarkus</a>
    <a href="{{site.baseurl}}/guides/" class="button-cta">Read the Guides</a>
  </div>  
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>