<div class="full-width-bg component homepage-content-band video-band">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m video-container">
      <iframe src="https://www.youtube.com/embed/hhHgurtI674" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h2>Supersonic, Subatomic Java.</h2>
      <p>Learn how Quarkus addresses the challenges of Java on the cloud and containers, and the benefits it provides.</p>
    </div>
  </div>
</div>
