<div class="full-width-bg component homepage-highlights-band">
  <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-7-12 width-12-12-m block-content">
        <h2>Unifies Imperative and Reactive</h2>
        <p>Combine both the familiar imperative code and the non-blocking reactive style when developing applications.
        <a href="/TODO">Learn more</a>.</p>
      </div>
      <div class="width-5-12 width-12-12-m block-image">
        {% include homepage-code-tabs.html %}
      </div>
    </div>
  </div>
  <div class="width-12-12 highlights-alternating-inline-block">
    
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/placeholder.png">
        <!-- REST CRUD application 
            Traditional Cloud Native Java
            Show bars vertically for boot time
            Show bars vertically for startup time
        -->
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Container First</h2>
        <p>Quarkus  tailors your applciation for GraalVM and HotSpot.
        Low boot time, low RSS memory (not just heap size!) offering near instant scale up and high density memory utilization in container orchestration platforms like Kubernetes.
        We use a technique we call compile time boot. <a href="/TODO">Learn more</a>.</p>
      </div>
    </div>
  </div>
  <div class="width-12-12 highlights-alternating-inline-block">
    
    <div class="grid-wrapper">
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Developer Joy</h2>
        <p> Cohesive platform from config to build.<br />Streamlined code for the 80% common usages, flexible for the 20%. Instant fix the bug and hit reload development loop for all libraries including Hibernate.</p>
      </div>
    </div>
  </div>

  <div class="grid-wrapper">
    <div class="grid__item width-8-12">
      <h2>Best of Breed Libraries and Standards</h2>
      <p>Quarkus brings a cohesive, fun to use full-stack framework by leveraging best of breed libraries you love and use wired on a standard backbone.</p>
    </div>
  </div>
  <div class="grid-wrapper libraries-standards-band">
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://vertx.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_eclipse_vertx.png">
        <span>Eclipse Vert.x</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="http://hibernate.org" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_hibernate.png">
        <span>Hibernate</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://resteasy.github.io" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_resteasy.png">
        <span>Resteasy</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://camel.apache.org" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_camel.png">
        <span>Apache Camel</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://microprofile.io" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_eclipse_microprofile.png">
        <span>Eclipse Microprofile</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://netty.io" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_netty.png">
        <span>Netty</span>
      </a>
    </div>
  </div>

</div>
