<div class="full-width-bg component homepage-highlights-band">
  <div class="grid-wrapper">
    <div class="grid__item width-8-12 width-12-12-m">
      <h2>Imperative and Reactive in one programming model</h2>
      <p>Use the familiar imperative code approach or need the event-driven and non-blocking approach. Protean brings both under one roof. Brings serverless to Java.</p>
    </div>
    <div class="grid__item width-8-12 width-12-12-m">
      <h2>Container First</h2>
      <p>Protean is made for optimally running on Graal VM and HotSpot. Low boot time, low RSS memory (not just heap size!) offering stellar boot and memory utilization in containers and container orchestration platforms like Kubernetes. We use a technique we call compile time boot.</p>
    </div>
    <div class="grid__item width-8-12 width-12-12-m">
      <h2>Developer Joy</h2>
      <p> cohesive platform from config to build.<br />Streamlined code for the 80% common usages, flexible for the 20%. Instant fix the bug and hit reload development loop for all libraries including Hibernate.</p>
    </div>
  </div>
</div>
