<div class="component homepage-features-band full-width-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>Quarkus Features</h2>
    </div>
  </div>
  <div class="grid-container">
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-containerfirst.svg">
      <h3><a href="/container-first">Container First</a></h3>
      <p>Quarkus tailors your application for GraalVM and HotSpot. Amazingly fast boot time, incredibly low RSS memory (not just heap size!) offering near instant scale up and high density memory utilization in container orchestration platforms like Kubernetes. We use a technique we call compile time boot.</p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-reactive.svg">
      <h3><a href="/continuum">Unifies imperative and reactive</a></h3>
      <p>Combine both the familiar imperative code and the reactive style when developing applications.</p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{{site.baseurl}}/assets/images/home/icon-rev-standards.svg">
      <h3><a href="/standards">Community and Standards</a></h3>
      <p>Quarkus provides a cohesive, fun to use, full-stack framework by leveraging a growing list of over fifty best-of-breed libraries that you love and use. All wired on a standard backbone.</p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-kube-native.svg">
      <h3><a href="/kubernetes-native">Kube-Native</a></h3>
      <p>The combination of Quarkus and Kubernetes provides an ideal environment for creating scalable, fast, and lightweight applications. Quarkus significantly increases developer productivity with tooling, pre-built integrations, application services, and more.</p>
    </div>
    <div class="width-4-12 width-12-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/home/icon-rev-developerjoy.svg">
      <h3><a href="/developer-joy">Developer Joy</a></h3>
      <p>A cohesive platform for optimized developer joy with unified configuration and no hassle native executable generation. Zero config, live reload in the blink of an eye and streamlined code for the 80% common usages, flexible for the remainder 20%.</p>
    </div>
  </div>
</div>