<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-3-12"></div>
  <div class="grid__item width-6-12 text-center">
    <h1>QUARKUS 2.0 IS HERE!</h1>
      <h3>Quarkus 2.0 continues the mission of making Java the preferred framework for Kubernetes-native development with new developer tools and improved performance.</h3>
      <img src="{{site.baseurl}}/assets/images/quarkus2/homeiconset.svg" class="project-logo" title="Quarkus 2.0 feature icons">
      <a href="{{site.baseurl}}/quarkus2/" class="button-cta">Learn More about 2.0</a>
  </div>
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>
