<div class="full-width-bg component homepage-content-band alt-background">
  <div class="grid-wrapper">
    <div class="grid__item width-12-12">
      <h2>Best of Breed Libraries and Standards</h2>
    </div>
    <div class="grid__item width-5-12 width-12-12-m">
      <p>Quarkus provides a cohesive, fun to use, full-stack framework by leveraging a growing list of hundreds of best-of-breed libraries that you love and use. All wired on a standard backbone. <a href="/vision/standards">Learn more about Quarkus Extensions</a>.</p>
    </div>
    <div class="width-7-12 width-12-12-m block-image justify-self-center">
      <img src="{{site.baseurl}}/assets/images/homepage_extensions_graphic.png"/ class="img-md">
    </div>
  </div>
</div>
