<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div id="container-first" class="width-12-12">
      <h2>Container First</h2>
    </div>
    <div class="width-12-12 block-content">
      <p>Quarkus tailors your application for GraalVM and HotSpot. Amazingly fast boot time, incredibly low RSS memory (not just heap size!) offering near instant scale up and high density memory utilization in container orchestration platforms like Kubernetes. We use a technique we call compile time boot. <a href="/vision/container-first">Learn more.</a></p>
      <pre class="highlightjs highlight"><code class="bash">$ ./my-native-java-rest-app
Quarkus started in 0.008s</code></pre>
      <img src="{{site.baseurl}}/assets/images/quarkus_metrics_graphic_bootmem_wide.png">
    </div>
  </div>
</div>
