<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-12-12">
    <div class="home-hero">
      <img src="{{site.baseurl}}/assets/images/quarkus_logo_horizontal_rgb_reverse.svg" class="project-logo" title="Quarkus">
      <h2>Supersonic Subatomic Java</h2>
      <p>A Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the best of breed Java libraries and standards</p>
      <a href="{{site.baseurl}}/get-started/" class="button-cta secondary">Get Started</a>
      <a href="#" class="scroll-down" address="true"></a>
    </div>
  </div>
</div>
