<div class="component homepage-dev-ui-band full-width-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>Dev UI Features</h2>
      <p>Explore the powerful built-in features of the Quarkus Dev UI that enhance productivity and streamline
        development.</p>
    </div>
  </div>
  <div class="grid-container">
    <div class="contrib-block">
      <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/configuration-dev-ui-light.png"
          alt="Configuration Management Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/configuration-dev-ui-dark.png"
          alt="Configuration Management Dark">
      </div>
      <div class="content">
        <h3>Configuration Management</h3>
        <p>Seamlessly manage and modify application settings using Quarkus's unified configuration framework.</p>
      </div>
    </div>
    <div class="contrib-block">
      <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/endpoints-dev-ui-light.png"
          alt="Visualize Endpoints Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/endpoints-dev-ui-dark.png"
          alt="Visualize Endpoints Dark">
      </div>
      <div class="content">
        <h3>Visualize Endpoints</h3>
        <p>Interact with application endpoints effortlessly.</p>
      </div>
    </div>
    <div class="contrib-block">
      <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/create-sql-script-dev-ui-light.png"
          alt="DB Schema Generation Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/create-sql-script-dev-ui-dark.png"
          alt="DB Schema Generation Dark">
      </div>
      <div class="content">
        <h3>DB Schema Generation</h3>
        <p>Automatically create database schemas and SQL scripts for tables, reducing manual effort.</p>
      </div>
    </div>
    <div class="contrib-block">
      <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/dependency-graph-dev-ui-light.png"
          alt="Dependency Visualization Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/dependency-graph-dev-ui-dark.png"
          alt="Dependency Visualization Dark">
      </div>
      <div class="content">
        <h3>Dependency Visualization</h3>
        <p>Get a comprehensive view of your application's dependencies to optimize and debug relationships.</p>
      </div>
    </div>
    <div class="contrib-block">
      <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/continuous-testing-dev-ui-light.png"
          alt="Continuous Testing Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/continuous-testing-dev-ui-dark.png"
          alt="Continuous Testing Dark">
      </div>
      <div class="content">
        <h3>Continuous Testing</h3>
        <p>Run tests continuously to ensure code quality and prevent regressions.</p>
      </div>
    </div>
    <div class="contrib-block">
      <div class="image-container">
        <img class="light-only" src="{{site.baseurl}}/assets/images/dev-ui/build-container-image-dev-ui-light.png"
          alt="Build Container Image Light">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/dev-ui/build-container-image-dev-ui-dark.png"
          alt="Build Container Image Dark">
      </div>
      <div class="content">
        <h3>Build Container Image</h3>
        <p>Create lightweight, production-ready container images directly from the Dev UI.</p>
      </div>
    </div>


  </div>
  <div class="button-container">
    <button onclick="window.location.href='{{site.baseurl}}/dev-ui'">Go to Dev UI Page</button>
  </div>
</div>