<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="grid__item width-4-12">
      <img src="{{site.baseurl}}/assets/images/homepage-kube-native.svg">
    </div>
    <div class="grid__item width-8-12">
      <h2>Kube-Native</h2>
      <p>Quarkus tailors your application for GraalVM and HotSpot. Amazingly fast boot time, incredibly low RSS memory (not just heap size!) offering near instant scale up and high density memory utilization in container orchestration platforms like Kubernetes. We use a technique we call compile time boot.</p>
      <pre class="highlightjs highlight"><code class="bash">$ ./my-native-java-rest-app
Quarkus started in 0.008s</code></pre>
      <p><a href="/container-first">Learn more</a>></p>
    </div>
  </div>
</div>
<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="grid__item width-8-12">
      <h2>Unifies imperative and reactive</h2>
      <p>Combine both the familiar imperative code and the reactive style when developing applications.</p>
      <p><a href="/continuum">Learn more</a>></p>
    </div>
    <div class="grid__item width-4-12">
      <img src="{{site.baseurl}}/assets/images/homepage-reactive.svg">
    </div>
  </div>
</div>
<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="grid__item width-4-12">
      <img src="{{site.baseurl}}/assets/images/homepage-standards.svg">
    </div>
    <div class="grid__item width-8-12">
      <h2>Community and Standards</h2>
      <p>Quarkus provides a cohesive, fun to use, full-stack framework by leveraging a growing list of over fifty best-of-breed libraries that you love and use. All wired on a standard backbone.</p>
      <p><a href="/standards">Learn more</a>></p>
    </div>
  </div>
</div>
<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="grid__item width-8-12">
      <h2>Developer Joy</h2>
      <p>A cohesive platform for optimized developer joy:
        <ul>
            <li>Unified configuration</li>
            <li>Zero config, live reload in the blink of an eye</li>
            <li>Streamlined code for the 80% common usages, flexible for the 20%</li>
            <li>No hassle native executable generation</li>
        </ul>
      </p>
      <p><a href="/developer-joy">Learn more</a>></p>
    </div>
    <div class="grid__item width-4-12">
      <img src="{{site.baseurl}}/assets/images/homepage-developerjoy.svg">
    </div>
  </div>
</div>
