<div class="full-width-bg component text-centered">
  <div class="grid-wrapper">
    <div id="container-first" class="width-12-12">
      <h2>Quarkus offers unequaled performance </h2>
    </div>
    <div class="width-12-12 block-content">
      <img class="light-only" src="{{site.baseurl}}/assets/images/home/quarkus_metrics_graphic_bootmem_wide.svg" alt="Quarkus metrics graphic">
      <img class="dark-only" src="{{site.baseurl}}/assets/images/home/quarkus_metrics_graphic_bootmem_wide-dark.svg" alt="Quarkus metrics graphic">
    </div>
  </div>
</div>
