<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-3-12"></div>
  <div class="grid__item width-6-12 text-center">
    <img src="{{site.baseurl}}/assets/images/quarkus_logo_horizontal_rgb_reverse.svg" class="project-logo" title="Quarkus">
    <h2>Supersonic Subatomic Java</h2>
      <p>A Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the best of breed Java libraries and standards.</p>
      <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started with Quarkus</a>
      <a href="{{site.baseurl}}/guides/" class="button-cta">Read the Guides</a>
  </div>
  <div class="grid__item width-3-12"></div>
  <div class="grid__item width-4-12 homepage-hero-band-lcontent">
          <a href="https://t.co/AUnQuWDzcY?amp=1"><img src="{{site.baseurl}}/assets/images/homepage_herocallout_stevies2021.png" title="2021 Stevie Award" target="_blank"></a>
  </div>
  <div class="grid__item width-4-12 homepage-hero-band-lcontent">
          <a href="{{site.baseurl}}/worldtour/"><img src="{{site.baseurl}}/assets/images/worldtour/homepage_herocallout_worldtour.png" title="Quarkus World Tour"></a>
  </div>
  <div class="grid__item width-4-12 homepage-hero-band-rcontent">
    <p>Now Available</p>
    <h3>Quarkus {{ site.data.versions.quarkus.version | replace: ".Final", "" }}</h3>
    <a href="{{ site.data.versions.quarkus.announce }}">More Information</a>
  </div>
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>
