<div class="full-width-bg component homepage-highlights-band">
  <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-7-12 width-12-12-m block-content">
        <h2>Imperative and Reactive in one programming model</h2>
        <p>Use the familiar imperative code approach or need the event-driven and non-blocking approach. Quarkus brings both under one roof. Brings serverless to Java.</p>
      </div>
      <div class="width-5-12 width-12-12-m block-image">
        {% include homepage-code-tabs.html %}
      </div>
    </div>
  </div>
  <div class="width-12-12 highlights-alternating-inline-block">
    
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/placeholder.png">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Container First</h2>
        <p>Quarkus is made for optimally running on Graal VM and HotSpot. Low boot time, low RSS memory (not just heap size!) offering stellar boot and memory utilization in containers and container orchestration platforms like Kubernetes. We use a technique we call compile time boot.</p>
      </div>
    </div>
  </div>
  <div class="width-12-12 highlights-alternating-inline-block">
    
    <div class="grid-wrapper">
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Developer Joy</h2>
        <p> Cohesive platform from config to build.<br />Streamlined code for the 80% common usages, flexible for the 20%. Instant fix the bug and hit reload development loop for all libraries including Hibernate.</p>
      </div>
    </div>
  </div>
</div>
