<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-6-12 width-12-12-m homepage-hero-band-lcontent">
      <img src="{{site.baseurl}}/assets/images/quarkus_logo_horizontal_rgb_reverse.svg" class="project-logo" title="Quarkus">
      <h2>Supersonic Subatomic Java</h2>
      <p>A Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the best of breed Java libraries and standards.</p>
  </div>
  <div class="grid__item width-6-12 width-12-12-m homepage-hero-band-rcontent">
    <p>Announcing</p>
    <h3>Quarkus 1.0</h3>
    <a href="{{site.baseurl}}/get-started">Learn more</a>
  </div>
  <div class="grid__item width-12-12 homepage-hero-band-cta">
    <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started with Quarkus</a>
    <a href="#container-first" class="scroll-down" class="scroll-down" address="true"></a>
  </div>
</div>
