<div class="component homepage-features-band full-width-bg text-centered">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2>Quarkus Features</h2>
    </div>
  </div>
  <div class="grid-container">
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage-containerfirst.svg">
      <h3>Container First</h3>
      <p>Quarkus tailors your application for GraalVM and HotSpot. Amazingly fast boot time, incredibly low RSS memory (not just heap size!) offering near instant scale up and high density memory utilization in container orchestration platforms like Kubernetes. We use a technique we call compile time boot.</p>
      <p><a href="/container-first">Learn more</a>></p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage-reactive.svg">
      <h3>Unifies imperative and reactive</h3>
      <p>Combine both the familiar imperative code and the reactive style when developing applications.</p>
      <p><a href="/continuum">Learn more</a>></p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{{site.baseurl}}/assets/images/homepage-standards.svg">
      <h3>Community and Standards</h3>
      <p>Quarkus provides a cohesive, fun to use, full-stack framework by leveraging a growing list of over fifty best-of-breed libraries that you love and use. All wired on a standard backbone.</p>
      <p><a href="/standards">Learn more</a>></p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage-kube-native.svg">
      <h3>Kube-Native</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus vestibulum ipsum eget sollicitudin. Pellentesque iaculis maximus urna, ut ullamcorper purus tempus eu. Cras rhoncus sagittis orci at consequat.</p>
    </div>
    <div class="width-4-12 width-6-12-m contrib-block">
      <img src="{{site.baseurl}}/assets/images/homepage-developerjoy.svg">
      <h3>Developer Joy</h3>
      <p>A cohesive platform for optimized developer joy with unified configuration and no hassle native executable generation. Zero config, live reload in the blink of an eye and streamlined code for the 80% common usages, flexible for the remainder 20%.</p>
      <p><a href="/developer-joy">Learn more</a>></p>
    </div>
  </div>
</div>