<div class="full-width-bg component homepage-content-band alt-background">
  <div class="grid-wrapper">
    <div class="width-12-12 block-content">
      <h2>Unifies Imperative and Reactive</h2>
    </div>
    <div class="width-6-12 width-12-12-m">
      <p>Combine both the familiar imperative code and the non-blocking reactive style when developing applications.
      <a href="/vision/continuum">Learn more</a>.</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      {% include homepage-code-tabs.html %}
    </div>
  </div>
</div>
