<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-3-12"></div>
  <div class="grid__item width-6-12 text-center">
      <img src="{{site.baseurl}}/assets/images/1kcontributors/hero_1k_graphic.svg" class="project-logo" title="Quarkus Core reaches 1000 Contributors milestone">
          <h2>Quarkus has reached the incredible milestone of 1000 community contributors!</h2>
          <a href="{{site.baseurl}}/1000contributors/" class="button-cta">Celebrate with us</a>
          <p><a href="{{site.baseurl}}/get-started/">Get Started with Quarkus</a>&nbsp;|&nbsp;<a href="{{site.baseurl}}/guides/" >Read the Guides</a></p>
  </div>
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>
