{% assign docversion = include.docversion %}
{% assign docversion_index = docversion | replace: '.', '-' %}
{% assign cat_data = site.data.versioned[docversion_index].index.categories.categories %}
{% assign pinned_data = site.data.versioned[docversion_index].index.categories.pinned %}

{% capture toc_json %}[{% for cat in cat_data %}{"id":"{{ cat.id }}","title":"{{ cat.title | escape }}"{% if cat.subcategories %},"subcategories":[{% for sub in cat.subcategories %}{"id":"{{ sub.id }}","title":"{{ sub.title | escape }}"}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endcapture %}
{% capture categories_meta %}{ {% for cat in cat_data %}"{{ cat.id }}": {"title": "{{ cat.title }}"{% if cat.description %}, "description": "{{ cat.description }}"{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %} }{% endcapture %}

<div id="guides-app">

  <div class="guides-app-main-content">
  <div class="guide-title-bar">
    <qs-form server="{{ site.search.host }}"
             quarkus-version="{{ docversion }}"
             language="{{ site.language }}"
             initial-timeout="{{ site.search.initial-timeout }}"
             more-timeout="{{ site.search.more-timeout }}"
             min-chars="{{ site.search.min-chars }}"
             grouped>
      <h1 class="title">Guides</h1>
      <div class="title-version">
        {% include version-split.html id="guidesindex-version" docversion=docversion versions=site.data.versions.documentation path="/guides/" %}
        <div class="search-container">
          <input name="q" type="search"
                 placeholder="{{site.data.index-docs.texts.filter_by_keyword}}"
                 autocomplete="off"/>
        </div>
      </div>
    </qs-form>
  </div>

  <div class="categories-index">
    <nav class="categories-toc">
      <qs-categories-toc categories='{{ toc_json }}'
                         categories-meta='{{ categories_meta }}'>
      </qs-categories-toc>
    </nav>

    <qs-target origins-with-relative-urls="quarkus"
               categories-meta='{{ categories_meta }}'>
      <div class="categories-content" id="all-docs">
        {% if pinned_data %}
        <qs-guide-group id="cat-pinned"
                        category="pinned"
                        title="Pinned"
                        pinned="true"
                        >
          {% include index-categories-guides.html guides=pinned_data docversion=docversion pinned=true %}
        </qs-guide-group>
        {% endif %}
        {% for cat in cat_data %}
        <qs-guide-group id="cat-{{ cat.id }}"
                        category="{{ cat.id }}"
                        title="{{ cat.title }}"
                        {% if cat.description %}description="{{ cat.description }}" {% endif %}>

          {% if cat.subcategories %}
          {% for sub in cat.subcategories %}
          <qs-guide-group id="cat-{{ sub.id }}"
                          category="{{ sub.id }}"
                          title="{{ sub.title }}"
                          subgroup>
            {% include index-categories-guides.html guides=sub.guides docversion=docversion %}
          </qs-guide-group>
          {% endfor %}
          {% else %}
          {% include index-categories-guides.html guides=cat.guides docversion=docversion %}
          {% endif %}

        </qs-guide-group>
        {% endfor %}
      </div>
    </qs-target>
  </div>
  </div>
</div>
