{% assign docversion = include.docversion %}
{% assign data_source = include.source %}

<div id="guides-app"
     data-search-api-server="{{ site.search.url }}"
     data-quarkus-version="{{ docversion }}"
     data-language="{{ site.language }}"
     data-initial-timeout="{{ site.search.initial-timeout }}"
     data-more-timeout="{{ site.search.more-timeout }}"
     data-min-chars="{{ site.search.min-chars }}">
  <qs-form server="{{ site.search.host }}"
           quarkus-version="{{ docversion }}"
           language="{{ site.language }}"
           initial-timeout="{{ site.search.initial-timeout }}"
           more-timeout="{{ site.search.more-timeout }}"
           min-chars="{{ site.search.min-chars }}"
  >
    <section class="full-width-version-bg flexfilterbar">
      <div class="flexcontainer">
        <div class="search">
          <input type="text" name="q" placeholder="Filter by keyword"/>
        </div>
        <div class="flexlabel">
          <label>By Version</label>
        </div>
        <div class="pulldown version">
          <select id="guidesindex-version-dropdown" >
            {% for version in site.data.versions.documentation %}
            <option value="{{ version }}" {% if docversion== version %}selected{% endif %}>{% if version ==
              'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} -
              {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </section>
  </qs-form>
  <div>
    <h1 class="title">{{ page.title }}</h1>
  </div>


  <!-- Static content displayed when there is no input in the search form or Javascript is disabled,
       but also used as a source of data for cards displayed by the vue.js app. -->
  <qs-target>
    <div class="grid-wrapper guides" id="docs">
      <div class="`grid__item width-6-12 width-12-12-m guide-categories callout-wrapper">
        <h3>View Category</h3>
        <ul>
          {% for item in site.data[data_source].categories %}
          <li>
            <a href="#{{ item.cat-id }}">{{ item.category }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="grid__item width-6-12 width-12-12-m callout-wrapper">
        <div class="grid-wrapper callout">
          <div class="grid__item width-12-12">
            <h3>Quarkus Cheat Sheet</h3>
          </div>
          <div class="grid__item col">
            <a href="https://lordofthejars.github.io/quarkus-cheat-sheet/" target="_blank">
              <span class="col-icon"><i class="far fa-file-pdf"></i></span>
              <span class="col-link">Download full cheatsheet as PDF</span>
            </a>
          </div>
          <div class="grid__item col">
            <a href="https://developers.redhat.com/search?t=quarkus&f=type%7Echeat_sheet" target="_blank">Get
              more cheatsheets on the Red Hat Developers website <i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>
      </div>
      <div class="grid__item width-12-12 click-cards">
        <ul class="list">
          {% for item in site.data[data_source].categories %}
          <li>
            <h3 id="{{ item.cat-id }}">{{ item.category }}</h3>
            <div class="grid-wrapper list-item">
              {% for guide in item.guides %}
              {% include index-doc-item.html docversion=docversion
              title=guide.title url=guide.url summary=guide.description
              keywords=guide.keywords categories=guide.categories origin=guide.origin %}
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </qs-target>
</div>
