<ul class="guide-list">
  {% for g in include.guides %}
    {% if g.title %}
      {% assign is_external = g.url | slice: 0, 4 %}
      {% if is_external == "http" %}
        {% assign guide_url = g.url %}
      {% elsif include.docversion == 'latest' %}
        {% assign guide_url = site.baseurl | append: g.url %}
      {% else %}
        {% assign guide_url = site.baseurl | append: '/version/' | append: include.docversion | append: g.url %}
      {% endif %}
      <li>
        <qs-guide type="{{ g.type | escape }}"
                  title="{{ g.title | escape }}"
                  url="{{ guide_url }}"
                  summary="{{ g.summary | escape }}"
                  keywords="{{ g.keywords | escape }}"
                  categories="{{ g.categories | escape }}"
                  origin="{{ g.origin | escape }}"
        >
          <a href="{{ guide_url }}">{{ g.title }}</a>
          {% if g.summary %}<span class="guide-summary">{{ g.summary }}</span>{% endif %}
        </qs-guide>
      </li>
    {% endif %}
  {% endfor %}
</ul>
