{% assign docversion = include.docversion %}
{% assign docversion_index = docversion | replace: '.', '-' %}
{% assign index = site.data.versioned[docversion_index].index %}
{% assign categories = index.quarkus.categories %}
{% assign by_type = index.quarkus | map: "types" | first %}
<div id="guides-app">
  <qs-form server="{{ site.search.host }}"
           quarkus-version="{{ docversion }}"
           language="{{ site.language }}"
           initial-timeout="{{ site.search.initial-timeout }}"
           more-timeout="{{ site.search.more-timeout }}"
           min-chars="{{ site.search.min-chars }}"
  >
    <section class="full-width-version-bg flexfilterbar">
      <div class="flexcontainer">
        <div class="flexlabel">
          <label>{{site.data.index-docs.texts.by_version}}</label>
        </div>
        <div class="pulldown version">
          <select id="guidesindex-version-dropdown">
            {% for version in site.data.versions.documentation %}
            <option value="{{ version }}" {% if docversion== version %}selected{% endif %}>{% if version ==
              'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} -
              {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="flexlabel">
          <label>{{site.data.index-docs.texts.by_category}}</label>
        </div>
        <div class="pulldown category">
          <select name="categories">
            <option value="">{{site.data.index-docs.texts.all_categories}}</option>
            {% for item in categories %}
            <option value="{{ item.cat-id }}">{{ item.category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="search">
          <input name="q" type="search" placeholder="{{site.data.index-docs.texts.filter_by_keyword}}" autocomplete="off"/>
        </div>
      </div>
    </section>
  </qs-form>


  <div>
    <h1 class="title">{{ page.title }}</h1>
  </div>

  <!-- Static content displayed when there is no input in the search form or Javascript is disabled,
       but also used as a source of data for cards displayed by the vue.js app. -->
  <qs-target origins-with-relative-urls="quarkus">
    <div class="grid-wrapper guides" id="all-docs">
      {% include index-docs-merge.html type="tutorial" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="tutorial">{{site.data.index-docs.texts.tutorials}}</h3>
          <p>{{site.data.index-docs.texts.short_and_focused_exercises_to_get_you_going_quickly}}</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="tutorial" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="howto" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="guide">{{site.data.index-docs.texts.how_to_guides}}</h3>
          <p>{{site.data.index-docs.texts.step_by_step_guides_to_covering_key_tasks_real_world_operations_and_common_problems}}</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="howto" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="concepts" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="concept">{{site.data.index-docs.texts.concepts}}</h3>
          <p>{{site.data.index-docs.texts.explanations_of_some_of_the_larger_concepts_and_technologies_involved_with_quarkus}}</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="concepts" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="reference" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="reference">{{site.data.index-docs.texts.references}}</h3>
          <p>{{site.data.index-docs.texts.technical_resource_that_covers_tools_components_and_commands_the_encyclopedia_for_quarkus}}</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="reference" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="guide" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3>{{site.data.index-docs.texts.general_guides}}</h3>
          <p>{{site.data.index-docs.texts.other_quarkus_guides}}</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="guides" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary status=guide.status
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </qs-target>
</div>

