{% assign is_external_guide = include.url | startswith: 'http' %}
{% if is_external_guide %}
{% assign guide_url = include.url %}
{% elsif include.docversion == 'latest' %}
{% assign guide_url = site.baseurl | append: include.url %}
{% else %}
{% assign guide_url = site.baseurl | append: '/version/' | append: include.docversion | append: include.url %}
{% endif %}
<qs-guide type="{{ include.type | escape }}"
          title="{{ include.title | escape }}"
          status="{{ include.status | escape }}"
          url="{{ guide_url }}"
          summary="{{ include.summary | markdownify }}"
          keywords="{{ include.keywords | escape }}"
          categories="{{ include.categories | escape }}"
          origin="{{ include.origin | escape }}"
>
  <!-- WE KEEP PART OF THE CONTENT FOR SEO -->
  <h4><a href="{{ guide_url }}" {% if is_external_guide %}target="_blank" {% endif %}>{{ include.title }}</a></h4>
  <div class="description">{{ include.summary | markdownify }}</div>
</qs-guide>

