{% assign is_external_guide = include.url | startswith: 'http' %}
{% if is_external_guide %}
  {% assign guide_url = include.url %}
{% elsif include.docversion == 'latest' %}
  {% assign guide_url = site.baseurl | append: include.url %}
{% else %}
  {% assign guide_url = site.baseurl | append: '/version/' | append: include.docversion | append: include.url %}
{% endif %}
<div class="{% if include.origin == 'quarkiverse-hub' %}quarkiverse {% endif %}grid__item docs-card {{ include.class }}">
  <h4><a href="{{ guide_url }}" {% if is_external_guide %}target="_blank" {% endif %}>{{ include.title }}</a></h4>
  <div class="description">{{ include.summary | markdownify }}</div>
  <div class="keywords">{{ include.keywords }}</div>
  <div class="categories">{{ include.categories }}</div>
  {% if include.origin == 'quarkiverse-hub' -%}
  <div class="origin">Quarkiverse Hub</div>
  {% endif -%}
</div>
