{% assign docversion = include.docversion %}
{% assign docversion_index = docversion | replace: '.', '-' %}
{% assign index = site.data.versioned[docversion_index].index %}
{% assign categories = index.quarkus.categories %}
{% assign by_type = index.quarkus | map: "types" | first %}


<section class="full-width-version-bg flexfilterbar">
  <div class="flexcontainer">
    <div class="flexlabel">
      <label>By Version</label>
    </div>
    <div class="pulldown version">
      <select id="guidesindex-version-dropdown">
      {% for version in site.data.versions.documentation %}
      <option value="{{ version }}" {% if docversion == version %}selected{% endif %}>{% if version == 'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} - {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}</option>
      {% endfor %}
      </select>
    </div>
    <div class="flexlabel">
      <label>By Category</label>
    </div>
    <div class="pulldown category">
      <select id="guidesindex-category-dropdown">
        <option value="">All categories</option>
      {% for item in categories %}
      <option value="{{ item.cat-id }}">{{ item.category }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="search">
      <input type="text" id="search-text" placeholder="Filter by keyword" />
    </div>
  </div>
</section>



<div>
  <h1 class="title">{{ page.title }}</h1>
</div>
<div class="grid-wrapper guides" id="docs">
  {% include index-docs-merge.html type="tutorial" %}
  {% if values %}
  <div class="grid__item width-12-12 docslist">
    <div class="doclist-header">
      <h3 id="tutorial">Tutorials</h3>
      <p>Short and focused exercises to get you going quickly.</p>
    </div>
    <div class="grid-wrapper">
      {% for guide in values %}
      {% include index-doc-item.html class="tutorialbkg" docversion=docversion
        title=guide.title url=guide.url summary=guide.summary 
        keywords=guide.keywords categories=guide.categories origin=guide.origin %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% include index-docs-merge.html type="howto" %}
  {% if values %}
  <div class="grid__item width-12-12 docslist">
    <div class="doclist-header">
      <h3 id="guide">How-to Guides</h3>
      <p>Step-by-step guides to covering key tasks, real world operations and common problems.</p>
    </div>
    <div class="grid-wrapper">
      {% for guide in values %}
      {% include index-doc-item.html class="guidebkg" docversion=docversion
        title=guide.title url=guide.url summary=guide.summary 
        keywords=guide.keywords categories=guide.categories origin=guide.origin %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% include index-docs-merge.html type="concepts" %}
  {% if values %}
  <div class="grid__item width-12-12 docslist">
    <div class="doclist-header">
      <h3 id="concept">Concepts</h3>
      <p>Explanations of some of the larger concepts and technologies involved with Quarkus.</p>
    </div>
    <div class="grid-wrapper">
      {% for guide in values %}
      {% include index-doc-item.html class="conceptbkg" docversion=docversion
        title=guide.title url=guide.url summary=guide.summary 
        keywords=guide.keywords categories=guide.categories origin=guide.origin %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% include index-docs-merge.html type="reference" %}
  {% if values %}
  <div class="grid__item width-12-12 docslist">
    <div class="doclist-header">
      <h3 id="reference">References</h3>
      <p>Technical Resource that covers tools, components, and commands. The encyclopedia for Quarkus.</p>
    </div>
    <div class="grid-wrapper">
      <div class="grid__item docs-card pdfbkg">
        <h4><a href="https://lordofthejars.github.io/quarkus-cheat-sheet/" target="_blank">Quarkus Cheat Sheet</a></h4>
        <div class="description">Download full cheatsheet as PDF. <a href="https://developers.redhat.com/search?t=quarkus&f=type%7Echeatsheet" target="_blank">
          Get more cheatsheets on the Red Hat Developers website. <i class="fas fa-external-link-alt"></i></a></div>
        <div class="keywords"></div>
        <div class="categories"></div>
      </div>
      {% for guide in values %}
      {% include index-doc-item.html class="referencebkg" docversion=docversion
        title=guide.title url=guide.url summary=guide.summary 
        keywords=guide.keywords categories=guide.categories origin=guide.origin %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% include index-docs-merge.html type="guide" %}
  {% if values %}
  <div class="grid__item width-12-12 docslist">
    <div class="doclist-header">
      <h3 id="reference">General Guides</h3>
      <p>Other Quarkus Guides</p>
    </div>
    <div class="grid-wrapper">
      {% for guide in values %}
      {% include index-doc-item.html class="referencebkg" docversion=docversion
        title=guide.title url=guide.url summary=guide.summary 
        keywords=guide.keywords categories=guide.categories origin=guide.origin %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="grid__item width-12-12 empty-list">Sorry, no guides matched your search. Please try again.</div>
</div>
