<div class="full-width-bg white component awards-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">Live Stream</h3>
    </div>
    <div class="width-4-12 width-12-12-m">
      <ul>
      <li></li><a href="https://youtube.io/quarkusio">YouTube</a></li>
      <li></li><a href="https://twitch.tv/quarkusio">Twitch</a></li>
      <li></li><a href="https://facebook.com/quarkusio">Facebook</a></li>
      <li></li><a href="https://www.periscope.tv/quarkusio">Periscope (Twitter)</a></li>
    </ul>
    </div>
    <div class="width-4-12 width-12-12-m">
      <iframe src="https://embed.restream.io/player/index.html?token=6b40eef71ed45dd4ece244b0f0ef3436" width="960" height="576" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
