<div class="full-width-bg white component awards-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">Live Stream</h3>
      <h5>usually every Monday at 09:00 AM EST / 14:00 UTC / 15:00 CEST / 18:30 IST</h5>
    </div>
    <div class="width-12-12 width-12-12-m">
      <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/playlist?list=PLsM3ZE5tGAVatO65JIxgskQh-OKoqM4F2" width="960" height="576" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <div class="width-12-12 width-12-12-m">
      <div class="streamingiconblock">
      <h4 class="mt-0">View the Live Stream on:</h4>
      <ul>
      <li><a href="https://facebook.com/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_facebook.png" alt="facebook icon"></a></li>
      <li><a href="https://twitch.tv/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_twitch.png" alt="twitch icon"></a></li>
      <li><a href="https://youtube.com/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_youtube.png" alt="youtube icon"></a></li>
      <li><a href="https://www.periscope.tv/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_periscope.png" alt="periscope icon"></a></li>
    </ul>
    </div>
    </div>
  </div>
    <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">Past Episode Playlist</h3>
      <div class="iframe-container">
      <iframe width="960" height="576" src="https://www.youtube.com/embed/videoseries?list=PLsM3ZE5tGAVatO65JIxgskQh-OKoqM4F2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>
