<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.insights-videos.futureheadline }}</h3>
    </div>

  {% for item in site.data.insights-videos.futurevideos %}
      <div class="card-static">
        <div>
          <p class="title">{{ item.title }}</a></p>
          <div class="metatext">Streaming Date: {{ item.date }}</div>
          <div class="metatext">Guest(s): {{ item.authors }}</div>
        </div>
      </div>
  {% endfor %}

  </div>
</div>
<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.insights-videos.pastheadline }}</h3>
    </div>

  {% for item in site.data.insights-videos.pastvideos %}
      <div class="card">
        <a href="{{ item.link }}" target="_blank"></a>
        <div>
          <p class="title">{{ item.title }}</a></p>
          <div class="metatext">Streaming Date: {{ item.date }}</div>
          <div class="metatext">Guest(s): {{ item.authors }}</div>
        </div>
      </div>
  {% endfor %}

  </div>
</div>

