<div class="full-width-bg white component awards-band">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">{{ site.data.insights-videos.sectiontitle }}</h3>
      <h5>{{ site.data.insights-videos.sectionsubhead }}</h5>
    </div>
    <div class="width-7-12 width-12-12-m">
      <div class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCaW8QG_QoIk_FnjLgr5eOqg" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <div class="width-5-12 width-12-12-m">
      <div class="streamingiconblock">
      <h4 class="mt-0">{{ site.data.insights-videos.socialdescription }}</h4>
      <ul>
      <li><a href="https://facebook.com/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_facebook.png" alt="facebook icon"></a></li>
      <li><a href="https://twitch.tv/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_twitch.png" alt="twitch icon"></a></li>
      <li><a href="https://youtube.com/quarkusio" target="_blank"><img src="{{site.baseurl}}/assets/images/insights/streamingicon_youtube.png" alt="youtube icon"></a></li>
    </ul>
    <p><a href="https://feeds.listenbox.app/rss/9w4VBtq9s1v/audio.rss" target="_blank">RSS Audio Feed</a>&nbsp;|&nbsp;<a href="https://feeds.listenbox.app/rss/9w4VBtq9s1v/video.rss" target="_blank">RSS Video Feed</a></p>
    </div>
    </div>
  </div>
</div>
