<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
    <img src="{{site.baseurl}}/assets/images/about/icon-kube-native.svg">
    </div>
    <div class="width-9-12 width-12-12-m">
      <p class="intropara">The combination of Quarkus and Kubernetes provides an ideal environment for creating scalable, fast, and lightweight applications. Quarkus significantly increases developer productivity with tooling, pre-built integrations, application services, and more.
      </p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h2>What does it mean to be a Kubernetes-native framework?</h2>
      <h3>Single-step Deployments</h3>
      <p>Quarkus makes it easy to deploy microservice applications to Kubernetes without having to understand the intricacies of the underlying Kubernetes framework. Extensions are available for Kubernetes, and Kubernetes distributions, to facilitate this process with only a minimal amount of configuration variables needed.</p>
      <p>Using the Quarkus Kubernetes extension, developers can perform or automate a single-step deployment using Jib, Docker, and Source-to-Image (S2i) including the creation of DeploymentConfig to trigger automatic redeployments. <a href="{{site.baseurl}}/guides/deploying-to-kubernetes">Read the guide for more details.</a></p>
      <p>Additionally, Quarkus includes extensions that make it easy to deploy serverless microservices to cloud providers including AWS Lambda, Azure Functions, and Google Cloud Functions as well as Knative to take advantage of Quarkus application’s fast startup times. <a href="{{site.baseurl}}/guides/deploying-to-kubernetes">Read the guide for more details.</a></p>
     <h3>Tracing & Debugging</h3>
      <p>Quarkus provides developers the tools and capabilities to troubleshoot distributed microservices applications in Kubernetes including tracing and debugging.</p>
      <p>Quarkus utilizes <a href="https://opentracing.io/" target="_blank">OpenTracing</a> which is a vendor-agnostic API to help developers easily instrument tracing into their codebase. Distributed tracing helps pinpoint where failures occur and what causes poor performance. <a href="{{site.baseurl}}/guides/opentracing">Read the guide for more details.</a></p>
      <h3>Application Health & Metrics</h3>
      <p>Quarkus leverages SmallRye Health, an implementation of the MicroProfile Health specification. This allows applications to provide information about their state to external viewers in a Kubernetes environment where automated processes must be able to determine whether the application should be discarded or restarted. <a href="{{site.baseurl}}/guides/microprofile-health">Read the guide for more details.</a></p>
      <p>Quarkus utilizes the <a href="https://micrometer.io/" target="_blank">Micrometer</a> metrics library for runtime and application metrics. It provides a simple facade for the most popular monitoring systems to instrument your JVM-based application code without vendor lock-in. Application-specific and built-in metrics can be exposed using Micrometer. <a href="{{site.baseurl}}/guides/micrometer#support-for-the-microprofile-metrics-api">Read the guide for more details.</a></p>
      <h3>Application Configuration</h3>
      <p>Quarkus includes an extension that allows developers to use Kubernetes ConfigMaps and Secrets as a configuration source, without having to mount them into the Pod running the Quarkus application or make any other modifications to their Kubernetes Deployment (or Openshift DeploymentConfig) <a href="{{site.baseurl}}/guides/kubernetes-config">Read the guide for more details.</a></p>
      <h3>Remote Development</h3>
      <p>Create and debug applications in the same environment where applications run. Live coding in development mode where any changes made locally will be immediately visible in a clustered Kubernetes environment. <a href="https://developers.redhat.com/blog/2021/02/11/enhancing-the-development-loop-with-quarkus-remote-development">Read this blog post for greater insight.</a></p>
    </div>
  </div>
</div>