<div class="full-width-bg component libraries-standards-band">
  <div class="grid-wrapper">
    <div class="grid__item width-8-12">
      <h2>Best of Breed Libraries and Standards</h2>
      <p>Protean brings a cohesive, fun to use full-stack framework by leveraging best of breed libraries you love and use wired on a standard backbone.</p>
    </div>
  </div>
  <div class="grid-wrapper">
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://vertx.io/" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_eclipse_vertx.png">
        <span>Eclipse Vert.x</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="http://hibernate.org" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_hibernate.png">
        <span>Hibernate</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://resteasy.github.io" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_resteasy.png">
        <span>Resteasy</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://camel.apache.org" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_apache_camel.png">
        <span>Apache Camel</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://microprofile.io" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_eclipse_microprofile.png">
        <span>Eclipse Microprofile</span>
      </a>
    </div>
    <div class="grid__item width-2-12 width-6-12-m block">
      <a href="https://netty.io" target="_blank">
        <img src="{{site.baseurl}}/assets/images/logoset_netty.png">
        <span>Netty</span>
      </a>
    </div>
  </div>
</div>