<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.newsletter.headline }}</h3>
    </div>

  {% for item in site.data.newsletter.newsletter %}
      <div class="card">
        <a href="{{ item.link }}"></a>
        <div>
          <p class="title">{{ item.title }}</p>
          <div class="description">Publication Date: {{ item.date }}</div>
        </div>
      </div>
  {% endfor %}

  </div>
</div>
