
{% assign groups = publications | group_by: site.publication.group_by | sort: "name" %}
{% for group in groups %}

<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <p>If you know of a cool article, blog or video that we are missing, please  <a href="https://github.com/quarkusio/quarkusio.github.io" target="blank"> submit an issue</a>.</p>
      <h2 class="mt-0">{{site.publication.type_names[group.name]}}</h2>
    </div>

   {% assign sorted = group.items | sort: "date" | reverse %}
        {% for entry in sorted %}
          <div class="card">
              <a href="{{entry.url}}" target="blank"></a>
              <p class="title">{{entry.title}}</p>
              <div class="description">
                {% if entry.note %}
                    {{ entry.note }}
                {% endif %}
              </div>
              <div class="metatext">Author: {{entry.author}}</div>
              <div class="metatext">Posted: {{entry.date | date: "%-d. %B %Y" }}</div>
              <div class="metatext">
                {% if entry.language %}
                    ({{entry.language}})
                {% endif %}
              </div>
              <div class="metatext">
                {% if entry.affiliation %}
                    From: {{entry.affiliation}}
                {% endif %}
              </div>              
          </div>
    {% endfor %}
  </div>
</div>

{% endfor %}
