<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h3 class="mt-0">{{ site.data.qtips-videos.featuredheadline }}</h3>
    </div>
  {% for item in site.data.qtips-videos.featuredvideo %}

    <div class="width-7-12 width-12-12-m">
      <div class="iframe-container">
        <iframe width="560" height="315" src="{{ item.embed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    </div>
    <div class="width-5-12 width-12-12-m">
      <p>Title: {{ item.title }}</a></p>
      <p>Date: {{ item.date }}</p>
      <p>Author: {{ item.authors }}</p>
    </div>

  {% endfor %}

  </div>
</div>
