<div class="full-width-bg component-slim">
    <div class="grid-wrapper">
      <div class="width-12-12 width-12-12-m">
        <h2>Quarkus is built from the Community</h2>
      </div>
      <div class="width-3-12 width-12-12-m">
        <img src="{{site.baseurl}}/assets/images/about/icon-blocks.svg">
      </div>
      <div class="width-9-12 width-12-12-m">
        <p class="intropara">Quarkus heavily leverages other mature projects from the Java Ecosystem. Quarkus favours the philosophy of building on the shoulders of giants, rather than re-inventing the wheel. Below are some of the community projects that Quarkus builds upon.</p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://vertx.io/">Eclipse Vert.x</a></h3>
        <p>The Eclipse Vert.x project enables writing of reactive applications that run on the JVM. The project powers the reactive aspects of Quarkus.</p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://smallrye.io/">SmallRye</a></h3>
        <p>The SmallRye project offers implementations of the <a href="https://microprofile.io/">Eclipse MicroProfile</a> specifications that are used by the Quarkus runtime. Examples of the MicroProfile specifications implemented by SmallRye and leveraged by Quarkus are <a href="https://github.com/eclipse/microprofile-metrics">Metrics</a>, <a href="https://github.com/eclipse/microprofile-health">Health</a>, and <a href="https://github.com/eclipse/microprofile-fault-tolerance">Fault Tolerance.</a></p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://hibernate.org/">Hibernate</a></h3>
        <p>The Hibernate project provides an implementation of the Java Persistence API (JPA) that is leveraged by the Quarkus runtime to enable working with databases.</p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://netty.io/">Netty</a></h3>
        <p>The Netty project offers capabilities for building asynchronous, event-driven, network applications. Together with Vert.x, Netty powers the reactive + async core of Quarkus, enabling event-driven architectures.</p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://resteasy.dev/">RESTEasy</a></h3>
        <p>RESTEasy provides implementations for both the <a href="https://github.com/jakartaee/rest">JAX-RS</a> and <a href="https://github.com/eclipse/microprofile-rest-client">MicroProfile REST Client</a> specifications. Quarkus leverages these RESTEasy implementations to allow building of applications that follow the REST architectural style.</p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://camel.apache.org/">Apache Camel</a></h3>
        <p>The Apache Camel project provides capabilities for integrating heterogeneous (messaging/event-based) systems. The support for Apache Camel on top of Quarkus is provided by the <a href="https://github.com/apache/camel-quarkus">Apache Camel Quarkus project.</a></p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://microprofile.io/">Eclipse MicroProfile</a></h3>
        <p>The Eclipse MicroProfile project brings together a set of specifications that makes it easier to write Java applications based on the microservices architecture.</p>
      </div>
      <div class="width-3-12 width-12-12-m">
        <h3><a href="https://github.com/graalvm/mandrel">Mandrel</a></h3>
        <p>Mandrel is a <a href="https://developers.redhat.com/blog/2020/06/05/mandrel-a-community-distribution-of-graalvm-for-the-red-hat-build-of-quarkus">downstream distribution</a> of the <a href="https://www.graalvm.org/">GraalVM</a> community edition. Mandrel focuses on GraalVM's <i>native-image</i> component in order to provide an easy way for Quarkus users to generate native images for their applications.</p>
      </div>
    </div>
</div>