<div class="component recent-posts-band full-width-bg dark-bg alt-background">
  <div class="grid-wrapper">
    <div class="width-12-12">
      <h2 class="text-centered">Recent Blog Posts</h2>
    </div>
    {% for post in site.posts %}
      {% if forloop.index <= 3 %}
        <div class="block-item width-4-12 width-12-12-m">
          <div class="post-title">
            <h6 class="margin-tb-0"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h6>
          </div>
          <p class="datetag margin-tb-sm">
            {{ post.date | date: '%B %d, %Y' }} &nbsp;&nbsp;&nbsp;Tags: {% for tag in post.tags %}<a href="{{site.baseurl}}/blog/tag/{{tag}}">{{ tag}}</a> {% endfor %}
          </p>
          {% assign author = site.data.authors[post.author] %}
          <p class="byline margin-tb-sm">By {{ author.name }}</p>
          {% if post.synopsis %}
            <p>{{ post.synopsis | strip_html }}</p>
          {% else %}
            <p>{{ post.content | strip_html | truncate: 280 }}</p>
          {% endif %}
          <div class="text-centered">
            <a href="{{site.baseurl}}{{ post.url }}" class="button-cta-white">Read full article</a> 
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
