{%- assign today = 'now' | date: '%Y-%m-%d' -%}
{%- assign latest_version = nil -%}
{%- for release in site.data.releases.releases -%}
  {%- unless release.upcoming -%}
    {%- unless latest_version -%}
      {%- assign latest_version = release.version -%}
      {%- assign latest_major = release.version | split: '.' | first -%}
    {%- endunless -%}
  {%- endunless -%}
{%- endfor -%}
<table class="tableblock frame-all grid-all fit-content">
<colgroup>
<col>
<col>
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-center valign-top">Supported</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Latest {{ latest_major }}.x</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">✅</p></td>
</tr>
{%- for release in site.data.releases.releases -%}
{%- if release.lts -%}
{%- assign eol_str = release.eol_date | date: '%Y-%m-%d' -%}
{%- if eol_str > today and release.version != latest_version %}
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">{{ release.version }} LTS</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">✅</p></td>
</tr>
{%- endif -%}
{%- endif -%}
{%- endfor %}
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Older {{ latest_major }}.x</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">❌</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; {{ latest_major }}.0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">❌</p></td>
</tr>
</tbody>
</table>
