<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h2>Reporting security issues</h2>
      <p>Please report any security issues you find in Quarkus to:</p>
      <pre class="highlightjs highlight"><code class="language-none hljs">security at quarkus.io</code></pre>
      <p>Anyone can post to this list. The subscribers are only trusted individuals from the Quarkus community who will handle the resolution of any reported security issues in confidence. In your report, please note how you would like to be credited for discovering the issue and the details of any embargo you would like to impose. Currently the security response teams for the following distributions are subscribed to this list and will respond to your report: <a href="https://access.redhat.com/security/team/contact/">Red Hat</a></p>
      <h3>Ecosystem</h3>
      <p>Quarkus is an ecosystem made from many extensions and many libraries (like Eclipse Vert.x, Hibernate, Apache Camel and more), most of them not under the direct responsibility of the Quarkus team. If you find a security bug possibly rooted in one of these libraries, you can either disclose to them directly or disclose them to the Quarkus team (following this process) and we will responsibly disclose the issue to the respective extension or library maintainer.</p>
      <h3>Why follow this process</h3>
      <p>Due to the sensitive nature of security bugs, the disclosure process is more constrained than a regular bug. We appreciate you following these industry accepted guidelines, which gives time for a proper fix and limit the time window of attack.</p>
      <h2>Supported Versions</h2>
      <p>The community will fix security bugs for the latest major.minor version published at <a href="https://quarkus.io/get-started/" class="bare">https://quarkus.io/get-started/</a>.</p>
      <p><strong>Version &nbsp;&nbsp;&nbsp;&nbsp; Supported</strong><br>
        latest 1.x &nbsp;&nbsp; ✅<br>
        older 1.x &nbsp;&nbsp; ❌<br>
        &lt; 1.0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ❌</p>
      <p>We may fix the vulnerability to older versions depending on the severity of the issue and the age of the release, but we are only committing to the latest version released.</p>
      <h2>Handling security issues</h2>
      <p>If you represent a Quarkus extension or a Quarkus platform, you are welcome to subscribe to the security at quarkus.io mailing list. Your subscription will only be approved if you can demonstrate that you will handle issues in confidence and properly credit reporters for discovering issues (e.g. experience with embargoe process).</p>
    </div>
  </div>
</div>
