<div class="share-page">
  <a class="share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ include.url }}&title={{ include.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
    <i class="fa-brands fa-linkedin fa-xl"></i>
  </a>
  <a class="share-bluesky" href="https://bsky.app/intent/compose?text={{ include.title }} {{ site.url }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Bluesky">
    <i class="fa-brands fa-bluesky fa-xl"></i>
  </a>
  <a class="share-x" href="https://x.com/intent/tweet?text={{ include.title }}&url={{ site.url }}{{ include.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on X">
    <i class="fa-brands fa-square-x-twitter fa-xl"></i>
  </a>
  <a class="share-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <i class="fa-brands fa-square-facebook fa-xl"></i>
  </a>
  <a class="share-reddit" href="http://www.reddit.com/submit?url={{ site.url }}{{ include.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Reddit" >
    <i class="fa-brands fa-square-reddit fa-xl"></i>
  </a>
  <a class="share-email" href="mailto:?subject={{ include.title }}&amp;body={{include.title}} {{ site.url }}{{ include.url }}" title="Share via Email" >
    <i class="fa-solid fa-envelope fa-xl"></i>
  </a>
</div>
