<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://quarkus.io/" class="button-cta"><i class="fas fa-window-maximize"></i>Visit the project website</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://www.facebook.com/quarkusio/" class="button-cta"><i class="fab fa-facebook-square"></i>Follow us on Facebook</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://www.youtube.com/quarkusio" class="button-cta"><i class="fab fa-youtube"></i>Watch our videos</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="http://www.twitter.com/@quarkusio" class="button-cta"><i class="fab fa-twitter"></i>Follow us on Twitter</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://fosstodon.org/@quarkusio" class="button-cta"><i class="fab fa-mastodon"></i>Follow us on Mastadon</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://www.linkedin.com/company/quarkusio" class="button-cta"><i class="fab fa-linkedin"></i>Join our Linkedin network</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://github.com/quarkusio/" class="button-cta"><i class="fab fa-github"></i>View us on Github</a>
    </div>

    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://github.com/quarkusio/quarkus/discussions" class="button-cta"><i class="fab fa-github"></i>Access User discussions</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-3-12 width-0-12-m"></div>
    <div class="width-6-12 width-12-12-m">
      <a href="https://quarkusio.zulipchat.com/" class="button-cta"><i class="far fa-comments"></i>Development chat</a>
    </div>
    <div class="width-3-12 width-0-12-m"></div>
  </div>
</div>

{% include homepage-newsletter-band.html %}
