<div class="component-wrapper two-column-content-band">
  <div class="width-12-12">
    <h2>Get These Free e-books to Jumpstart Your Migration Journey</h2>
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m">
        <a href="https://developers.redhat.com/e-books/quarkus-spring-developers" alt="Quakrus for Spring Developers free link"><img src="{{site.baseurl}}/assets/images/books/quarkus-for-spring-developers.png" alt="Quarkus for Spring Developers book image"></a>
      </div>
      <div class="width-8-12 width-12-12-m">
        <p>Java can be clunky and slow. Quarkus for Spring Developers is a Spring developer's ultimate resource to learn about Quarkus and Kubernetes-native Java. Read the e-book to learn how Quarkus enables modern Java development and the Kubernetes-native experience and introduces familiar Spring concepts, constructs, and conventions.</p>
        <p><a href="https://developers.redhat.com/e-books/quarkus-spring-developers" alt="Quakrus for Spring Developers free link">Download a free copy of “Quarkus for Spring Developers”</a> by <a href="https://www.linkedin.com/in/edeandrea/" target="_blank">Eric Deandrea</a>.</p>
      </div>
      <div class="width-4-12 width-12-12-m">
        <a href="https://developers.redhat.com/e-books/quarkus-action?extIdCarryOver=true&sc_cid=701f2000001Css0AAC" alt="Quarkus in Action free download link"><img src="{{site.baseurl}}/assets/images/books/quarkus-in-action-ebook.png" alt="Quarkus in Action ebook image"></a>
      </div>
      <div class="width-8-12 width-12-12-m">
        <p><strong>Get hands-on with Quarkus and build resilient, scalable Java applications.</strong></p>
        <p>This practical guide helps you accelerate development and simplify cloud-native deployment.</p>
        <ul>
          <li>Speed up development with Quarkus Dev Mode</li>
          <li>Troubleshoot in real time using the Dev UI</li>
          <li>Run background tests automatically with Continuous Testing</li>
          <li>Integrate with Reactive Messaging, gRPC, and GraphQL</li>
          <li>Deploy easily to Kubernetes and Red Hat OpenShift</li>
          <li>Automatically manage services like databases and message brokers</li>
        </ul>
        <p>Get a practical introduction to Quarkus, the full-stack framework for building cloud-native Java applications, by <a href="https://developers.redhat.com/e-books/quarkus-action?extIdCarryOver=true&sc_cid=701f2000001Css0AAC" alt="Quarkus in Action free download link">downloading a free copy of “Quarkus in Action”</a> by <a href="https://www.linkedin.com/in/martin-stefanko/" target="_blank">Martin Štefanko</a> and <a href="https://www.linkedin.com/in/janmartiska/" target="_blank">Jan Martiška</a>.</p>
      </div>
    </div>
  </div>
</div>
