
<div class="full-width-bg component homepage-callout">
  <div class="grid-wrapper quote-spacer">
    <div class="width-2-12 width-12-12-m callout-icon">
      <i class="fa fa-quote-left fa-5x"></i>
    </div>
    <div class="grid__item width-10-12 width-12-12-m randomize">
      <span>
        <p class="callout-quote">First, they realized that migrating from Spring Boot to a CDI-based framework didn't require a lot of effort for their Spring developers, resulting in a small learning curve... with Quarkus they saw a '30 to 40% better developer productivity vis-a-vis Spring Boot, and this is for an ex-Spring Boot developer', according to Christos.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/blog/vodafone-greece-replaces-spring-boot/">Read the Vodafone Greece User Story</a></p>
      </span>

      <span>
        <p class="callout-quote">Lighter than a feather, Quarkus native executables are a small fraction of the size compared to their pure Java counterparts. This allows us to deploy a full set of services in less space than would be needed to deploy the equivalent Spring Boot services.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/blog/logicdrop-automating-quarkus-with-gitlab/">Read the logicdrop User Story</a></p>
      </span>

      <span>
        <p class="callout-quote">With the release 5.0.0, it started seeding the first rules to help migrate applications from the Spring Boot framework to Quarkus. That happened, among other things due to the feedback that developer teams working with modern Java patterns, and deploying on Kubernetes, were interested in. It happened that these teams were using Spring Boot but quickly became interested in Quarkus as a way to improve speed, required resources, and productivity.</p>
        <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="{{site.baseurl}}/blog/migrating-existing-apps-to-quarkus-with-mta/">Read the Migration Toolkit for Applications Story</a></p>
      </span>
    </div>
  </div>
</div>