<div class="component-wrapper two-column-content-band">
  <div class="width-12-12">
    <h2>Familiar, and more productive</h2>
    <div class="grid-wrapper">
      <div class="width-6-12 width-12-12-m">
        <p class="img-content">Already a Spring pro? You're in the right place. This guide shows you how to leverage your existing skills to build next-generation Java applications. Ditch the slow startup times and heavy memory footprint without ditching your knowledge. See how familiar concepts like DI, JPA, and MVC map directly to Quarkus and get ready to build cloud native, AI-infused apps.</p>
      </div>
      <div class="width-2-12 width-12-12-m">
        <a href="https://developers.redhat.com/e-books/quarkus-spring-developers" alt="Quarkus for Spring Developers free link"><img class="imagereducer" src="{{site.baseurl}}/assets/images/books/quarkus-for-spring-developers.png" alt="Quarkus for Spring Developers book image"></a>
      </div>
      <div class="width-4-12 width-12-12-m">
        <p class="img-content">
          <p>Want to get started using Quarkus and leverage your hard-earned Spring skills?</p>
          <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://developers.redhat.com/e-books/quarkus-spring-developers" alt="Quarkus for Spring Developers free link">Download a free copy of “Quarkus for Spring Developers”</a></p>
      </div>
    </div>
  </div>
  <div class="width-12-12">
    <h2>Developer services: zero hassle, instant setup</h2>
    <div class="grid-wrapper">
      <div class="width-6-12 width-12-12-m">
        <p class="img-content">Time to get your hands dirty. Quarkus in Action is your practical, hands-on guide to building production-grade applications from the ground up. Go from project initialization to a fully-realized, cloud-native service. You'll tackle real-world challenges, master the essentials, and learn the patterns that make Quarkus development so fast and fun. Directly from the experts.</p>
      </div>
      <div class="width-2-12 width-12-12-m">
        <a href="https://developers.redhat.com/e-books/quarkus-action?extIdCarryOver=true&sc_cid=701f2000001Css0AAC" alt="Quarkus in Action free download link"><img class="imagereducer" src="{{site.baseurl}}/assets/images/books/quarkus-in-action-ebook.png" alt="Quarkus in Action ebook image"></a>
      </div>
      <div class="width-4-12 width-12-12-m">
        <p class="img-content">
          <p>Get a practical introduction to Quarkus, the full-stack framework for building cloud-native Java applications.</p>
          <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://developers.redhat.com/e-books/quarkus-action?extIdCarryOver=true&sc_cid=701f2000001Css0AAC" alt="Quarkus in Action free download link">Download a free copy of “Quarkus in Action”</a></p>
      </div>
    </div>
  </div>
  <div class="width-12-12">
    <h2>Cloud-native first: Kubernetes, serverless, and beyond</h2>
    <div class="grid-wrapper">
      <div class="width-6-12 width-12-12-m">
        <p class="img-content">Ready to build with AI? This workshop is your express lane to integrating Large Language Models (LLMs) into your Java applications. Using Quarkus and Langchain4j, you'll learn to build intelligent, conversational services, from simple AI chats to powerful retrieval-augmented generation (RAG) systems. Unleash the power of AI on a framework that's fast enough to keep up.</p>
      </div>
      <div class="width-2-12 width-12-12-m">
        <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-workshop.svg" alt="Workshop icon">
        <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-workshop-dark.svg" alt="Workshop icon">
      </div>
      <div class="width-4-12 width-12-12-m">
        <p class="img-content">
          <p>Get coding with the “Quarkus LangChain4j Workshop”, designed to help you get started with AI-Infused applications using Quarkus and LangChain4j.</p>
          <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://quarkus.io/quarkus-workshop-langchain4j/" alt="Start the free workshop">Get started with this free workshop!</p>
      </div>
    </div>
  </div>
</div>
