<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-3-12 width-12-12-m">
    <img class="light-only" src="{{site.baseurl}}/assets/images/about/icon-standards.svg">
    <img class="dark-only" src="{{site.baseurl}}/assets/images/about/icon-standards-dark.svg">
    </div>
    <div class="width-9-12 width-12-12-m">
        <p class="intropara"> We don’t want you to spend hours learning new technologies. Instead, the Quarkus programming model builds on top of proven standards. Be it official standards such as Eclipse MicroProfile or leading frameworks in a specific domain such as Eclipse Vert.x.</p>
        <p>Our dependency injection solution is based on CDI. You can use JAX-RS annotations to define the REST endpoints. You can use JPA annotations to map your persistent entities and JTA annotations to declare the transaction boundaries. You can use Eclipse MicroProfile to configure and monitor your application. You can use Vert.x, Apache Camel and we support much more.</p>
        <p>Since we’re not limited to standards we can go beyond and extend your possibilities. Of course, Quarkus is not a passive consumer. Our goal is to improve and innovate the technologies we use and contribute back to the open source projects and standards we rely on.</p>
    </div>
  </div>

  <h3>Quarkus 3.27 (latest LTS) implements the following Specifications:</h3>
  <br>

  <div class="grid-wrapper center">
    <div class="width-3-12 width-12-12-m">
      <a href="https://jakarta.ee"><img src="{{site.baseurl}}/assets/images/about/jakarta.svg"></a>
    </div>
    <div class="width-9-12 width-12-12-m">
      <br><a href="https://jakarta.ee/specifications/coreprofile/">Jakarta Core 10</a>
      <br><a href="https://jakarta.ee/specifications/cdi/">Jakarta Contexts and Dependency Injection 4.1 (Lite)</a>
      <br><a href="https://jakarta.ee/specifications/bean-validation/">Jakarta Validation 3.1</a>
      <br><a href="https://jakarta.ee/specifications/persistence/">Jakarta Persistence 3.2</a>
      <br><a href="https://jakarta.ee/specifications/transactions/">Jakarta Transactions 2.0</a>
      <br><a href="https://jakarta.ee/specifications/restful-ws/">Jakarta RESTful Web Services 3.1</a>
      <br><a href="https://jakarta.ee/specifications/jsonp/">Jakarta JSON Processing 2.1</a>
      <br><a href="https://jakarta.ee/specifications/jsonb/">Jakarta JSON Binding 3.0</a>
      <br><a href="https://jakarta.ee/specifications/batch/">Jakarta Batch 2.1</a>
      <br><a href="https://jakarta.ee/specifications/data/">Jakarta Data 1.0</a>
    </div>
  </div>

  <br><br>

  <div class="grid-wrapper center">
    <div class="width-3-12 width-12-12-m">
      <a href="https://microprofile.io">
        <picture>
          <source srcset="{{site.baseurl}}/assets/images/about/microprofile-dark.svg" media="(prefers-color-scheme:dark)">
            <img src="{{site.baseurl}}/assets/images/about/microprofile.svg">
          </picture>
        </a>
    </div>
    <div class="width-9-12 width-12-12-m">
      <a href="https://github.com/eclipse/microprofile-config">MicroProfile Config 3.1</a>
      <br><a href="https://github.com/eclipse/microprofile-jwt-auth">MicroProfile JWT RBAC 2.1</a>
      <br><a href="https://github.com/eclipse/microprofile-health">MicroProfile Health 4.0</a>
      <br><a href="https://github.com/eclipse/microprofile-fault-tolerance">MicroProfile Fault Tolerance 4.1</a>
      <br><a href="https://github.com/eclipse/microprofile-open-api">MicroProfile OpenAPI 4.0</a>
      <br><a href="https://github.com/eclipse/microprofile-rest-client">MicroProfile REST Client 4.0</a>
      <br><a href="https://github.com/eclipse/microprofile-telemetry">MicroProfile Telemetry 2.0</a>
      <br><a href="https://github.com/eclipse/microprofile-context-propagation">MicroProfile Context Propagation 1.3</a>
      <br><a href="https://github.com/eclipse/microprofile-reactive-streams-operators">MicroProfile Reactive Streams Operators 3.0</a>
      <br><a href="https://github.com/eclipse/microprofile-reactive-messaging">MicroProfile Reactive Messaging 3.0</a>
      <br><a href="https://github.com/eclipse/microprofile-graphql">MicroProfile GraphQL 2.0</a>
      <br><a href="https://github.com/eclipse/microprofile-lra">MicroProfile Long Running Actions 2.0</a>
    </div>
  </div>

  <br><br>

  <div class="grid-wrapper center">
    <div class="width-3-12 width-12-12-m">
      <a href="https://opentelemetry.io"><img src="{{site.baseurl}}/assets/images/about/opentelemetry.svg"></a>
    </div>
    <div class="width-9-12 width-12-12-m">
      <a href="https://github.com/open-telemetry/opentelemetry-specification/tree/v1.39.0/specification/trace">OpenTelemetry Trace 1.39</a>
      <br><a href="https://github.com/open-telemetry/opentelemetry-specification/tree/v1.39.0/specification/context">OpenTelemetry Context 1.39</a>
      <br><a href="https://github.com/open-telemetry/opentelemetry-specification/tree/v1.39.0/specification/baggage">OpenTelemetry Baggage 1.39</a>
      <br><a href="https://github.com/open-telemetry/opentelemetry-specification/tree/v1.39.0/specification/resource">OpenTelemetry Resource 1.39</a>
      <br><a href="https://github.com/open-telemetry/opentelemetry-specification/tree/v1.39.0/specification/metrics">OpenTelemetry Metrics 1.39</a>
      <br><a href="https://github.com/open-telemetry/opentelemetry-specification/tree/v1.39.0/specification/logs">OpenTelemetry Logs 1.39</a>
    </div>
  </div>

</div>
