<div class="component-wrapper">
  <div class="width-12-12 width-12-12-m">
  <p>Download printer files (PDF) and order your own stickers from a vendor like <a href="https://www.stickermule.com/products/die-cut-stickers">Sticker Mule</a>. These designs are custom/non-standard shapes so they must be "die cut".</p>
  </div>
</div>
<div class="component-wrapper contributions-band">
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_vertical.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_logo_vertical.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_vertical.pdf">Vertical Logo Sticker</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_horizontal.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_logo_horizontal.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_horizontal.pdf">Horizontal Logo Sticker</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_hex_light.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_logo_hex_light.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_hex_light.pdf">Hex Logo Sticker - Light</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_hex_dark.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_logo_hex_dark.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_logo_hex_dark.pdf">Hex Logo Sticker - Dark</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_icon_hex_light.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_icon_hex_light.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_icon_hex_light.pdf">Hex Icon Sticker - Light</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_icon_hex_dark.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_icon_hex_dark.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_icon_hex_dark.pdf">Hex Icon Sticker - Dark</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_motto.pdf"><img src="{{site.baseurl}}/assets/images/stickers/sticker_logo_motto.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_quarkus_motto.pdf">Supersonic Subatomic Java</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar1.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar1.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar1.pdf">Rocking Duke - Guitar 1</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar2.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar2.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar2.pdf">Rocking Duke - Guitar 2</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar3.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar3.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar3.pdf">Rocking Duke - Guitar 3</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar4.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar4.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar4.pdf">Rocking Duke - Guitar 4</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar5.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar5.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar5.pdf">Rocking Duke - Guitar 5</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_guitar6.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar6.png"></a>
    <h4><a href="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_guitar6.pdf">Rocking Duke - Guitar 6</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_bass1.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_bass1.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_bass1.pdf">Rocking Duke - Bass 1</a></h4>
  </div>
  <div class="width-3-12 width-6-12-m contrib-block">
    <a href="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_bass2.pdf"><img src="{{site.baseurl}}/assets/images/stickers/stickers_rockingduke_bass2.png"></a>
    <h4><a href="{{site.baseurl}}/assets/stickers/stickers_rockingduke_bass2.pdf">Rocking Duke - Bass 2</a></h4>
  </div>
</div>