<div class="component-wrapper options-band">
  <div class="width-12-12">
    <h1>Need More Than Community Support?</h1>
    <h3>If you require a higher level of support, you have options.</h3>
  </div>
  <div class="width-4-12 width-12-12-m options-block text-centered">
    <h4>Red Hat Build of Quarkus</h4>
    <p>Enterprise support provided by Red Hat for the product.</p>
    <p>
      <a href="https://www.redhat.com/en/topics/cloud-native-apps/why-choose-red-hat-quarkus" class="button-cta btn-sm">Red Hat Support</a>
    </p>
  </div>
</div>
