<div class="component-wrapper help-band">
  <div class="width-12-12 help-block">
    <h3>Getting Help from the Community</h3>
  </div>
  <div class="width-3-12 width-12-12-m help-block">
    <img src="{{site.baseurl}}/assets/images/support/icon-documentation.svg">
    <h4>Documentation</h4>
    <p>We have a lot of documentation. Be sure to check our <a href="{{site.baseurl}}/get-started/">Getting started page</a>, and all our <a href="{{site.baseurl}}/guides/">guides</a>. Also check out our <a href="{{site.baseurl}}/faq/">FAQ section</a> and <a href="https://www.youtube.com/playlist?list=PLsM3ZE5tGAVbMz1LJqc8L5LpnfxPPKloO">Quarkus Tips Playlist</a></p>.
  </div>
  <div class="width-3-12 width-12-12-m help-block">
    <img src="{{site.baseurl}}/assets/images/support/icon-stackoverflow.svg">
    <h4>Stack Overflow</h4>
    <p>Ask your questions on <a href="https://stackoverflow.com/questions/tagged/quarkus">Stack Overflow</a>. After the documentation, it’s probably the best place to look for answers. We actively monitor the <a href="https://stackoverflow.com/questions/tagged/quarkus">Quarkus tag</a>.</p>
  </div>
  <div class="width-3-12 width-12-12-m help-block">
    <img src="{{site.baseurl}}/assets/images/support/icon-discussion.svg">
    <h4>Discussions and Collaboration</h4>
    <p>Check out our <a href="https://github.com/quarkusio/quarkus/discussions">GitHub Discussions</a> collaboration area to interact with other Quarkus users and developers.</p>
  </div>
  <div class="width-3-12 width-12-12-m help-block">
    <img src="{{site.baseurl}}/assets/images/support/icon-development.svg">
    <h4>Quarkus Development</h4>
    <p>Discuss the development of Quarkus with the team in the <a href="mailto:quarkus-dev+subscribe@googlegroups.com">development mailing list </a> or by <a href="https://quarkusio.zulipchat.com/">Zulip Chat</a>.</p>
  </div>
</div>
