<div class="component-wrapper help-band">
  <div class="width-12-12 help-block">
    <h3>Getting Help from the Community</h3>
  </div>
  <div class="width-4-12 width-12-12-m help-block">
    <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-documentation.svg">
    <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-documentation-dark.svg">
    <h4>Documentation</h4>
    <p>We have a lot of documentation. Be sure to check our <a href="{{site.baseurl}}/get-started/">Getting started page</a>, and all our <a href="{{site.baseurl}}/guides/">guides</a>. Also check out our <a href="{{site.baseurl}}/faq/">FAQ section</a> and <a href="https://www.youtube.com/playlist?list=PLsM3ZE5tGAVbMz1LJqc8L5LpnfxPPKloO" target="blank">Quarkus Tips Playlist</a>.</p>
  </div>
  <div class="width-4-12 width-12-12-m help-block">
    <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-stackoverflow.svg">
    <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-stackoverflow-dark.svg">
    <h4>Stack Overflow</h4>
    <p>Ask your questions on <a href="https://stackoverflow.com/questions/tagged/quarkus" target="blank">Stack Overflow</a>. After the documentation, it’s probably the best place to look for answers. We actively monitor the <a href="https://stackoverflow.com/questions/tagged/quarkus" target="blank">Quarkus tag</a>.</p>
  </div>
  <div class="width-4-12 width-12-12-m help-block">
    <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-discussion.svg">
    <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-discussion-dark.svg">
   <h4>Discussions and Collaboration</h4>
    <p>Check out our <a href="https://github.com/quarkusio/quarkus/discussions" target="blank">GitHub Discussions</a> collaboration area to interact with other Quarkus users and developers.</p>
  </div>
  <div class="width-4-12 width-12-12-m help-block">
    <img class="light-only" src="{{site.baseurl}}/assets/images/icons/icon-callcalendar.svg">
    <img class="dark-only" src="{{site.baseurl}}/assets/images/icons/icon-callcalendar-dark.svg">
    <h4>Community Call</h4>
    <p>We host a Quarkus Community Call on the first and third Tuesday of each month at 2PM (Paris time) to discuss technical topics and project updates. To attend, <a href="https://calendar.google.com/calendar/embed?src=96e7edd0aa40dfc869532c230d06bf6502524e5ad4c9e6d1ef775923937451b5%40group.calendar.google.com&ctz=Europe%2FParis" target="blank">view the calendar</a> or <a href="https://calendar.google.com/calendar/ical/96e7edd0aa40dfc869532c230d06bf6502524e5ad4c9e6d1ef775923937451b5%40group.calendar.google.com/public/basic.ics">subscribe (iCal) to the calendar</a> so you don't miss one.</p>
  </div>
  <div class="width-4-12 width-12-12-m help-block">
    <img src="{{site.baseurl}}/assets/images/icons/icon-development.svg">
    <h4>Quarkus Development</h4>
    <p>Discuss the development of Quarkus with the team in the <a href="mailto:quarkus-dev+subscribe@googlegroups.com">development mailing list </a> or by <a href="https://quarkusio.zulipchat.com/" target="blank">Zulip Chat</a>.</p>
  </div>
</div>
