<div class="component-wrapper options-band">
  <div class="width-12-12">
    <h2>Looking for Enterprise support?</h2>
    <p>If you require enterprise-level support, you have options. These vendors offer commercial support for Quarkus.</p>
  </div>
  <div class="width-4-12 width-12-12-m options-block text-centered">
    <img src="{{site.baseurl}}/assets/images/supporters/ibm-logo-positive.svg" alt="IBM logo" />
    <p>IBM offers the IBM Enterprise Build of Quarkus with commercial support for building and running cloud-native Java applications in production.</p>
    <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.ibm.com/products/enterprise-build-of-quarkus" target="blank">Learn more about IBM Enterprise Build of Quarkus</a></p>
  </div>
  <div class="width-4-12 width-12-12-m options-block text-centered">
    <img src="{{site.baseurl}}/assets/images/supporters/redhat-logo-positive.svg" alt="Red Hat logo" />
    <p>Red Hat offers the Red Hat Build of Quarkus with enterprise support, long-term maintenance, and production-ready builds as part of Red Hat Runtimes.</p>
    <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.redhat.com/en/topics/cloud-native-apps/why-choose-red-hat-quarkus" target="blank">Learn more about Red Hat Build of Quarkus</a>
    </p>
  </div>
</div>

<div class="component-wrapper options-band">
  <div class="width-12-12">
    <h2>The Open Source Sustainability Initiative and end-of-life (EOL) software</h2>
    <p>The Commonhaus Foundation Open Source Sustainability Initiative (OSSI) recognizes organizations that take responsibility for the security and stability of open source software beyond its end-of-life (EOL). For organizations that depend on EOL software but cannot yet upgrade, OSSI partners provide continued security support and compatibility fixes.<p>    
      <p>OSSI partners are vetted by the Foundation and must meet requirements around security practices, CVE remediation experience, and responsible disclosure. Participation in the initiative does not grant governance rights or authority over the Quarkus project roadmap.</p>
    <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.commonhaus.org/about/ossi.html" target="blank">Learn more about Commonhaus Foundation OSSI</a>.</p>
  </div>
</div>

<div class="component-wrapper options-band">
  <div class="width-12-12">
    <h2>Enterprise support for end-of-life (EOL) software</h2>
    <p>These vendors offer EOL commercial support for Quarkus.</p>
  </div>
  <div class="width-4-12 width-12-12-m options-block text-centered">
    <img src="{{site.baseurl}}/assets/images/supporters/ibm-logo-positive.svg" alt="IBM logo" />
    <p>IBM offers the IBM Enterprise Build of Quarkus with commercial support for building and running cloud-native Java applications in production.</p>
    <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.ibm.com/products/enterprise-build-of-quarkus" target="blank">Learn more about IBM Enterprise Build of Quarkus</a></p>
  </div>
  <div class="width-4-12 width-12-12-m options-block text-centered">
    <img src="{{site.baseurl}}/assets/images/supporters/herodevs-logo-positive.svg" alt="HeroDevs logo" />
    <p>HeroDevs provides Never-Ending Support (NES) for Quarkus, including security fixes and compliance patches for <strong>end-of-life</strong> versions.</p>
    <p class="textCTA"><i class="fa fa-chevron-right"></i><a href="https://www.herodevs.com/support" target="blank">Learn more about HeroDevs Never-Ending Support</a></p>
  </div>
</div>