<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.training.headline }}</h3>
    </div>

  {% for item in site.data.training.courses %}
          <div class="card">
              <a href="{{item.url}}" target="blank"></a>
              <p class="title">{{item.title}}</p>
              <div class="description">
                {% if item.note %}
                    {{ item.note }}
                {% endif %}
              </div>
              <div class="metatext">Author: {{item.author}}</div>
              <div class="metatext">Posted: {{item.date | date: "%-d. %B %Y" }}</div>
              <div class="metatext">
                {% if item.language %}
                    ({{item.language}})
                {% endif %}
              </div>
              <div class="metatext">
                {% if item.affiliation %}
                    Offered by: {{item.affiliation}}
                {% endif %}
              </div>              
          </div>
  {% endfor %}
    <div class="width-12-12 width-12-12-m">
      <p class="mt-0">{{ site.data.training.disclaimer }}</p>
    </div>
  </div>
</div>
