<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.training.headline }}</h3>
      <p class="mt-0">{{ site.data.training.disclaimer }}</p>
      <p class="mt-0">{{ site.data.training.addtraining }}</p>
    </div>

  {% for item in site.data.training.courses %}
          <div class="card">
              <a href="{{item.url}}" target="blank"></a>
              <p class="title">{{ item.affiliation }}</p> 
              <div class="description">
                {{ item.descr }}
              </div>
              <div class="metatext">
              Course Type: {{ item.type }}<br/>
              Course Language: {{ item.language }}
              </div>           
          </div>
  {% endfor %}

  </div>
</div>
