<div class="full-width-bg component-slim">
  <div class="grid-wrapper click-cards">
    <div class="width-12-12 width-12-12-m">
    </div>

    {% for post in site.tags.user-story %}
    {% assign author = site.data.authors[post.author] %}
      <div class="card">
        <a href="{{site.baseurl}}{{ post.url }}"></a>
        <div>
          <p class="title">{{ post.title }}</p>
          <div class="description">
          {% if post.synopsis %}
            <p>{{ post.synopsis | strip_html }}</p>
          {% else %}
            <p>{{ post.content | strip_html | truncate: 200 }}</p>
          {% endif %}</div>
          <div class="metatext">Published Date: {{ post.date | date: '%B %d, %Y' }} <br>
          Written by: {% if post.author %} {{ author.name }} {% endif %} </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
