<div class="full-width-bg component-slim">
    <div class="grid-wrapper working-groups-cards">
        <div class="width-12-12 width-12-12-m">
            <p class="mt-0 lead">
            <p>
                A <strong>working group</strong> is a small team of contributors collaborating on a specific topic or initiative within the Quarkus ecosystem.
            Each group drives progress in a focused area, such as new features, tools, or long-term improvements.
            </p>
            <p>
                Joining a working group is a great way to get involved and help shape the future of Quarkus.
                If you're interested in participating, check the group's board or contact its <em>point of contact</em>.
            </p>
            <p>
                You can also propose a new working group by opening a
                <a href="https://github.com/quarkusio/quarkus/discussions/categories/design-discussions">design discussion</a>
                using the
                <a href="https://github.com/quarkusio/quarkus/discussions/44967">working group proposal template</a>.
            </p>
            </p>
        </div>
    </div>

    <!-- We need a first section for the working groups that are on track, not completed and not LTS -->
    <h2>Active working groups</h2>
    <div class="grid-wrapper working-groups-cards">
    {% for item in site.data.wg.working-groups %}
    {% unless item.completed or item.lts or item.status != 'on track' %}
    <div class="card">
        <div class="card-header">
            <p class="card-title">{{ item.title }}</p>
        </div>
        <div class="card-body">
            <p class="card-text"><span class="key">Status:</span>&nbsp;<span
                    class="status {{ item.status | | replace: ' ', '-'}}">{{ item.status }}</span></p>
            <p class="card-text"><span class="key">Description:</span>&nbsp;<span class="short-description">{{ item.short-description }}</span>
            </p>
            <p class="card-text"><span class="key">Last Activity:</span>&nbsp;<span class="last-activity">{{ item.last-activity | date: '%B %d, %Y' }} </span>
            </p>
            {% if item.point-of-contact %}
            <p class="card-text"><span class="key">Point of Contact:</span>&nbsp;<span class="point-of-contact">{{ item.point-of-contact }}</span>
            </p>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="icons">
                {% if item.proposal %}
                <a href="{{ item.proposal }}" title="See the working group proposal"><i
                        class="icon fa-regular fa-file-lines"></i></a>&nbsp;
                {% endif %}
                <a href="{{ item.board-url }}" title="View the working group board"><i
                        class="icon fa-brands fa-square-github"></i></a>&nbsp;
                {% if item.discussion %}
                <a href="{{ item.discussion }}" title="Discuss about the working group"><i
                        class="icon fa-solid fa-comments"></i></a>&nbsp;
                {% else %}
                <a href="https://quarkusio.zulipchat.com/#narrow/stream/187038-dev"
                   title="Discuss about the working group"><i class="icon fa-solid fa-comments"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endunless %}
    {% endfor %}
    </div>

    <!-- Staled and at risk working groups -->
    <h2>Staled or <em>at risk</em> working groups</h2>
    <p class="mt-0">These working groups either lack recent activity (i.e., have gone stale), are approaching a time-sensitive
        deadline, or are facing a technical blocker.</p>
    <div class="grid-wrapper working-groups-cards">
    {% for item in site.data.wg.working-groups %}
    {% unless item.completed or item.lts or item.status == 'on track' %}
    <div class="card">
        <div class="card-header">
            <p class="card-title">{{ item.title }}</p>
        </div>
        <div class="card-body">
            <p class="card-text"><span class="key">Status:</span>&nbsp;<span
                    class="status {{ item.status | | replace: ' ', '-'}}">{{ item.status }}</span></p>
            <p class="card-text"><span class="key">Description:</span>&nbsp;<span class="short-description">{{ item.short-description }}</span>
            </p>
            <p class="card-text"><span class="key">Last Activity:</span>&nbsp;<span class="last-activity">{{ item.last-activity | date: '%B %d, %Y' }} </span>
            </p>
            {% if item.point-of-contact %}
            <p class="card-text"><span class="key">Point of Contact:</span>&nbsp;<span class="point-of-contact">{{ item.point-of-contact }}</span>
            </p>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="icons">
                {% if item.proposal %}
                <a href="{{ item.proposal }}" title="See the working group proposal"><i
                        class="icon fa-regular fa-file-lines"></i></a>&nbsp;
                {% endif %}
                <a href="{{ item.board-url }}" title="View the working group board"><i
                        class="icon fa-brands fa-square-github"></i></a>&nbsp;
                {% if item.discussion %}
                <a href="{{ item.discussion }}" title="Discuss about the working group"><i
                        class="icon fa-solid fa-comments"></i></a>&nbsp;
                {% else %}
                <a href="https://quarkusio.zulipchat.com/#narrow/stream/187038-dev"
                   title="Discuss about the working group"><i class="icon fa-solid fa-comments"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endunless %}
    {% endfor %}
    </div>

    <!-- The next section is for LTS -->
    <h2>LTS versions</h2>
    <p class="mt-0">Quarkus LTS versions are managed as long-running working group to track releases and issues
        selection.</p>
    <div class="grid-wrapper working-groups-cards">
        {% for item in site.data.wg.working-groups %}
        {% if item.lts %}
        {% unless item.completed %}
        <div class="card">
            <div class="card-header">
                <p class="card-title">{{ item.title }}</p>
            </div>
            <div class="card-body">
                <p class="card-text"><span class="key">Status:</span>&nbsp;<span
                        class="status {{ item.status | | replace: ' ', '-'}}">{{ item.status }}</span></p>
                <p class="card-text"><span class="key">Description:</span>&nbsp;<span class="short-description">{{ item.short-description }}</span>
                </p>
                <p class="card-text"><span class="key">Last Activity:</span>&nbsp;<span class="last-activity">{{ item.last-activity | date: '%B %d, %Y' }} </span>
                </p>
                {% if item.point-of-contact %}
                <p class="card-text"><span class="key">Point of Contact:</span>&nbsp;<span class="point-of-contact">{{ item.point-of-contact }}</span>
                </p>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="icons">
                    {% if item.proposal %}
                    <a href="{{ item.proposal }}" title="See the working group proposal"><i
                            class="icon fa-regular fa-file-lines"></i></a>&nbsp;
                    {% endif %}
                    <a href="{{ item.board-url }}" title="View the working group board"><i
                            class="icon fa-brands fa-square-github"></i></a>&nbsp;
                    {% if item.discussion %}
                    <a href="{{ item.discussion }}" title="Discuss about the working group"><i
                            class="icon fa-solid fa-comments"></i></a>&nbsp;
                    {% else %}
                    <a href="https://quarkusio.zulipchat.com/#narrow/stream/187038-dev"
                       title="Discuss about the working group"><i class="icon fa-solid fa-comments"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endunless %}
        {% endif %}
        {% endfor %}
    </div>

    <h2>Completed working groups</h2>
    <p class="mt-0">
        These working groups have completed their work and are no longer active:
    </p>
    <div class="grid-wrapper working-groups-cards">
        {% for item in site.data.wg.working-groups %}
        {% if item.completed %}
        <div class="card card-completed">
            <div class="card-header">
                <p class="card-title">{{ item.title }}</p>
            </div>
            <div class="card-body">
                <p class="card-text"><span class="key">Description:</span>&nbsp;<span class="short-description">{{ item.short-description }}</span>
                </p>
                <p class="card-text"><span class="key">Completed on:</span>&nbsp;<span class="last-activity">{{ item.last-update-date | date: '%B %d, %Y' }} </span>
                </p>
                {% if item.deliverable %}
                <p class="card-text"><span class="key">Deliverable:</span>&nbsp;<span class="deliverable">{{ item.deliverable }}</span>
                </p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{{ item.board-url }}" class="float-end"> View the {{ item.title }} Board <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>

