<div class="full-width-bg component-slim">
  <div class="grid-wrapper working-groups-cards">
    <div class="width-12-12 width-12-12-m">
      <p class="mt-0 lead">
        Joining a working group is a great way to get involved and help shape the future of Quarkus. 
        If you are interested in joining a working group, please reach out to the point of contact on GitHub or Zulip.
      </p>
    </div>

  
    {% for item in site.data.wg.working-groups %}
    <div class="card">
      <div class="card-header">
        <p class="card-title">{{ item.title }}</p>
      </div>
      <div class="card-body">
        <p class="card-text"><span class="key">Status:</span>&nbsp;<span class="status {{ item.status | | replace: ' ', '-'}}">{{ item.status }}</span></p>
        <p class="card-text"><span class="key">Description:</span>&nbsp;<span class="short-description">{{ item.short-description }}</span></p>
        <p class="card-text"><span class="key">Last Activity:</span>&nbsp;<span class="last-activity">{{ item.last-activity }}</span></p>
        {% if item.last-update %}<p class="card-text"><span class="key">Last status update:</span>&nbsp;<span class="last-update">{{ item.last-update }}</span></p>{% endif %}      
      </div>
      <div class="card-footer">       
        <a href="{{ item.board-url }}" class="float-end"> View the {{ item.title }} Board <i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
    {% endfor %}      
  </div>
</div>