<div class="full-width-bg component-slim">
  <div class="grid-wrapper working-groups-cards">
    <div class="width-12-12 width-12-12-m">
      <p class="mt-0 lead">
        <span class="emph">Working Groups</span> are a way to organize the community around a specific topic or goal. 
        They are a great way to get involved and help shape the future of Quarkus. 
        If you are interested in joining a working group, please reach out to the point of contact on GitHub or Zulip.
      </h3>
    </div>

  
    {% for item in site.data.wg.working-groups %}
    <div class="card">
      <div class="card-header">
        <span class="card-title">{{ item.title }}</span>
      </div>
      <div class="card-body">
        <p class="card-text"><span class="key">Status:</span>&nbsp;<span class="status {{ item.status | | replace: ' ', '-'}}">{{ item.status }}</span></p>
        <p class="card-text"><span class="key">Description:</span>&nbsp;<span class="short-description">{{ item.short-description }}</span></p>
        <p class="card-text"><span class="key">Last Activity:</span>&nbsp;<span class="last-activity">{{ item.last-activity }}</span></p>
        {% if item.last-update %}<p class="card-text"><span class="key">Last status update:</span>&nbsp;<span class="last-update">{{ item.last-update }}</span></p>{% endif %}      
      </div>
      <div class="card-footer">
        <!-- <a href="#" class="btn btn-sm btn-secondary me-1 mb-1 float-start" data-bs-toggle="modal" data-bs-target="#modal-{board.id}">More info</a> -->        
        <a href="{{ item.board-url }}" class="button-cta float-end">Board</a>
      </div>
    </div>
    {% endfor %}      
  </div>
</div>