<div class="full-width-bg white component">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h3 class="mt-0">Welcome to the Quarkus World Tour 2021</h3>
      <p>A unique, hands-on experience with access to Quarkus experts designed to help you get started with Java in a Kubernetes world.</p>
      <p>Quarkus is the rising star for Kube Native Java as it re-imagines the Java stack to give you the performance characteristics and developer experience you need to create modern, high performing applications. Quarkus helps you use your existing skills and code in new ways and greatly reduces the technical burden when moving to a Kubernetes-centric environment.</p>
      <p>Looking to move or improve your Java applications on Kubernetes? Why not explore the benefits that Quarkus brings by joining our World Tour. Come with us as we visit (virtually of course) as many Java User Groups as we can over the next year to help Java developers everywhere understand more about the challenges and opportunities ahead.</p>
      <p>Are we visiting a JUG near you? Then look out for their announcements or if not, get them to reach out to us and we’ll see if we can squeeze them in!</p>
      <p>It’s going to be a blast. 90 odd minutes of technical discussion, some hands-on coding and a Q&A tailored to each JUG’s interests.</p>
      <p>Oh and did we mention swag? Maybe even a Tour T-Shirt?</p>
      <p>Time to rock the Java world 2021 style…</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2021/worldtourswag.png">
      <h4>Want tour stop at your JUG?</h4>
    <p>Interested in having the Quarkus Tour come through your local Java User Group? Contact us today to get more details and make it happen.</p>
      <a href="mailto:worldtour@quarkus.io" class="button-cta">Get a tour stop</a>
    </div>
  </div>
</div>
<div class="full-width-bg white component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
    <h5 class="mt-0">Tour Schedule and Information</h5>
      <table class="tableblocklightbkg">
        <tr>
          <th>Time and Date</th>
          <th>Time Zone</th> 
          <th>JUG</th>
          <th>Native Language</th>
          <th>Presenter(s)</th>
          <th>JUG Contact</th>
          <th>JUG Website</th>
        </tr>
        {% for item in site.data.event_worldtour_2021_schedule %}
        <tr>
          <td>{{ item.datetime }}</td>
          <td>{{ item.zone }}</td>
          <td>{{ item.jug }}</td> 
          <td>{{ item.language }}</td>
          <td>{{ item.presenter }}</td>
          <td>{{ item.jugcontact }}</td>
          <td><a href="{{ item.juglink }}">JUG Website</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
