<div class="full-width-bg white component">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h2 class="mt-0">Quarkus World Tour 2023</h2>
      <h3>For true rock stars, the road never ends.</h3>
      <p>We’re bringing the band back on the road to continue bringing our unique, hands-on experience with access to Quarkus experts designed to help you get started with Java in a Kubernetes world. Whether you are a Quarkus first-timer or seasoned pro, your JUG will love this show.</p>
      <p>We’ll be playing some classics as well as some songs from the new releases(s).</p>
      <p>Join us (virtually or live) as we tour Java User Groups across the globe for 90 minutes of technical discussion, some hands-on coding and a lively Q&A tailored to each JUG’s interests.</p>
      <p>We are taking requests…if you had a tour stop before, we can create a new experience to give your JUG a fresh deeper look at Quarkus. No Freebird or Stairway to Heaven. ;)
      </p>
      <p>Are we visiting a JUG near you? Then look out for their announcements or if not, get them to reach out to us and we’ll see if we can squeeze them in!</p>
      <p>And yeah, we still have cool swag.</p>
      <p>Keep rocking the Java world!</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/worldtourswag.png">
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3>Want a tour stop at your JUG?</h3>
    <p>Interested in having the Quarkus Tour come through your local Java User Group? Contact us today to get more details and make it happen.</p>
      <a href="https://github.com/quarkusio/quarkus/discussions/23453" class="button-cta">Get a tour stop</a>
    </div>
      <div class="width-6-12 width-12-12-m">
      <h3>Be a Roadie</h3>
    <p>Do you have Quarkus skills and want to help present the shows? Become a Roadie and join the tour.</p>
      <a href="https://github.com/quarkusio/quarkus/discussions/23454" class="button-cta">Become a Roadie</a>
    </div>
  </div>
</div>
