<div class="full-width-bg black component">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h2 class="mt-0">{{ site.data.event_worldtour_hero.headline }}</h2>
      <p>{{ site.data.event_worldtour_hero.herocopy }}</p>
    </div>
        <div class="width-6-12 width-12-12-m">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DYcEQs-9sb0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
