<div class="full-width-bg white component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h2 class="mt-0">Quarkus World Tour 2023 - JUG Promotional Materials</h2>
      <p>These materials are for JUGs who have tour dates booked and want access to promotional materials to use to create excitement and drum up attendance. We've written a couple versions of the session abstracts so you could find one that fits your JUGs personality, or go for it and create your own! We've also created some <a href="{{site.baseurl}}/worldtour/graphics">graphic resources</a> for social promotions a well.</p>
      <hr>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">Session Abstracts</h3>
    </div>
    <div class="width-5-12 width-12-12-m">
      <h3 class="mt-0">Abstract A - All Rock'n Roll and Big Drum Solos</h3>
      <p>In the spirit of the times, the Quarkus Team virtually presents a big, loud, and bold, rock & roll mega-stadium tour.</p>
      <p>For the last 25 years, Java has performed for organizations across the world but you've never seen anything like this. We'll cover all the classics like "Start Me Up" and "Living' on a VM" and some new jams like "Stairway to Native" and "Sweet JPA of Mine" and more.</p>
      <p>In this session the Quarkus Team will give you a unique, hands-on experience:  An introduction to Quarkus, a follow-along hands-on demo or two and then a Q&A with some of the band, umm, developers involved.</p>
      <p>So join us as we explore how Quarkus helps Java developers everywhere to be more productive, create modern masterpieces and, well,  have more fun:  90 odd minutes of technical discussion, some live coding and a Q&A - it’s going to be a  blast.</p>
      <p>Oh and did we mention some cool swag?</p>
      <p>Time to rock the Java world 2023 style…</p>
      </div>
      <div class="width-2-12 width-12-12-m"></div>
      <div class="width-5-12 width-12-12-m">
      <h3 class="mt-0">Abstract B - More Easy Listening</h3>
      <p>Welcome to the Quarkus World Tour.</p>
      <p>A unique experience with access to Quarkus experts designed to help you get started with Java in a Kubernetes world.</p>
      <p>Quarkus is the rising star for Kube Native Java as it re-imagines the Java stack to give you the performance characteristics and developer experience you need to create modern, high performing applications. Quarkus helps you use your existing skills and code in new ways and greatly reduces the technical burden when moving to a Kubernetes-centric environment.</p>
      <p>Join us as we explore how Quarkus helps Java developers everywhere to be more productive, create modern masterpieces and, have a little bit more fun.</p>
      <p>It’s going to be a blast.  90 odd minutes of technical discussion, some live coding and a Q&A.</p>
      <p>Oh and did we mention some cool swag?</p>
      <p>Time to rock the Java world 2023 style…</p>
    </div>

  </div>
</div>