
<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">World Tour Logos</h3>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/worldtourlogo2023_2023.png">
      <p class="mt-0">Primary World Tour Logo with Year</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/worldtourlogo2023_primary.png">
      <p class="mt-0">Secondary World Tour Logo Primary</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/worldtourlogo2023_secondary.png">
      <p class="mt-0">Secondary World Tour Icon Element</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/worldtourlogo2023_combined.png">
      <p class="mt-0">Secondary World Tour Combined</p>
    </div>
  </div>
</div>

<div class="full-width-bg component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">Social Media Resources</h3>
      <h4 class="mt-0">Twitter Post Images (sized at 1024x512 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Twitter_1024x512_willrock.png">
      <p class="mt-0">Twitter Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Twitter_1024x512_rockingduke.png">
      <p class="mt-0">Twitter Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Twitter_1024x512_iscoming.png">
      <p class="mt-0">Twitter Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Twitter_1024x512_arch.png">
      <p class="mt-0">Twitter Post Image: QTW logo</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Facebook Post Images (sized at 1200x628 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Facebook_1200x628_willrock.png">
      <p class="mt-0">Facebook Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Facebook_1200x628_rockingduke.png">
      <p class="mt-0">Facebook Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Facebook_1200x628_iscoming.png">
      <p class="mt-0">Facebook Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_Facebook_1200x628_arch.png">
      <p class="mt-0">Facebook Post Image: QTW logo</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Meetup Post Images (sized at 1200x675 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_meetup_1200x675_willrock.png">
      <p class="mt-0">Meetup Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_meetup_1200x675_rockingduke.png">
      <p class="mt-0">Meetup Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_meetup_1200x675_iscoming.png">
      <p class="mt-0">Facebook Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/social/QWT_social_meetup_1200x675_arch.png">
      <p class="mt-0">Meetup Post Image: QTW logo</p>
    </div>   
  </div>
</div>

<div class="full-width-bg component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">Slide Presentation Backgrounds</h3>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Main Content Background</h4>
      <p>These slide backgrounds should be used for the bulk of your presentation. The simple/low contrast backgrounds are designed to make your content easy to see and legible.</p>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_baselight.png">
      <p class="mt-0">Base Content Light</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_basedark.png">
      <p class="mt-0">Base Content Dark</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_basegradient.png">
      <p class="mt-0">Base Content Gradient</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Title Slides</h4>
      <p>These should be used as the first slide of your presentation.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide1_title.png">
      <p class="mt-0">Title Slide - Guitar</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide2_title.png">
      <p class="mt-0">Title Slide - Stage Lights</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide3_title.png">
      <p class="mt-0">Title Slide - Crowd Surfing</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide4_title.png">
      <p class="mt-0">Title Slide - Drum Kit</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide5_title.png">
      <p class="mt-0">Title Slide - Guitar Neck</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide6_title.png">
      <p class="mt-0">Title Slide - Guitarist on Stage</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide7_title.png">
      <p class="mt-0">Title Slide - Speaker Wall</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide8_title.png">
      <p class="mt-0">Title Slide - Gradient</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Sectional/Bumper/Callout Slides</h4>
      <p>These should be used to divide sections or as a background for a big callout that you want your audience to see as special.</p>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide1.png">
      <p class="mt-0">Callout Slide - Guitar</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide2.png">
      <p class="mt-0">Callout Slide - Stage Lights</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide3.png">
      <p class="mt-0">Callout Slide - Crowd Surfing</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide4.png">
      <p class="mt-0">Callout Slide - Drum Kit</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide5.png">
      <p class="mt-0">Callout Slide - Guitar Neck</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide6.png">
      <p class="mt-0">Callout Slide - Guitarist on Stage</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide7.png">
      <p class="mt-0">Callout Slide - Speaker Wall</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_bkg_slide8.png">
      <p class="mt-0">Callout Slide - Gradient</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Presentation Elements</h4>
      <p>These are graphical elements you can layer on top of the Sectional Bumpers for extra emphasis.</p>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_element_QA.png">
      <p class="mt-0">"Q&A" graphic</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="bkg-grey" src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_element_rockon.png" >
      <p class="mt-0">"Rock On!" graphic</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="bkg-grey" src="{{site.baseurl}}/assets/images/worldtour/2023/slidebkg/worldtour_element_quarkuslogowhite.png">
      <p class="mt-0">White Quarkus Logo graphic</p>
    </div> 
  </div>
</div>
