<div class="full-width-bg white component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">{{ site.data.cheatsheets.headline }}</h3>
    </div>

  {% for item in site.data.cheatsheets.links %}
      <div class="whitecard-outline">
        <div>
          <h4 class="mt-0">{{ item.title }}</h4>
          <p><small>{{ item.author }}</small></p>
          <p><a href="{{ item.link }}" target="_blank">{{ item.cta_linktext }}</a> ></p>
        </div>
      </div>
  {% endfor %}

  </div>
</div>

