<div class="full-width-bg white component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h2 class="mt-0">Quarkus World Tour - JUG Promotional Materials</h2>
      <p>These materials are for JUGs who have tour dates booked and want access to promotional materials to use to create excitement and drum up attendance. We've written a couple versions of the session abstracts so you could find one that fits your JUGs personality, or go for it and create your own! We've also created some graphic materials for social promotions a well.</p>
      <hr>
    </div>
  </div>
</div>

<div class="full-width-bg white component-slim">
  <div class="grid-wrapper">
    <div class="width-6-12 width-12-12-m">
      <h3 class="mt-0">Session Abstracts</h3>
      <h3 class="mt-0">Abstract A - All Rock'n Roll and Big Drum Solos</h3>
      <p>In the spirit of the times, the Quarkus Team virtually presents a big, loud, and bold, rock & roll mega-stadium tour.</p>
      <p>For the last 25 years, Java has performed for organizations across the world but you've never seen anything like this. We'll cover all the classics like "Start Me Up" and "Living' on a VM" and some new jams like "Stairway to Native" and "Sweet JPA of Mine" and more.</p>
      <p>In this session the Quarkus Team will give you a unique, hands-on experience:  An introduction to Quarkus, a follow-along hands-on demo or two and then a Q&A with some of the band, umm, developers involved.</p>
      <p>So join us as we explore how Quarkus helps Java developers everywhere to be more productive, create modern masterpieces and, well,  have more fun:  90 odd minutes of technical discussion, some live coding and a Q&A - it’s going to be a  blast.</p>
      <p>Oh and did we mention swag?   Maybe even a Tour T-Shirt?</p>
      <p>Time to rock the Java world 2021 style…</p>
      <br><br>
       <h3 class="mt-0">Abstract B - More Easy Listening</h3>
      <p>Welcome to the Quarkus World Tour.</p>
      <p>A unique experience with access to Quarkus experts designed to help you get started with Java in a Kubernetes world.</p>
      <p>Quarkus is the rising star for Kube Native Java as it re-imagines the Java stack to give you the performance characteristics and developer experience you need to create modern, high performing applications. Quarkus helps you use your existing skills and code in new ways and greatly reduces the technical burden when moving to a Kubernetes-centric environment.</p>
      <p>Join us as we explore how Quarkus helps Java developers everywhere to be more productive, create modern masterpieces and, have a little bit more fun.</p>
      <p>It’s going to be a blast.  90 odd minutes of technical discussion, some live coding and a Q&A.</p>
      <p>Oh and did we mention swag? Maybe even a Tour T-Shirt?</p>
      <p>Time to rock the Java world 2021 style…</p>
    </div>
    <div class="width-6-12 width-12-12-m">
      <h3 class="mt-0">World Tour Logos and Social Media Resources</h3>
      <img src="{{site.baseurl}}/assets/images/worldtour/QuarkusWorldTour_logo.png">
      <h4 class="mt-0">Primary World Tour Logo</h4>
      <p>1920x1080 PNG file</p>
      <img src="{{site.baseurl}}/assets/images/worldtour/QuarkusWorldTour_icon.png">
      <h4 class="mt-0">Secondary World Tour Icon</h4>
      <p>1920x1080 PNG file</p>
    </div>
  </div>
</div>
<div class="full-width-bg white component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">Twitter Post Images</h3>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_london.png">
      <p class="mt-0">Twitter Post Image - London JUG</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_vigocoruna.png">
      <p class="mt-0">Twitter Post Image - VigoJUG and CoruñaJUG</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_lagosjug.png">
      <p class="mt-0">Twitter Post Image - Lagos Java User Group  </p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_lavajug.png">
      <p class="mt-0">Twitter Post Image - LavaJUG</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_siliconvalley.png">
      <p class="mt-0">Twitter Post Image - Silicon Valley Java User Group</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_kansascity.png">
      <p class="mt-0">Twitter Post Image - Kansas City Java Users Group</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_manchester.png">
      <p class="mt-0">Twitter Post Image - Manchester Java Community</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_chicago.png">
      <p class="mt-0">Twitter Post Image - Chicago Java User Group</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_portugal.png">
      <p class="mt-0">Twitter Post Image - Portugal Java User Group</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_paris.png">
      <p class="mt-0">Twitter Post Image - Paris Java User Group</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_seattle.png">
      <p class="mt-0">Twitter Post Image - Seattle Java User Group</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_latvian.png">
      <p class="mt-0">Twitter Post Image - Latvian Java User Group</p>
    </div>
     <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_nis.png">
      <p class="mt-0">Twitter Post Image - Niš Java User Group</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_jozijug.png">
      <p class="mt-0">Twitter Post Image - JoziJug (South Africa)</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_seoul.png">
      <p class="mt-0">Twitter Post Image - Seoul Java User Group</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/twitter_1024x512_warszawa.png">
      <p class="mt-0">Twitter Post Image - Warszawa Java User Group</p>
    </div>

  </div>
</div>
