
<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">World Tour Logos</h3>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/worldtourlogo2024_2024.png">
      <p class="mt-0">Primary World Tour Logo with Year</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/worldtourlogo2024_primary.png">
      <p class="mt-0">Secondary World Tour Logo Primary</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/worldtourlogo2024_secondary.png">
      <p class="mt-0">Secondary World Tour Icon Element</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/worldtourlogo2024_combined.png">
      <p class="mt-0">Secondary World Tour Combined</p>
    </div>
  </div>
</div>

<div class="full-width-bg component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">Social Media Resources</h3>
      <h4 class="mt-0">X Post Images (sized at 1024x512 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Twitter_1024x512_willrock.png">
      <p class="mt-0">X Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Twitter_1024x512_rockingduke.png">
      <p class="mt-0">X Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Twitter_1024x512_iscoming.png">
      <p class="mt-0">X Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Twitter_1024x512_arch.png">
      <p class="mt-0">X Post Image: QTW logo</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Facebook Post Images (sized at 1200x628 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Facebook_1200x628_willrock.png">
      <p class="mt-0">Facebook Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Facebook_1200x628_rockingduke.png">
      <p class="mt-0">Facebook Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Facebook_1200x628_iscoming.png">
      <p class="mt-0">Facebook Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_Facebook_1200x628_arch.png">
      <p class="mt-0">Facebook Post Image: QTW logo</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Meetup Post Images (sized at 1200x675 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_meetup_1200x675_willrock.png">
      <p class="mt-0">Meetup Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_meetup_1200x675_rockingduke.png">
      <p class="mt-0">Meetup Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_meetup_1200x675_iscoming.png">
      <p class="mt-0">Meetup Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_meetup_1200x675_arch.png">
      <p class="mt-0">Meetup Post Image: QTW logo</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Linkedin Post Images (sized at 1104x736 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_LinkedIn_1104x736_willrock.png">
      <p class="mt-0">Linkedin Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_LinkedIn_1104x736_rockingdude.png">
      <p class="mt-0">Linkedin Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_LinkedIn_1104x736_iscoming.png">
      <p class="mt-0">Facebook Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_LinkedIn_1104x736_arch.png">
      <p class="mt-0">Linkedin Post Image: QTW logo</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Mastadon Post Images (sized at 1280x1280 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_mastadon_1280x1280_willrock.png">
      <p class="mt-0">Mastadon Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_mastadon_1280x1280_rockingdude.png">
      <p class="mt-0">Mastadon Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_mastadon_1280x1280_iscoming.png">
      <p class="mt-0">Facebook Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_mastadon_1280x1280_arch.png">
      <p class="mt-0">Mastadon Post Image: QTW logo</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Threads Post Images (sized at 1080x1080 pixels)</h4>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_threads_1080x1080_willrock.png">
      <p class="mt-0">Threads Post Image: "The QWT will rock your JUG!"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_threads_1080x1080_rockingdude.png">
      <p class="mt-0">Threads Post Image: Rocking Duke</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_threads_1080x1080_iscoming.png">
      <p class="mt-0">Facebook Post Image: "Is Coming"</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/social/QWT_social_threads_1080x1080_arch.png">
      <p class="mt-0">Threads Post Image: QTW logo</p>
    </div>

  </div>
</div>

<div class="full-width-bg component-slim">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h3 class="mt-0">Slide Presentation Backgrounds</h3>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Main Content Background</h4>
      <p>These slide backgrounds should be used for the bulk of your presentation. The simple/low contrast backgrounds are designed to make your content easy to see and legible.</p>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_baselight.png">
      <p class="mt-0">Base Content Light</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_basedark.png">
      <p class="mt-0">Base Content Dark</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_basegradient.png">
      <p class="mt-0">Base Content Gradient</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Title Slides</h4>
      <p>These should be used as the first slide of your presentation.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide1_title.png">
      <p class="mt-0">Title Slide - Guitar</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide2_title.png">
      <p class="mt-0">Title Slide - Stage Lights</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide3_title.png">
      <p class="mt-0">Title Slide - Crowd Surfing</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide4_title.png">
      <p class="mt-0">Title Slide - Drum Kit</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide5_title.png">
      <p class="mt-0">Title Slide - Guitar Neck</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide6_title.png">
      <p class="mt-0">Title Slide - Guitarist on Stage</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide7_title.png">
      <p class="mt-0">Title Slide - Speaker Wall</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide8_title.png">
      <p class="mt-0">Title Slide - Gradient</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide9_title.png">
      <p class="mt-0">Title Slide - Disco</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide10_title.png">
      <p class="mt-0">Title Slide - DJ</p>
    </div>

    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Sectional/Bumper/Callout Slides</h4>
      <p>These should be used to divide sections or as a background for a big callout that you want your audience to see as special.</p>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide1.png">
      <p class="mt-0">Callout Slide - Guitar</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide2.png">
      <p class="mt-0">Callout Slide - Stage Lights</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide3.png">
      <p class="mt-0">Callout Slide - Crowd Surfing</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide4.png">
      <p class="mt-0">Callout Slide - Drum Kit</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide5.png">
      <p class="mt-0">Callout Slide - Guitar Neck</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide6.png">
      <p class="mt-0">Callout Slide - Guitarist on Stage</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide7.png">
      <p class="mt-0">Callout Slide - Speaker Wall</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide8.png">
      <p class="mt-0">Callout Slide - Gradient</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide9.png">
      <p class="mt-0">Callout Slide - Disco</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_bkg_slide10.png">
      <p class="mt-0">Callout Slide - DJ</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <h4 class="mt-0">Presentation Elements</h4>
      <p>These are graphical elements you can layer on top of the Sectional Bumpers for extra emphasis.</p>
    </div>

    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_element_QA.png">
      <p class="mt-0">"Q&A" graphic</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="bkg-grey" src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_element_rockon.png" >
      <p class="mt-0">"Rock On!" graphic</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img class="bkg-grey" src="{{site.baseurl}}/assets/images/worldtour/2024/slidebkg/worldtour_element_quarkuslogowhite.png">
      <p class="mt-0">White Quarkus Logo graphic</p>
    </div> 
  </div>
</div>
