
html {
	--link-color: #1259A5;
	--link-color-hover: #CC0000;
	--link-color-visited: #AA4494;
	--main-background-color: #FFFFFF;
	--main-text-color: #121212;
	--main-code-color: #943000;
	--sec-background-color: #B5B5B5;
	--title-background-color: #0d1c2c;
	--breadcrumb-background-color: #4695EB;

	--card-outline: #AAAAAA;
	--card-background-color: #FFFFFF;
	--card-background-color-hover: #e4edf7;

}

@media (prefers-color-scheme: dark) {
    html {
    	--link-color: #9BCAFA;
		--link-color-hover: #CC0000;
		--link-color-visited: #AA4494;
    	--main-background-color: #121212;
    	--main-text-color: #B5B5B5;
		--main-code-color: #F59B00;
    	--sec-background-color: #333333;
    	--title-background-color: #0e0e0e;
		--breadcrumb-background-color: #0d1c2c;

   		--card-outline: #555555;
		--card-background-color: #333333;
		--card-background-color-hover: #0f0f0f;
    }

    // code highlighting overrides //
   .hljs-built_in, .hljs-selector-tag, .hljs-section, .hljs-link, .hljs-function, .hljs-params { color: #6a9fb5 !important;}
   .hljs-title, .hljs-attr { color: #d28445 !important; }
   .hljs-string, .hljs-meta, .hljs-name, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable { color: #90a959 !important; }
   .hljs-comment, .hljs-quote, .hljs-deletion { color: #75b5aa !important; }
   .hljs-literal, .hljs-number { color: #d28445 !important; }

   // Table overrides //
   table.tableblock tbody tr:nth-child(even) { background-color: transparent !important; }
   table.tableblock thead th { background-color: #333333 !important;  }

}
