
html {
	--link-color: #1259A5;
	--link-color-hover: #CC0000;
	--link-color-visited: #AA4494;
	--main-background-color: #FFFFFF;
	--main-text-color: #121212;
	--main-code-color: #943000;
	--sec-border-color: #aaa;
	--sec-background-color: #EFEFEF;
	--title-background-color: #0d1c2c;
	--breadcrumb-background-color: #4695EB;

	--card-outline: #AAAAAA;
	--card-background-color: #FFFFFF;
	--card-background-color-hover: #e4edf7;

  // image change //
	.dark-only {display: none;}
	.light-only {display: inline-block;}
}

html.dark {
	--link-color: #9BCAFA;
	--link-color-hover: #CC0000;
	--link-color-visited: #AA4494;
 	--main-background-color: #121212;
 	--main-text-color: #B5B5B5;
	--main-code-color: #F59B00;
 	--sec-background-color: #333333;
 	--title-background-color: #0e0e0e;
	--breadcrumb-background-color: #0d1c2c;

	--card-outline: #555555;
	--card-background-color: #0f0f0f;
	--card-background-color-hover: #333333;

	--img-background-color: #c8c8c8;

  // image change //
 	.dark-only {display: inline-block;}
	.light-only {display: none;}

    // code highlighting overrides //
   .hljs-built_in, .hljs-selector-tag, .hljs-section, .hljs-link, .hljs-function, .hljs-params { color: #6a9fb5 !important;}
   .hljs-title, .hljs-attr { color: #d28445 !important; }
   .hljs-string, .hljs-meta, .hljs-name, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable { color: #90a959 !important; }
   .hljs-comment, .hljs-quote, .hljs-deletion { color: #75b5aa !important; }
   .hljs-literal, .hljs-number { color: #d28445 !important; }

   // Table overrides //
   table.tableblock tbody tr:nth-child(even) { background-color: transparent !important; }
   table.tableblock thead th { background-color: #333333 !important;  }

   // project footer //
	.project-footer {
    	background-image: none !important; 
    	background-color: var(--title-background-color) !important; }

   // Post and Guides - backup for no alt image //
	.post .doc-content img {
    	background-color: var(--img-background-color) !important; 
    	padding: 1rem; }
    	
	.guides .imageblock img {
    	background-color: var(--img-background-color) !important; 
    	padding: 1rem; }

  ul.related-content li {

    &:before {
      &.tutorial {
        background: url($baseurl + '/assets/images/documentation/docsicon-tutorials-dark.svg') no-repeat !important;
      }

      &.guide, &.howto {
        background: url($baseurl + '/assets/images/documentation/docsicon-guides-dark.svg') no-repeat !important;
      }

      &.concepts {
        background: url($baseurl + '/assets/images/documentation/docsicon-concepts-dark.svg') no-repeat !important;
      }

      &.pdf {
        background: url($baseurl + '/assets/images/documentation/docsicon-pdf-dark.svg') no-repeat !important;
      }

      &.reference {
        background: url($baseurl + '/assets/images/documentation/docsicon-referencedocs-dark.svg') no-repeat !important;
      }
    }
  }
}
