
html {
	--link-color: #1259A5;
	--link-color-hover: #CC0000;
	--link-color-visited: #AA4494;
	--main-background-color: #FFFFFF;
	--main-text-color: #121212;
	--main-code-color: #943000;
	--sec-border-color: #aaa;
	--sec-background-color: #EFEFEF;
	--blue-background-color: #e4edf7;
	--title-background-color: #0d1c2c;
	--breadcrumb-background-color: #4695EB;

	--table-head-background-color: #aaaaaa;
	--table-row-stripe: #e4edf7;

	--card-outline: #AAAAAA;
	--card-background-color: #FFFFFF;
	--card-background-color-hover: #e4edf7;

	// search.quarkus.io colors:
	// no search results background
	--empty-background-color: #F0CA4D;
    --tag-stable-background-color: #4695eb;
    --tag-stable-text-color: #FFFFFF;
    --tag-preview-background-color: #f18f01;
    --tag-preview-text-color: #FFFFFF;
    --tag-deprecated-background-color: #6a737d;
    --tag-deprecated-text-color: #FFFFFF;
    --tag-experimental-background-color: #ff004a;
    --tag-experimental-text-color: #FFFFFF;

  // image change //
	.dark-only {display: none;}
	.light-only {display: inline-block;}

	// blue tile with text //
	--tile-text-color: #121212;
	--tile-background-color: #ffffff;
}

html.dark {
	--link-color: #9BCAFA;
	--link-color-hover: #CC0000;
	--link-color-visited: #AA4494;
 	--main-background-color: #121212;
 	--main-text-color: #B5B5B5;
	--main-code-color: #F59B00;
 	--sec-background-color: #333333;
	--blue-background-color: #0D1C2C;
 	--title-background-color: #070f17;
	--breadcrumb-background-color: #0d1c2c;

	--table-head-background-color: #333333;
	--table-row-stripe: #010101;

	--card-outline: #555555;
	--card-background-color: #0f0f0f;
	--card-background-color-hover: #333333;

	--img-background-color: #c8c8c8;

	--projectfooter-dark-color: #0e0e0e;

	// blue tile with text //
	--tile-text-color: #ffffff;
	--tile-background-color: #205894;


	// search.quarkus.io colors:
	// no search results background
	--empty-background-color: #333333;

  // image change //
 	.dark-only {display: inline-block;}
	.light-only {display: none;}

    // code highlighting overrides //
   .hljs-built_in, .hljs-selector-tag, .hljs-section, .hljs-link, .hljs-function, .hljs-params { color: #6a9fb5 !important;}
   .hljs-title, .hljs-attr { color: #d28445 !important; }
   .hljs-string, .hljs-meta, .hljs-name, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable { color: #90a959 !important; }
   .hljs-comment, .hljs-quote, .hljs-deletion { color: #75b5aa !important; }
   .hljs-literal, .hljs-number { color: #d28445 !important; }

   // project footer //
	.project-footer {
    	background-image: none !important;
    	background-color: var(--projectfooter-dark-color) !important; }

   // giscus overrides //
   .giscus {
   		background-color: var(--img-background-color) !important; }

   // Cards - backup for no alt image //
	.click-cards .card img {
    	background-color: var(--img-background-color) !important;
    	padding: 1rem;
    	margin-bottom: 1rem; }

   // Post and Guides - backup for no alt image //
	.post .doc-content img {
    	background-color: var(--img-background-color) !important;
    	padding: 1rem; }

	.guides .imageblock img, .guides .image img {
    	background-color: var(--img-background-color) !important;
    	padding: .25rem; }

  .share-page	a img  {
  	padding: 0 !important; }

  ul.related-content li {

    &:before {
      &.tutorial {
        background: url($baseurl + '/assets/images/documentation/docsicon-tutorials-dark.svg') no-repeat !important; }

      &.guide, &.howto {
        background: url($baseurl + '/assets/images/documentation/docsicon-guides-dark.svg') no-repeat !important; }

      &.concepts {
        background: url($baseurl + '/assets/images/documentation/docsicon-concepts-dark.svg') no-repeat !important; }

      &.pdf {
        background: url($baseurl + '/assets/images/documentation/docsicon-pdf-dark.svg') no-repeat !important; }

      &.reference {
        background: url($baseurl + '/assets/images/documentation/docsicon-referencedocs-dark.svg') no-repeat !important; }
    }
  }
}
