// PROJECT color palette

$quarkus-blue : #4695EB;
$dark-blue : #09131E;
$dark-blue-alt: #0D1C2C;
$dark-blue-1: #205894;

$cta-color: #0B58AB;


// Overwrites link colors in /core/colors.scss
$link : #1259A5;
$link-dark-bg: #9BCAFA;
$link-light-bg: #1259A5;
$link-hover : $red;
$link-visited : #AA4494;

$cta-hover: $link-hover;

$light-blue: #e4edf7;
$red: #FF004A;
