// PROJECT color palette

$quarkus-blue : #4695EB;
$dark-blue : #09131E;
$dark-blue-alt: #0D1C2C;


// Overwrites link colors in /core/colors.scss
$link : #9BCAFA;
$link-light-bg: #1165C5;
$link-hover : $red;
$link-visited : #AA4494;

$cta-hover: $link-hover;

$light-blue: #d5e3f3;
$red: #FF004A;
