// PROJECT styles to overwrite global.scss

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html,
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: $black;
}

body:not(.homepage):not(.error-page):not(.guides):not(.guides-configuration-reference):not(.post):not(.books) {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,28,44,1) 27%, rgba(13,28,44,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,28,44,1) 27%, rgba(13,28,44,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,28,44,1) 300px, rgba(13,28,44,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0d1c2c",GradientType=1);
}

* {
  font-family: 'Open Sans', Arial, sans-serif;
  color: $white;
  line-height: 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.5rem;    
  }
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
}

a {
  line-height: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
  color: $link;
  &:hover, &:active, &:focus {
    color: $link-hover;
  }
}

a.button-cta,
button,
input[type="submit"] {
  color: $white !important;
  background-color: $quarkus-blue;
  border: 2px solid $quarkus-blue;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.5;
  transition: background .2s ease-in 0s;
  text-decoration: none;
  padding: 0 3rem;
  display: inline-block;
  white-space: normal;
  &:hover, &:active, &:focus {
    background-color: $cta-hover;
    border-color: $cta-hover;
    color: $white !important;

  }
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1rem;
    padding: .75rem 0;
  }

  &.btn-sm {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    padding: .5rem 2rem;
    @media screen and (max-width: 768px) {
      padding: .5rem 0;
    }
  }
}

a.button-cta.secondary {
  background: transparent;
  border: 2px solid $link;
  color: $link;
  font-weight: 300;
  &:hover, &:active, &:focus {
    background-color: $link;
    border-color: $link;
    color: #09131E;
  }

  &.white {
    color: $white !important;
    border-color: $white;
    &:hover, &:active, &:focus {
      background-color: $link;
      border-color: $link;
      color: #09131E !important;
    }
  }
}

form input[type="submit"] {
  border: 2px solid $quarkus-blue;
}

input {
  color: black;
}

table.tableblock {
  border-collapse: collapse;

  thead th,
  tbody th {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: white !important;
    font-weight: 400;
    text-align: left;
    padding: 1rem;
    background-color: $quarkus-blue;
    border: 1px solid $quarkus-blue;
    > p,
    > div,
    > div > span {
      color: inherit;
      margin: inherit;
      font-size: inherit;
    }
  }
  
  tbody td {
    padding: .25rem 1rem;
    border: 1px solid $quarkus-blue;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: $light-blue;
    }
    td p {
       margin: 0;
    }
  }
}

table.tableblocklightbkg {
  width: 100%;
  border-collapse: collapse;

  thead th,
  tbody th {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $white !important;
    font-weight: 400;
    text-align: left;
    padding: 1rem;
    background-color: $quarkus-blue;
    border: 1px solid $quarkus-blue;
    > p,
    > div,
    > div > span {
      color: inherit;
      margin: inherit;
      font-size: inherit;
    }
  }
  
  tbody td {
    padding: .25rem 1rem;
    color: $black !important;
    border: 1px solid $quarkus-blue;

  }

  tbody tr {
      background-color: $white;

    &:nth-child(even) {
      background-color: $light-blue;
    }
    td p {
       margin: 0;
    }
  }
}

table.configuration-reference {
  table-layout: fixed !important;
  p.tableblock {
    overflow: hidden;
    word-wrap: break-word;
  }

  .content .paragraph p {
    word-wrap: break-word;
  }
}


table.configuration-reference.tableblock > tbody { 
  
  > tr > th {
    color: $dark-blue;
  }
  > tr {
    background: transparent;
    > th:nth-child(1) { width: 70%; }
    > th:nth-child(2) { width: 15%; p { color: $quarkus-blue; } }
    > th:nth-child(3) { width: 15%; p { color: $quarkus-blue; } }
    > td {
      border: none;
    }

    > td:nth-child(2) p,
    > td:nth-child(3) p,
    > td .content p,
    > th:nth-child(2) p,
    > th:nth-child(3) p {
      font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 900px) {
    > tr {
      > td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3){
        display: none;
      }
      > th:nth-child(1) { width: 100%; }
      > th:nth-child(2) { width: 0%; }
      > th:nth-child(3) { width: 0%; }
    }
  }

  > tr.odd > td {
    background-color: $light-blue !important;
  }
}

/* this page has a white background so we put a lighter color */
body.guides-configuration-reference table.configuration-reference.tableblock tbody tr.odd td {
  background-color: #eff5fb !important;
}

mark {
  background-color: $quarkus-blue;
  color: $dark-blue;
}

dl dt {
  font-weight: 700;
}

dl dd {
  margin-top: 1rem;
}

dl dd p {
  margin: 0 0 0.5rem;
}

dl dt:not(:first-child) {
    margin-top: 1.5em;
}

/* Over gray in text */
code {
  color: #943000;
}

/* Over black in code blocks */
pre, pre span {
  color: #be9100;
}

code, pre, pre span {
  background-color: inherit;
  padding: 0;
  a {
    text-decoration: none;
    color: inherit;
    font: inherit;
  }
  font-family: 'Roboto Mono', monospace;
}

.quarkus-homepage {
 padding: 0;
}

pre {
 background: #282a36;
 overflow: inherit;
 padding: 0;
}

pre.highlight, .literalblock pre, .listingblock > .content > pre {
 border: 1px solid $quarkus-blue;
 padding: 1rem;
 line-height: 1.2em;
 overflow-x: auto;
 color: #EFEFEF;
}

pre > code,
table code {
  border: none;
  background-color: transparent;
}

.quarkus-homepage .tabs pre.highlight {
 overflow: auto;
}

.quarkus-homepage .tab {
 overflow: hidden !important;
}

hr {
  border-width: 1px;
  border-color: $quarkus-blue;
}

.full-width-bg {
  margin: 0 -13rem;
  padding: 0 13rem;
  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
    padding: 0 6rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
    padding: 0 2rem;
  }

  &.black {
    background-color: $black;
  }
  &.white {
    background-color: $white;

    h1, h2, h3, h4, h5, h6, p, span {
      color: $dark-blue;
    }
    a {
      color: $link-light-bg;
    }
  }
}

.component {
  padding-top: 4rem;
  padding-bottom: 6rem;

  &-slim {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.text-centered {
  text-align: center;
}

.text-caps {
  text-transform: uppercase;
}

.text-cyan {
  color: $quarkus-blue;
}

.hide-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

ul.dashed {
  list-style-type: none;
  > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em; 
    margin-top: 2px;
    color: $quarkus-blue;
  }
}

i.conum + b, b.conum {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hljs {
  display: inline;
  overflow: inherit;
  overflow-x: inherit;
  overflow-y: hidden;
  background: inherit;
  padding: 0;
  line-height: 1.4em;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-function,
.hljs-params {
  color: $white;
}

.hljs-keyword,
.hljs-tag, .hljs-tag .hljs-name {
  color: $link;
}

.hljs,
.hljs-subst {
  color: $gray-0;
}

.hljs-title,
.hljs-attr {
  color: $yellow;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: $orange;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: $gray-1;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  // font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: $yellow;
}

.hljs-emphasis {
  // font-style: italic;
}

li > p,
li {
 margin: 0.5em 0;
}

div.guides img {
  display: block;
  margin: auto;
  padding: 5px;
}

ol.bibliography {
    list-style: none;

}

ol.bibliography li {
    margin: 1.5em 0;
}

.justify-self {
  &-start {
    justify-self: start !important;
  }
  &-center {
    justify-self: center !important;
  }
  &-end {
    justify-self: end !important;
  }
}

.align-self {
  &-start {
    align-self: start !important;
  }
  &-center {
    align-self: center !important;
  }
  &-end {
    align-self: end !important;
  }
}

.alt-background {
  background-color: $dark-blue-alt !important;
}

.admonitionblock td.icon .icon-tip::before {
  color: $quarkus-blue;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}


// youtube responsive code

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Insights page

.streamingiconblock {
  margin: 50px auto;
  text-align: center;

h4 {
  font-weight: 800;
}

ul {
    padding-inline-start: 0px;
  }

li {
  display: inline;
  padding: 10px;

}
}

// Insights page

.full-width-imgbkg {
  margin: 0 -13rem;
  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
  }
}

// Newsletter widget home

.iframeheight {
  height: 325px;

  @media screen and (max-width: 1170px) {
    height: 400px;
  }
  @media screen and (max-width: 768px) {
    height: 475px;
  }
}

// giscus widget

.giscus {
  padding-bottom: 10px;
}
