[{"configDocKey":{"type":"string","key":".network","configDoc":"Controls the container network to be used when @QuarkusIntegration needs to launch the application in a container. This setting only applies if Quarkus does not need to use a shared network - which is the case if DevServices are used when running the test.","withinAMap":false,"defaultValue":"","javaDocSiteLink":"","docMapKey":"network","configPhase":"BUILD_TIME","acceptedValues":null,"optional":true,"list":false,"passThroughMap":false,"withinAConfigGroup":true,"topLevelGrouping":""}}]