.asciidoc-tabs-hidden {
    display: none;
}

.asciidoc-tabs-switch {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #aaa;
    display: inline-block;
}

.asciidoc-tabs-switch--item {
    padding: 10px;
    background-color: #ffffff;
    color: #1259A5;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid #aaa;
}

.asciidoc-tabs-switch--item.selected {
    background-color: #4695EB;
    color: #ffffff;
}

.asciidoc-tabs-switch ~ .content pre.highlight {
    margin-top: 0;
}
