.hidden {
    display: none;
}

.switch {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #aaa;
    display: inline-block;
}

.switch--item {
    padding: 10px;
    background-color: #ffffff;
    color: #1259A5;
    display: inline-block;
    cursor: pointer;
}

.switch--item.selected {
    background-color: #4695EB;
    color: #ffffff;
}

.switch ~ .content pre.highlight {
    margin-top: 0;
}
