.asciidoc-tabs-hidden {
    display: none;
}

.asciidoc-tabs-switch {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $grey-1;
    margin-bottom: -1px;
    display: inline-block;
}

.asciidoc-tabs-switch--item {
    padding: .75rem 2.5rem;
    background-color: $light-blue;
    color: $dark-blue-alt;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid $grey-1;
}

.asciidoc-tabs-switch--item.selected {
    background-color: $white;
    color: $dark-blue-alt;
    font-weight: 600;
    border-bottom:  1px solid $white;
}

.asciidoc-tabs-switch ~ .content pre.highlight {
    margin-top: 0;
}
