.asciidoc-tabs-hidden {
    display: none;
}

.asciidoc-tabs-switch {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--sec-background-color);
    margin-bottom: -1px;
    display: inline-block;
}

.asciidoc-tabs-switch--item {
    padding: .75rem 2.5rem;
    background-color: var(--main-background-color);
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid var(--sec-background-color);
}

.asciidoc-tabs-switch--item.selected {
    background-color: var(--sec-background-color);
    font-weight: 600;
    border-bottom:  1px solid var(--sec-background-color);
}

.asciidoc-tabs-switch ~ .content pre.highlight {
    margin-top: 0;
}
