#backToTop {
  display: inline-block;
  background-color: $quarkus-blue;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  i {
    margin-top: .5rem;
  }
}
#backToTop:hover {
  cursor: pointer;
  background-color: #333;
}
#backToTop:active {
  background-color: #555;
}
#backToTop.show {
  opacity: 1;
  visibility: visible;
}
