/* Styles for Brand Page */

.brand-band {
  .brand-block-white {
    padding: 4rem;
    background-color: $white;
    text-align: center;

    h4, a { 
    color: $black;
    }

    img {
      max-width: 12rem;
      @media screen and (max-width: $breakpoint-m) {
        max-width: 100%;
      }
    }
  }

  .brand-block-black {
    padding: 4rem;
    background-color: $black;
    text-align: center;
    
    h4, a { 
    color: $white;
    }

    img {
      max-width: 12rem;
      @media screen and (max-width: $breakpoint-m) {
        max-width: 100%;
      }
    }
  }

  .color-block-blue {
    background-color: $quarkus-blue;
    h4, p {
      color: $white;
      text-align: center;
    }
  }

  .color-block-darkblue {
    background-color: $dark-blue-alt;
    
    h4, p {
      color: $white;
      text-align: center;
    }
  }
    .color-block-red {
    background-color: $red;
    h4, p {
      color: $white;
      text-align: center;
    }
  }
    .color-block-orange {
    background-color: $orange;
    h4, p {
      color: $white;
      text-align: center;
    }
  }
    .color-block-purple {
    background-color: $purple;
    h4, p {
      color: $white;
      text-align: center;
    }
  }
     .color-block-green {
    background-color: $green;
    h4, p {
      color: $white;
      text-align: center;
    }
  }
}
