.cf-footer {
  background-color: $black;
  font-size: .75rem;
  font-weight: 200;

  .grid-wrapper { padding: 1rem 0; 

  @media screen and (max-width: 1024px) {
      padding: 1.25rem 0;
    }
    
    @media screen and (max-width: 480px) {
      padding: 1.5rem 0;
    }
  }

  .cf-logo {
    grid-column: 1/4;
    align-self: center;
    padding-right: 2rem;

    img {min-width: 200px;}

    @media screen and (max-width: 1024px) {
      grid-column: 1/6;
    }
    
    @media screen and (max-width: 480px) {
      grid-column: 1/13;
      justify-self: normal;
      order: 1;
    }
  }



  .license {
    grid-column: 4/11;
    align-self: center;
    color: $grey-1;

    i {
    color: $grey-1;
    }

    a {
      color: $grey-1;
      font-size: .75rem;
      font-weight: 200;
    }

    @media screen and (max-width: 1024px) {
      grid-column: 1/13;
      justify-self: left;
    }
    
    @media screen and (max-width: 480px) {
      grid-column: 1/13;
      justify-self: center;
      order: 2;
    }
  }

  .sponsor {
    grid-column: 11/12;
    align-self: center;
    justify-self: end;
    color: $grey-1;

    
    @media screen and (max-width: 1024px) {
      grid-column: 5/12;
      justify-self: right;
    }
    @media screen and (max-width: 480px) {
      grid-column: 1/6;
      justify-self: right;
      order: 3;
    }
  }
  .sponsor-logo {
    grid-column: 12/13;
    justify-self: end;
    align-self: center;
    img { width: 6rem; max-width: none !important;}
    @media screen and (max-width: 480px) {
      grid-column: 6/13;
      justify-self: left;
      order: 4;
    }
  }
}
