.contrib-cards {


    a, a:hover, a:focus {
      text-decoration: none;
    }

    ul.list-item {
    grid-gap: 1.5em;
    list-style: none;
    padding: 0;
    margin-top: 0;
    }

    ul.list, ul.list-item {
      list-style: none;
      padding: 0;
    }

    .card {
      border: 1px solid var(--card-outline);
      border-radius: 10px;
      padding: 1rem;
      position: relative;
      height: calc(100% - 2rem);
      grid-column: span 3;
      display: flex;
      flex-direction: row;

        @media screen and (max-width: 1300px) {
         grid-column: span 6;
        }

        @media screen and (max-width: 768px) {
          grid-column: span 12;
        }

        @media screen and (max-width: 480px) {
          grid-column: span 12;
        }

      > a {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        }

      .headshot {
        max-width: 3rem;
        max-height: 3rem;
        margin-right: .75rem;
        }

      .title {
        font-weight: 600;
        margin: 0;
        }

      .description {
        margin: 0;       
        }

      .content-highlights p {
        font-size: .7rem;
        line-height: .8rem;
        opacity: 0.8;
      }

      &:hover, &:focus {
        background-color: var(--card-background-color-hover);
        border:1px solid var(--card-background-color-hover);
      }
    }

}
