/* modification for button copy */

.btn-copy {
  font-family: FontAwesome;
  padding: 0rem;
  line-height: .5rem;
  color: $grey-4 !important;
  background-color: transparent !important;
  border: transparent !important;
  cursor: pointer;
}
.btn-copy:hover {
  color: $quarkus-blue !important;
}
.btn-copy[float-right] {
  float: right;
}

/* Avoid different line-heights when the button is used */
.inline-btn-copy {
  margin-top: 0;
  margin-bottom: 0;
}