
/* 

Styles for the documentation index page 

*/

/* ===== Filter Bar Div ======= */


.filterbar {
  background-color: $quarkus-blue;
}

.filterbarcol {
  grid-column: span 4;
    @media screen and (max-width: 1124px) {
      grid-column: span 12;}
    }


/*=============== Controls =================== */

.filterbar-dropdown {
  background-color: $white;
  color: $dark-blue;
  border: 1px solid $quarkus-blue;
  font-size: 1.3rem;
  margin: .1rem;
  padding: 0 .5rem;
}

.filterbar-dropdown option {
  color: $dark-blue-alt;
}

.filterbar-dropdown-label {
  color: $white;
  font-size: 1.3rem;
  margin-right: .5rem;
}




/*=============== Anchor Cards =================== */

.anchor-cards {
    h3 {
      margin: 0;
      padding-bottom: .5rem;
      &:not(:first-child) {
        margin-top: 3rem;
      }
    }

    a, a:hover, a:focus {
      text-decoration: none;
    }

    ul.list-item {
    grid-gap: 1.5em;
    list-style: none;
    padding: 0;
    margin-top: 0;
    }

    ul#list, ul.list-item {
      list-style: none;
      padding: 0;
    }

    .card {
      border: 1px solid $quarkus-blue;
      padding: 1rem;
      position: relative;
      height: calc(100% - 2rem);
      grid-column: span 3;

        @media screen and (max-width: 1300px) {
         grid-column: span 6;
        }

        @media screen and (max-width: 768px) {
          grid-column: span 12;
        }

        @media screen and (max-width: 480px) {
          grid-column: span 12;
        }

      > a {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        }

      .title {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        }

      .description {
        margin: 1rem 0;
        font-size: 1rem;
        line-height: 1.3rem;
        text-align: center;
        }

      .duration {
        font-style: oblique;
        margin: .5rem 0;
        font-size: .8rem;
        text-align: center;
        }

      .anchor-jump {
        margin: 0;
        text-align: center;
        .fa {
         color: $grey-1;
         }
        }
    }
}




/*=============== Documentation Main Page - docs list =================== */

.docslist {
  margin: 2rem 0;

  .doclist-header {
  border-bottom: 1px solid $grey-1;
  margin: 0 0 2rem 0;

  }

    h3 {
      margin: 0;
      padding-bottom: .5rem;
      &:not(:first-child) {
        margin-top: 3rem;
        }
      }

    .docs-card {
      height: calc(100% - 2rem);
      grid-column: span 4;
      min-height: 80px;
      margin: 1rem 0; 

        @media screen and (max-width: 1300px) {
         grid-column: span 6;
        }

        @media screen and (max-width: 768px) {
          grid-column: span 12;
        }

        @media screen and (max-width: 480px) {
          grid-column: span 12;
        }

      h4 {
        margin: 0 0 0 100px;
        padding: 0;
      }

      .description {
        margin: 1rem 0 0 100px;
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  .tutorialbkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-tutorials.svg') no-repeat;
    background-size: 80px 80px;
  }

  .guidebkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-guides.svg') no-repeat;
    background-size: 80px 80px;
  }

  .conceptbkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-concepts.svg') no-repeat;
    background-size: 80px 80px;
  }

  .referencebkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-referencedocs.svg') no-repeat;
    background-size: 80px 80px;
  }
}
