body.guides,
body.post {
  .navigation-wrapper {
    background-color: $black;
  }
}

.navigation-wrapper {
  padding: 0 13rem;
  @media screen and (max-width: 1170px) { padding: 0 6rem; }
  @media screen and (max-width: 480px) { padding: 0 2rem; }
  @media screen and (max-width: 768px) { padding: 0 1.2rem; }
}

.header.navigation {
  .logo-wrapper {
    display: inline-block;
    margin-top: 1.2rem; 
    width: 13rem;
  }
  .nav-container {
    a {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: $white;
      font-weight: 300;
      height: 55px;
      &:hover {
        border-bottom: 4px solid $white;
      }
      &.active{
        color: $white;
        border-bottom: 4px solid $red;
      }
      &.button-cta {
        height: auto;
        text-transform: uppercase;
        &:hover{
          color: $white;
          border: 2px solid $quarkus-blue;
          background-color: $quarkus-blue;
          box-shadow: none;
        }
      }
    }
    nav {
      padding-top: 0;
    }
    .nav-list li {
      margin: 0;
    }

    .nav-mobile {
      top: 0;
    }
  }
  @media screen and (max-width: 1300px) {
    .nav-container a {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 0;

    .logo-wrapper {
      margin-top: 1rem; 
    }
    .nav-container {
      display: block;

      a, 
      a.active,
      a:hover,
      a:focus,
      a:active {
        border-bottom: none;
        color: $dark-blue;
      }

      nav {
        width: 300px;
      }
      .nav-list {
        background-color: $quarkus-blue;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        left: 0;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-mobile {
      right: 6rem;
    }
  }
  @media screen and (max-width: 768px) {
    .nav-list {
      left: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .logo-wrapper {
      margin-top: 1.5rem;
      .project-logo {
        max-width: 10rem;
      }
    }
  }
}
.navigation-wrapper {
  margin: 0 0 6rem 0;
}
