@mixin position($pos: relative, $top: null, $right: null, $bottom: null, $left: null) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

body.guides,
body.guides-configuration-reference,
body.post,
body.books, {
  .nav-wrapper {
    background-color: $black;
  }
}

div.nav-wrapper {
  padding: 0 13rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 1170px) { padding: 0 6rem; }
  @media screen and (max-width: 768px) {
    padding: 0 2rem;
    margin: 0;
  }
}

.main-nav {
  position: relative;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .container {
    padding-top: 1rem;
  }

  a {
    color: $white;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    &.active:not(.button-cta){
      color: $white;
      font-weight: 600;
      position: relative;
    }
  }

  a.button-cta.secondary.white {
    margin: 0 .5rem;
    padding: 0 1rem;
    color: $white;
  }

  .logo-wrapper {
    display: inline-block;
    width: 13rem;
    height: 40px;
    z-index: 0;

    a {
      padding: 0;
    }

    @include position;
  }

  .menu {
    background: #09131ef2;
    display: none;
    list-style: none;

    padding: 16px 0 32px 0;
    text-align: center;
    z-index: 1;

    @include position(absolute, 85px, 0, null, 0);

    span {
      display: block;
      width: fit-content;
      height: 32px;
      margin: 16px auto;
    }

    a:not(.button-cta) {
      display: block;
      &:hover {
        border-bottom: 4px solid $white;
      }
    }
  }

  .nav-toggle {
    display: inline-block;
    font-size: 1.7em;
    float: right;
    user-select: none;
    -webkit-user-select: none;
    i {
      color: $white;
      vertical-align: middle;
      cursor: pointer;

      &:hover, &:focus, &:active {
        color: #a9c5e2;
      }
    }
  }
}

#checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;

  &:checked ~ nav .menu {
    display: block;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1450px) {
  .main-nav {
    .logo-wrapper {
      display: block;
    }
    .menu {
      float: none !important;
      a { font-size: 1.2rem; }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-nav {
    overflow: hidden;
    .nav-toggle {
      display: none;
    }

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .logo-wrapper {
      margin: 16px auto;
    }

    .menu {
      display: block;
      padding: 0;
      margin: 1rem 0;
      box-shadow: none;
      border: none;
      float: right;
      background-color: transparent;

      @include position(static);

      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }

      a {
        padding: 0 10px 10px 10px;
      }

      a:not(.button-cta) {
        &.active {
          font-weight: 300;
          border-bottom: 4px solid $red;
        }
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .main-nav {
    padding-bottom: 0;
  }
}
