.homepage-dev-ui-band {
  color: var(--main-text-color);
  padding: 4rem 2rem;
  border-top: 1px solid var(--card-outline);

  h3 {
    font-size: 2.5rem;
    color: var(--heading-color);
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    color: var(--main-text-color);
    margin-bottom: 3rem;
  }


  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    place-items: center;
  }

  .contrib-block {
    height: 100% !important;
    max-height: 350px;
    background: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin: 0;
    border: 1px solid var(--card-outline);

    .image-container {
      width: 100%;
      height: 150px !important;
      overflow: hidden;
      border-bottom: 2px solid var(--link-color);
      flex: 1;
      flex-shrink: 0;

    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .content {
      padding: 1.5rem;
      background: var(--tile-background-color);
      flex: 1;
      flex-grow: 1;
      justify-content: center;


      h3 {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--tile-text-color);
        margin-bottom: 1rem;
        white-space: nowrap;
        overflow: hidden;
        font-size: clamp(1.2rem, 2vw, 1.4rem);
      }

      p {
        font-size: 1rem;
        color: var(--main-text-color);
        line-height: 1.5;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }

    }

  }

  @media screen and (max-width: 1024px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }

    .contrib-block {
      max-width: 250px;

      .image-container {
        height: 130px;
      }

      .content {
        padding: 1.2rem;

        h3 {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.95rem;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .contrib-block {
      max-width: 100%;

      .image-container {
        height: 120px;
      }

      .content {
        padding: 1rem;

        h3 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}