.homepage-content-band {

  h2 {
    text-transform: uppercase;
    font-weight: 600;
  }

  .block-image,
  .block-content{
    align-self: center;

    .img-md {
      max-width: 100%;
    }
  }

  img {
    margin-top: 2rem;
  }
}

.alt-background {
  background-color: var(--blue-background-color);
}

.alt-background-dark {
  background-color: var(--title-background-color);

  h2, a, p, i {
  color: $white;
  }
}

.alt-background-black {
  background-color: #000000;

  h2, h3, h4, h5, h6, a, p, span, i {
    color: #ffffff;
  }
}