.homepage-hero-band {
  padding-bottom: 6rem;
  margin: 10rem auto 6rem auto;

  h2, p {
    margin: 1rem 0;
  }

  .project-logo {
    max-width: 24rem;
  }

  &-lcontent {
    text-align: center;
    padding-right: 3rem;
  }

  &-rcontent {
    border-left: 1px solid white;
    padding-left: 3rem;
    h3 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 600;
      line-height: 3rem;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
    }
    p {
      text-transform: uppercase;
      font-size: 2rem;
      margin: 1rem 0 1.5rem 0;
      line-height: 2rem;
    }
  }

  &-cta {
    margin-top: 3rem;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    margin: 3rem auto 0 auto;

    &-lcontent {
      padding-right: 0;
    }
    &-rcontent {
      padding-left: 0;
      border-left: none;
      border-top: 1px solid white;
      text-align: center;
    }
  }

  .scroll-down {
    margin: 3rem auto 0 auto;
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);
    
    &:before {
      transform: rotate(-45deg);
      display: block;
      width: 25px;
      height: 25px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
    }
  }

}
