.homepage-content-band {

  h2 {
    text-transform: uppercase;
    font-weight: 600;
  }

  .block-image,
  .block-content{
    align-self: center;

    .img-md {
      max-width: 100%;
    }
  }

  img {
    margin-top: 2rem;
  }
}

.alt-background {
  background-color: var(--blue-background-color);
}

.alt-background-dark {
  background-color: var(--title-background-color);

  h2, a, p, i {
  color: $white;
  }
}