.homepage-content-band {
  background-color: rgba(0, 0, 0, 0.80);

  h2 {
    text-transform: uppercase;
    font-weight: 600;
  }

  .block-image,
  .block-content{
    align-self: center;

    .img-md {
      max-width: 100%;
    }
  }

  img {
    margin-top: 2rem;
  }
}
