.homepage-features-band {
  .contrib-block img {
    max-width: 14rem;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .contrib-block {
      flex: 0 0 calc(30% - 60px);
      padding: 30px;
    }
  }
}
