.homepage-hero-band {
  padding-bottom: 6rem;
  margin: 6rem auto;

  .title-band {
    text-align: center;
    margin-bottom: 2rem;
    h1 {
      text-transform: uppercase;
    }
    p {
      margin: 2rem auto;
      font-size: 1.2rem;
      max-width: 850px;
    }
  }

  .project-logo {
    margin-bottom: 2rem;
  }

  &-lcontent {
    border-right: 1px solid $white;
    align-self: center;

    .img-wrapper {
      a {
        line-height: 0;
        display: block;
      }
      max-width: 300px;
      margin: 0 6rem 0 auto;
      border: 1px solid $white;
    }
  }

  &-rcontent {
    padding-left: 5rem;
    align-self: center;
    h3 {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 600;
      line-height: 3rem;
      margin-top: .5rem;
    }
    p {
      font-size: 1.5rem;
      margin: .5rem 0;
    }
  }

  &-scroll {
    margin-top: 3rem;
  }

  .button-cta {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .scroll-down {
    margin: 3rem auto 0 auto;
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);
    
    &:before {
      transform: rotate(-45deg);
      display: block;
      width: 25px;
      height: 25px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
    }
  }
  @media screen and (max-width: 992px) {
    margin: 3rem auto 0 auto;

    .homepage-hero-band-lcontent,
    .homepage-hero-band-rcontent {
      grid-column: span 12;
    }

    &-lcontent {
      padding: 2rem 0;
      border-right: none;
      .img-wrapper {
        margin: 0 auto;
      }
    }
    &-rcontent {
      padding: 2rem 0;
      border-top: 1px solid white;
      text-align: center;
    }
  }

  @media screen and (min-width: 1300px) {
    padding: 0 4rem;
  }
}
