.homepage-callout {
  background-color: $dark-blue-alt !important;

  .quote-image {
      display: flex;
      justify-content: center;
  }

  .quote-spacer {
  padding-top: 4rem;
  }


  .callout-icon {
    justify-self: right !important;
    padding-right: 2rem;

    @media screen and (max-width: 768px) {
    justify-self: center !important;
    padding: 0 0 2rem 0 !important;
    }

    i {
    color: $quarkus-blue;
    }
  }

  .callout-quote {
    color: $light-blue;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 0 !important;
  }

  .callout-credit {
    font-size:  1.25rem;
    font-style: italic;
  }

  .callout-links {
    margin: 0 !important;
  }



}
