.homepage-hero-band {

  .home-hero {
    text-align: center;
    padding-bottom: 4rem;
    margin: 8rem auto;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }

    p {
      max-width: 550px;
      margin: 1rem auto 3rem auto;
    }
  }
}