.homepage-features-band {
  background-color: $black !important;

  .contrib-block img {
    max-width: 14rem;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .contrib-block {
      flex: 0 0 calc(30% - 60px);
      padding: 30px;

        @media screen and (max-width: 768px) {
        flex: 0 0 100%;
        padding: 30px;
        }

    }
  }
}
