.image-header-centered {
  background-image: url(/assets/images/1kcontributors/header_1kcontributors.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $black;
  margin: 0 -13rem;
  display: flex;
  justify-content: center;

  img {
  width: 33%;
  padding: 2rem 0;
  }

  @media screen and (max-width: 1366px) {
    margin: 0 -4rem;

    img {
    width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
    
    img {
    width: 60%;
    }
  }
}
