.communitysite {
  background-color: $dark-blue-1;
  text-align: center;
  padding: 1rem 13rem;

  @media screen and (max-width: 768px) {
    padding: 1rem 2rem;
    }

  * {  color: $white; }
  a {
  font-weight: 600;
  &:hover, &:active, &:focus {
  color: $light-blue;
  }
 }
}