.recent-posts-band {

  .block-item {
    background-color: $dark-blue-1;
    padding: 2rem;
    margin: .5rem 0;

    h6 > a {
      color: $white !important;
      font-family: inherit;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .datetag {
    color: $white !important;
    font-size: .75rem;
    margin: 0;
    padding: 0;
    }

    .byline {
    color: $white !important;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    }
  }
}
