.springtitle-band {
    @extend .full-width-bg;
    @extend .component;
    @extend .alt-background;
    background: url($baseurl + '/assets/images/spring/bg-titlespring.jpg') repeat-x !important;
    position: relative;
    padding-bottom: 3rem;

    @media screen and (max-width: 768px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    }

    H1, H3 {
    color: $white;
    }
}

.imagetext-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem 0;

    .imagetext-image {
    flex: 1;
    align-self: center;

    }

    .imagetext-text {
    flex: 2;
    padding-right: 2rem;
    }

    h5 {
    margin-top: 0;
    }
}

.imagetext-container:last-child {
  padding: 0rem;
}

.imagereducer {
  display: block;
  width: 60% !important;
  margin: auto !important;
  transform: rotate(-20deg);
}

@media (max-width: 800px) {
  .imagetext-container {
    flex-direction: column;

    .imagetext-image {
    align-self: auto;
    }

    .imagetext-text {
    padding-right: 0;
    }
  }

  .imagereducer {
    transform: none;
  }
}


