.whitecard-outline {
background-color: $white;
outline: 1px solid $gray-1;
padding: 1rem;
position: relative;
height: calc(100% - 2rem);
grid-column: span 3;

  @media screen and (max-width: 1124px) {
  grid-column: span 4;
  }

  @media screen and (max-width: 768px) {
  grid-column: span 12;
  }

  @media screen and (max-width: 480px) {
  grid-column: span 12;
  }

	small {
	color: $dark-blue;
	}
}

.whitecard {
background-color: $white;
padding: 1rem 1rem 1rem 0rem;
position: relative;
height: calc(100% - 2rem);
grid-column: span 3;

  @media screen and (max-width: 1124px) {
  grid-column: span 4;
  }

  @media screen and (max-width: 768px) {
  grid-column: span 12;
  }

  @media screen and (max-width: 480px) {
  grid-column: span 12;
  }

	small {
	color: $dark-blue;
	}
}


/*=============== Full Clickable Cards =================== */

.click-cards {

    h3 {
      margin: 3rem 0rem 1rem;
      padding-bottom: .5rem;
      &:not(:first-child) {
        margin-top: 3rem;
      }
    }

    a, a:hover, a:focus {
      text-decoration: none;
    }

    ul.list-item {
    grid-gap: 1.5em;
    list-style: none;
    padding: 0;
    margin-top: 0;
    }

    ul#list, ul.list-item {
      list-style: none;
      padding: 0;
    }

    .card {
      border: 1px solid $gray-1;
      border-radius: 10px;
      padding: 1rem;
      position: relative;
      height: calc(100% - 2rem);
      grid-column: span 3;

        @media screen and (max-width: 1300px) {
         grid-column: span 6;
        }

        @media screen and (max-width: 768px) {
          grid-column: span 12;
        }

        @media screen and (max-width: 480px) {
          grid-column: span 12;
        }

      > a {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        }

      .title {
        font-size: 1.25rem;
        font-weight: 600;
        }

      .description {
        margin: 1rem 0 1.5rem 0;
        font-size: 1rem;
        line-height: 1.3rem;
        }
        
      .metatext {
        margin: 0;
        font-size: .7rem;
        line-height: 1.1rem;
        }

      &:hover, &:focus {
        background-color: $light-blue;
        border:1px solid $light-blue;
      }
    }

    .card-static {
      border: 1px solid $gray-1;
      border-radius: 10px;
      padding: 1rem;
      position: relative;
      height: calc(100% - 2rem);
      grid-column: span 3;

        @media screen and (max-width: 1300px) {
         grid-column: span 6;
        }

        @media screen and (max-width: 768px) {
          grid-column: span 12;
        }

        @media screen and (max-width: 480px) {
          grid-column: span 12;
        }

      > a {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        }

      .title {
        font-size: 1.25rem;
        font-weight: 600;
        }

      .description {
        margin: 1rem 0 1.5rem 0;
        font-size: 1rem;
        line-height: 1.3rem;
        }
        
      .metatext {
        margin: 0;
        font-size: .7rem;
        line-height: 1.1rem;
        }
    }

}
