.whitecard-outline {
background-color: $white;
outline: 1px solid $gray-0;
padding: 1rem;
position: relative;
height: calc(100% - 2rem);
grid-column: span 3;

  @media screen and (max-width: 1124px) {
  grid-column: span 4;
  }

  @media screen and (max-width: 768px) {
  grid-column: span 12;
  }

  @media screen and (max-width: 480px) {
  grid-column: span 12;
  }

	small {
	color: $dark-blue;
	}
}

.whitecard {
background-color: $white;
padding: 1rem 1rem 1rem 0rem;
position: relative;
height: calc(100% - 2rem);
grid-column: span 3;

  @media screen and (max-width: 1124px) {
  grid-column: span 4;
  }

  @media screen and (max-width: 768px) {
  grid-column: span 12;
  }

  @media screen and (max-width: 480px) {
  grid-column: span 12;
  }

	small {
	color: $dark-blue;
	}
}