body.post {
  background: #E7E8EA;

  div.post-page {
    * {
      color: $dark-blue-alt;
    }

    a {
      color: $link-light-bg;
      &:hover, &:active, &:focus {
        color: $link-hover;
      }
    }

    pre {
      background-color: $white;
    }
  }
}
.blog-page {
  .blog-list-item {
    margin-bottom: 5rem;
    p {
      margin: 0;
    }

    .post-title {
      a {
        font-size: 1.5rem;
      }
    }
  }
  .fa-rss-square {
    font-size: 2rem;
    color: #ee802f;
    float: right;
    &:hover {
      color: darken( #ee802f, 10%);
    }
  }
}

.blog-page, .post-page {
  .byline-wrapper {
    display: flex;
    align-items:center;
  }
  .headshot, .byline {
    display: inline;
  }
  .headshot {
    max-width: 4rem;
    margin-right: .5rem;
  }
  .share-page {
    text-align: right;
  }
  small {
    font-size: 14px;
  }
}

.post-page {
  .byline-wrapper {
    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: $breakpoint-m) {
  .blog-list-item .share-page {
    text-align: left;
  }
  .blog-page p.byline {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
.blog-page,
.post-page {
  padding-bottom: 6rem;
}
