body.post {
  background: $white;

  div.post-page {
    h1, h2, h3, h4, h5, h6, p, small, strong, em,
    table tr th, table tr td, li, i, dt, .title, .paragraph, .footnote, b {
      @media only screen and (max-width: 768px) {
        word-wrap: break-word;
      }
    }
    h1, h2, h3, h4, h5, h6, p, blockquote,
    table tr th, table tr td, li, dt, .title, .paragraph, .footnote, b {
      color: $dark-blue-alt;
    }
    small, strong, em, i {
      color: inherit;
    }
    h1 {
      margin-top: 20px;
    }
    .byline {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    .note, .colist {
      overflow: auto;
    }
    .post-date {
      color: $dark-blue-alt;
      text-align: left;
      font-size: 1rem;
    }
    .headshot {
      max-width: 4rem;
      margin-right: 1rem;
    }
    .line-through{ color: $dark-blue-alt; text-decoration:line-through}

    .post-title {
      margin: 1.5rem 0;
    }
    .tags {
      a {
        display: inline-block;
        margin-left: .5rem;
      }
    }
  }

  .bibliography {
    a {
      font-weight: 600;
    }
  }
}
.blog-page {
  
  .blog-list-item {
    margin-bottom: 2rem;
    p {
      margin: 0;
    }
    .headshot {
      max-width: 2rem;
      margin-right: .5rem;
    }
    .post-title {
      a {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
    .tags {
      margin-left: 1.5rem;
      a {
        display: inline-block;
        margin-left: .5rem;
      }
    }
    &:not(:last-child):after {
      content: "";
      display: block;
      border-bottom: 2px solid $grey-0;
      height: 1rem;
      grid-column: 5 / span 4;
      @media screen and (min-width: $breakpoint-m) {
        grid-column: 6 / span 3;
      }
    }
  }


  .tags-label {
    margin-top: 0;
  }
  .fa-rss-square {
    font-size: 2rem;
    color: $orange;
    margin: 0 0 1rem 0;

    &:hover {
      color: darken( #ee802f, 10%);
    }
  }
  .paginator-btns a:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.blog-page, .post-page {
  p.byline {
    font-size: 1rem;
  }

  .byline-wrapper {
    display: flex;
    align-items:center;
  }
  .headshot, .byline {
    display: inline;
  }
  .share-page {
    text-align: right;
  }
  small, .small {
    font-size: 14px;
  }
}

.post-page {

  .byline-wrapper {
    p {
      margin: 0;
    }
  }
  .customer-logo {
    text-align: center;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .blog-list-item .share-page {
    text-align: left;
  }
  .blog-page p.byline {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .post-page .doc-content {
    padding-top: 20px;
  }
}

.blog-page {
  padding: 2.5rem 0 6rem 0;
  padding-bottom: 6rem;
}

.post-page {
  padding: 2.5rem 0;
}
