.books-band {

  .book {
    margin-bottom: 4rem;

    @media screen and (min-width: 1124px) {
      .grid-wrapper {
        grid-gap: 2em;
      }
    }
    @media screen and (max-width: 992px) {
      grid-column: span 12;
    }
  }
  .img-wrapper {
    grid-column: span 4;
    @media screen and (max-width: 1124px) {
      grid-column: span 6;
    }
    @media screen and (max-width: 480px) {
      grid-column: span 12;
    }
  }
  .info-wrapper {
    grid-column: span 8;
    @media screen and (max-width: 1124px) {
      grid-column: span 6;
    }
    @media screen and (max-width: 480px) {
      grid-column: span 12;
    }
  }
}
