.dev-ui-section {
  padding: 2rem 1rem;

  h3 {
    font-size: 1.8rem;
    color: var(--heading-color);
    margin-bottom: 1rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
    color: var(--main-text-color);
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;

    img {
      max-width: 80%;
      height: auto;
      border: 1px solid var(--card-outline);
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.9rem;
    }

    .image-container img {
      max-width: 100%;
    }
  }
}
