/* 

Styles for the documentation index page 

*/



/*===============  Documenation Filter bar & Guide Bar div styles =================== */


.flexfilterbar {

  .flexcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  }

  .guideflexcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  }
  .flexlabel {
  white-space: nowrap;
  }

  label {
  color: $white;
  }

  .pulldown, .guidepulldown, .docslink {
  flex: 1 0 150px;
  position: relative;
  display:flex;
  
    select {
    flex: 1 0 150px;
    background-color: $white;
    color: $dark-blue-alt;
    border: 1px solid $quarkus-blue;
    padding: .5rem;
    height: 100%;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -webkit-appearance: none;

    option {
      color: $dark-blue-alt;
      }
    }
  }

  .docslink {
  flex: 1 0 100px;
  position: relative;
  }

  .version:after,
  .category:after {
      font-family:"Font Awesome 5 Free";
      font-style:normal;
      font-weight:900;
      position: absolute;
      z-index: 0;
      pointer-events: none;
      content:"\f078";
      font-size: .8rem;
      right: .5rem;
      top: .6rem;
    }

  .pulldown select {
  width:100%;
  }

  .search {
  flex: 2 0 400px;
  position: relative;
  }

  .search input {
  width: 100%;
  color: $dark-blue-alt;
  padding: 0.5rem 0.5rem 0.5rem 1.8rem;
  margin: 0;
  display: inline-block;
  border: 1px solid $quarkus-blue;
  box-sizing: border-box;
  }

  .search:after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    position: absolute;
    z-index: 0;
    font-size: .8rem;
    left: 0.6rem;
    top: 0.6rem;
    pointer-events: none;
    }

  input {
  border-radius: 0;
  }

  input[type="search"] {
  -webkit-appearance: none;
  }

.returnlink {
  color: $white;
  padding-left: 1.3em;
  flex: 1 0 Auto;
  position: relative;
  }

 .returnlink:before {
  font-family:"Font Awesome 5 Free";
  font-style:normal;
  font-weight:900;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  content:"\f053";
  font-size: .8rem;
  left: .5rem;
  top: .1rem;
  }

  @media only screen and (max-width: 1244px) {
    
    .flexlabel {
      display: none;
    }

    .version:before,
    .category:before {
      font-family:"Font Awesome 5 Free";
      font-style:normal;
      font-weight:900;
      position: absolute;
      z-index: 0;
      pointer-events: none;
    }

    .category select {
      padding-left: 1.7rem;
    }

    .category:before {
      content:"\f0b0";
      font-size: .8rem;
      left: .5rem;
      top: .55rem;
    }

    .version select {
      padding-left: 1.7rem;
    }
    .version:before {
      content:"\f126";
      font-size: .8rem;
      left: .7rem;
      top: .5rem;
    }
  }

  @media (max-width: 924px) {

  .flexcontainer {
    flex-direction: column;
    align-items: stretch;
  }

  .guideflexcontainer {
    flex-direction: row;
    align-items: center;

  }

  .flexlabel {
      display: none;
    }
  
  .search, .pulldown, .guidepulldown, .returnlink, .docslink {
    flex-basis: auto;
    }
  }

}




/*=============== Documentation Main Page - docs list =================== */

.docslist {
  margin: 2rem 0;

  .doclist-header {
    border-bottom: 1px solid $grey-1;
    margin: 0 0 2rem 0;
  }

  h3 {
    margin: 0;
    padding-bottom: .5rem;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  .docs-card {
    height: calc(100% - 2rem);
    grid-column: span 4;
    min-height: 80px;
    margin: 1rem 3rem 1rem 0rem;
    position: relative;

    @media screen and (max-width: 1300px) {
      grid-column: span 6;
    }

    @media screen and (max-width: 768px) {
      grid-column: span 12;
      margin: 1rem 0rem 1rem 0rem;
    }

    @media screen and (max-width: 480px) {
      grid-column: span 12;
    }

    h4 {
      margin: 0 0 0 90px;
      padding: 0;
    }

    .description {
      margin: 1rem 0 0 90px;
      font-size: 1rem;
      line-height: 1.3rem;

      p:last-child {
        margin-bottom: .5rem;
      }
    }

    &.quarkiverse .origin {
      padding-left: 120px;
      text-align: left;
      position: relative;
    }
    &.quarkiverse .origin:before {
      display: inline-flex;
      content: '';
      background-image: url('/assets/images/quarkiverse_icon_default.svg');
      background-size: 25px 25px;
      height: 25px;
      width: 25px;
      position: absolute; 
      left: 90px;
    }
  }

  .tutorialbkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-tutorials.svg') no-repeat;
    background-size: 80px 80px;
  }

  .guidebkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-guides.svg') no-repeat;
    background-size: 80px 80px;
  }

  .conceptbkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-concepts.svg') no-repeat;
    background-size: 80px 80px;
  }

  .pdfbkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-pdf.svg') no-repeat;
    background-size: 80px 80px;
  }

  .referencebkg {
    background: url($baseurl + '/assets/images/documentation/docsicon-referencedocs.svg') no-repeat;
    background-size: 80px 80px;
  }
}

#docs {
  .guides:not(.empty) .empty-list {
    visibility: hidden;
    opacity: 0;
  }
  
  .guides.empty .empty-list {
    opacity: 1;
    visibility: visible;
    padding: 2rem;
  }
}
