.error-page {
  background-image: url($baseurl + '/assets/images/bg-404.png');
  background-size: 100%;
  background-color: $dark-blue;
  @media screen and (max-width: $breakpoint-m) {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .error-page-content {
    text-align: center;
    max-width: 600px;
    margin: 12rem auto;
    @media screen and (max-width: $breakpoint-m) {
      margin: 0 auto 6rem auto;
    }
    .message {
      align-self: center;
    }
    h1 {
      text-transform: uppercase;
      font-weight: 300;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      font-weight: 300;
    }
  }
}
