.error-page {
  background-image: url(/assets/images/bg-404.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $dark-blue;
  @media screen and (max-width: $breakpoint-m) {
    background-repeat: repeat-y;
    background-size: contain;
  }
  .error-page-content {
    text-align: center;
    max-width: 500px;
    margin: 12rem auto;
    @media screen and (max-width: $breakpoint-m) {
      margin: 0 auto 6rem auto;
    }
    .message {
      align-self: center;
    }
    h1 {
      text-transform: uppercase;
      color: $cyan;
      font-weight: 300;
    }
    p {
      font-weight: 300;
      text-align: right;
    }
  }
}
