.extensions-page {
  margin-bottom: 6rem;

  .cat-extensions {
    margin-bottom: 6rem;
  }
  .ext-row {
    margin-bottom: 2rem;
    h3, p {
      margin: .5rem 0;
      &.description {
        margin: 1rem 0;
      }
    }
  }
  .toc {
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
    }
  }
}
