.get-started {
  .gs-header {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid $quarkus-blue;

    h1 {
      margin-bottom: 4rem;
    }
    
    .gs-item {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 1em;
      clear: both;
    }

    .number {
      grid-column: span 2;
      justify-self: center;
      div {
        color: $dark-blue;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: $white;
        border-radius: 38px;
        padding: 12px;
      }
    }
    .text {
      align-self: center;
      grid-column: span 10;
    }
  }

  .toc {
    h3 {
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
    }
  }

  .gs-content {
    p, p > a {
      margin: 1rem 0;
    }
    ul {
      margin-top: 0;
      margin-bottom: 2rem;
    }
    .guide-item {
      margin-bottom: 6rem;
    }
  }
}

.get-started-lightblue {
background-color: $quarkus-blue;


  .gs-header {
    
    .gs-item {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 1em;
      clear: both;
    }

    .number {
      grid-column: span 2;
      justify-self: center;
      div {
        color: $dark-blue;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: $white;
        border-radius: 38px;
        padding: 12px;
      }
    }
    .text {
      align-self: center;
      grid-column: span 10;
    }

    a {
    color: $white;
    }
  }
  }
