.get-started-steps {

  h2.step {
    margin-top: 4rem;
    white-space: nowrap;
    color: $quarkus-blue;
  }

  .step-no {
    font-weight: 900;
    font-size: 6rem;
  }

  ol {
    padding-left: 16px;
  }

}
