body.guides div.guide,
body.guides-configuration-reference div.guides-configuration-reference {
  padding-bottom: 6rem;

  h1, h2, h3, h4, h5, h6, p, small, strong, em,
  table tr th, table tr td, li, i, dt, .title, .paragraph, .footnote {
    @media only screen and (max-width: 768px) {
      word-wrap: break-word;
    }
  }
  h1, h2, h3, h4, h5, h6, p, blockquote,
  table tr th, table tr td, li, dt, .title, .paragraph, .footnote, .icon {
    color: var(--main-text-color);
  }
  small, strong, em, i {
    color: inherit;
  }
  .note, .colist {
    overflow: auto;
  }
  .line-through{ color: var(--main-text-color); text-decoration:line-through}

  .tocwrapper {
  display: flex;
  }

  .toc {
    position: sticky;
    top: 1rem;
    padding: 1rem 1.5rem 1rem 0rem;
    margin: 1rem;
    background-color: var(--sec-background-color);
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    width: 100%;
    align-self: start;


    ul {
      list-style: none;
    }
    a {
       text-decoration: none;
       &:hover {
         text-decoration: underline;
       }
    }

    &:empty {
      display: none;
    }
  }

  hr {
    border:solid $grey-2;border-width:1px 0 0;clear:both;margin:1.25em 0 1.1875em;height:0
  }

  .relations {
    h3 {
      margin-top: 0.5rem;
    }
  }

  ul.related-content li {
    list-style-type: none;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      height: 25px;
      width: 25px;
      margin-left: -35px;
      margin-right: 0.7rem;

      &.tutorial {
        background: url($baseurl + '/assets/images/documentation/docsicon-tutorials.svg') no-repeat;
      }

      &.guide {
        background: url($baseurl + '/assets/images/documentation/docsicon-guides.svg') no-repeat;
      }

      &.concept {
        background: url($baseurl + '/assets/images/documentation/docsicon-concepts.svg') no-repeat;
      }

      &.pdf {
        background: url($baseurl + '/assets/images/documentation/docsicon-pdf.svg') no-repeat;
      }

      &.reference {
        background: url($baseurl + '/assets/images/documentation/docsicon-referencedocs.svg') no-repeat;
      }
    }
  }
}
