body.guides div.guide,
body.guides-configuration-reference div.guides-configuration-reference {
  padding-bottom: 6rem;

  h1, h2, h3, h4, h5, h6, p, small, strong, em,
  table tr th, table tr td, li, i, dt, .title, .paragraph, .footnote {
    @media only screen and (max-width: 768px) {
      word-wrap: break-word;
    }
  }
  h1, h2, h3, h4, h5, h6, p, blockquote,
  table tr th, table tr td, li, dt, .title, .paragraph, .footnote, .icon {
    color: #0D1C2C;
  }
  small, strong, em, i {
    color: inherit;
  }
  .note, .colist {
    overflow: auto;
  }
  .line-through{ color: #0D1C2C; text-decoration:line-through}
  a, .description-decoration, .description-decoration span{
    color: $link-light-bg;
    &:hover, &:active, &:focus {
      color: $link-hover;
    }
  }
  .toc {
    float: right;
    width: 350px;
    padding-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: $white;
    word-wrap: break-word;
    ul {
      list-style: none;
    }
    a {
       text-decoration: none;
       &:hover {
         text-decoration: underline;
       }
    }

    &:empty {
      display: none;
    }
  }

  hr {
    border:solid $grey-2;border-width:1px 0 0;clear:both;margin:1.25em 0 1.1875em;height:0
  }
}
