.guides-configuration-reference {
  background: $white;
}

div.guides,
div.guides-configuration-reference {
  padding-bottom: 6rem;

  .toc {
    h3 {
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
    }
  }

  .guides-content {
    p, p > a {
      margin: 1rem 0;
      @media screen and (max-width: 768px) {
        margin: 2rem 0;
      }
    }
    ul {
      margin-top: 0;
      margin-bottom: 2rem;
    }
    .guide-item {
      margin-bottom: 6rem;
    }
  }

  li p {
    margin: 0;
  }
}

.guides {

  .callout-wrapper {
    @media screen and (max-width: 1124px) {
      grid-column: span 12;

      .col-link {
        top: 10px;
        position: relative;
      }
    }
  }

  .callout {
    border: 1px solid $grey-1;
    padding: 1.5rem;
    h3 {
      margin: 0;
    }

    .col {
      grid-column: span 6;
      @media screen and (max-width: 1124px) {
        grid-column: span 12;
      }

      &-icon {
        font-size: 2.5rem;
        float: left;
        margin-right: 1rem;
        margin-top: 5px;
      }

      &-link {
        max-width: 200px;
      }

      &-icon i, &-link {
        color: $link;
        &:hover, &:focus {
          color: $link-hover;
        }
      }

    }

    a, a i {
      color: $link;
      &:hover, &:focus {
        color: $link-hover;
      }
    }
  }

  .cat-list-label {
    justify-self: end;
    align-self: center;
    h3 {
      margin: 0;
    }

    @media screen and (max-width: 768px) {
      justify-self: start;
      align-self: start;
    }
  }
  
  .guide-categories {
    margin: 0 1rem 0 0;

    h3 { 
    margin: 0;

    }
    ul{
      padding-left: 0;
      margin: 1rem 0 0 0;
      li {
        list-style: none;
        display: inline-block;
        padding-left: 0;
        margin: 0;
        &:not(:last-child) {
          &:after {
            content: "|";
            margin: 0 5px;
          }
        }
      }
    }
  }
}


/*=============== Styles for Guides Search Results =================== */


.guides {

  ul#list > li {
    margin-bottom: 3rem;
  }

  .empty-item {
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease;
  }

  .empty .empty-item {
    transition-property: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
    transition-timing-function: ease;
  }

  .hidden {
    display:none;
  }

  .empty-list {
    visibility:hidden;
    opacity:0;
  }

  .empty ~ .empty-list {
    opacity:1;
    visibility:visible;
    padding: 2rem;
    background: $yellow;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    text-align: center;
  }

  .categories,
  .keywords {
    display:none;
  }

  .origin {
    font-size: 0.8rem;
    text-align: right;
  }

  .origin img {
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-right: 3px;
  }
}




