.guides-index, body.guides {
  background-image: url($baseurl + '/assets/images/bg-getting-started.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

div.guides {
  margin-bottom: 6rem;

  .toc {
    h3 {
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
    }
  }

  .guides-content {
    p, p > a {
      margin: 1rem 0;
      @media screen and (max-width: 768px) {
        margin: 2rem 0;
      }
    }
    ul {
      margin-top: 0;
      margin-bottom: 2rem;
    }
    .guide-item {
      margin-bottom: 6rem;
    }
  }

    li p {
      margin: 0;
    }
}
