// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.homepage {
  background-image: url($baseurl + '/assets/images/bg-home.png');
  background-repeat: no-repeat;
  background-size: 100%;

  p {
    margin: 2rem 0;
  }

}
