// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.homepage {
  background-image: url($baseurl + '/assets/images/bg-home.png');
  background-repeat: no-repeat;
  background-size: 100%;

  p {
    margin: 2rem 0;
  }

  .code {
    &-item {
      background-color: $white;
    }
    &-label {
      background-color: #707070;
      color: $white;
      padding: 1.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
    }
    &-wrapper {
      padding: 1rem;
      pre {
        margin: 0;
      }
    }
  }

  pre {
    border:none;
    background-color: $white;
    margin: 1rem 0;
  }
  .hljs, .hljs-subst {
    color: $dark-blue-alt;
  }
}
