// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.homepage {

  background-image: url($baseurl + '/assets/images/quarkus3/bg-home-primary-q3.png');
  background-repeat: no-repeat;
  background-size: 100%;

  p {
    margin: 2rem 0;
  }
  .code {
    &-item {
      background-color: $white;
      max-width: 100%;
      @media screen and (max-width: 1300px) {
        grid-column: span 12;
      }
    }
    &-label {
      background-color: $quarkus-blue;
      color: $white;
      padding: 1.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
    }
    &-wrapper {
      padding: 1rem;
      pre {
        margin: 0;
      }
    }
  }

  pre {
    border:none;
    margin: 1rem 0;
  }

  .feedback-help code {
    color: #be9100;
  }
}
