.support {
  .help-band {
    margin: 0;
    padding-bottom: 6rem;
    .help-block {
      text-align: center;

      h3, p {
        text-align: left;
      }

      h3 {
        text-transform: uppercase;
      }
      h4 {
        font-weight: 600;
        margin: 1rem 0;
      }

      img {
      padding: 3rem 3rem 0 3rem;
      }

    }
  }

  .options-band {
    margin-top: 0;

    h1, h2, h3 {
      text-align: left;
      text-transform: uppercase;
    }

    .options-block {
      border: 1px solid $quarkus-blue;
      padding: 2rem;

      h4 {
        margin-top: 0;
      }

      > p:last-child {
        margin-bottom: 0;
      }

      > a:only-child {
        text-align: left;
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
      a > i {
        color: inherit;
        margin-left: 5px;
      }
     @media screen and (max-width: 1170px) {
        grid-column: span 6;
      }
      @media screen and (max-width: $breakpoint-m) {
        grid-column: span 12;
      }   
    }
  }
}
