---
layout: base
---

<div class="blog-page grid-wrapper">
  <div class="grid__item width-10-12">
    <h1 class="title text-caps">{{ page.title }}</h1>
  </div>
  <div class="grid__item width-2-12 align-self-center">
    <a href="{{site.baseurl}}/feed.xml"><i class="fas fa-rss-square"></i></a>
  </div>

  <div class="grid__item width-10-12 width-12-12-m">
    {% for post in paginator.posts %}
      {% assign author = site.data.authors[post.author] %}
      <div class="blog-list-item grid-wrapper">
        <div class="post-date grid__item width-12-12">{{ post.date | date: '%B %d, %Y' }} 
          {% for tag in post.tags %}<a href="{{site.baseurl}}/blog/tag/{{tag}}">#{{ tag}}</a> {% endfor %}
        </div>
        <div class="post-title grid__item width-12-12">
          <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="grid__item width-8-12 width-12-12-m byline-wrapper">
          {% if author.emailhash %}
            <img class="headshot" src="https://www.gravatar.com/avatar/{{ author.emailhash }}">
          {% endif %}
          <p class="byline"><span>By</span> {{ author.name }}<br/></p>
        </div>
        <div class="grid__item width-12-12">
          {% if post.synopsis %}
            <p>{{ post.synopsis | strip_html }}</p>
          {% else %}
            <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
          {% endif %}
        </div>
        <div class="grid__item width-8-12 read-more"><a href="{{site.baseurl}}{{ post.url }}">Read More &rsaquo;</a></div>
        <div class="grid__item width-4-12 width-12-12-m share-post">{% include share-page.html title=post.title url=post.url %}</div>
      </div>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
      <div class="paginator-btns">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button-cta secondary">Newer Posts</a>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button-cta secondary">Older Posts</a>
          {% endif %}
      </div>
      {% endif %}
  </div>
  
  <div class="grid__item width-2-12">
    {% for stats in site.tags %}
     {% assign tag = stats | first %}
     {% assign posts = stats | last %}
     <a href="{{site.baseurl}}/blog/tag/{{tag}}">{{ tag }}</a></br>
    {% endfor %}
  </div>
</div>
