---
layout: base
---
{% include title-band.html %}
<div class="quarkus-dev-ui-page">
  {% include dev-ui-configuration.html %}
  {% include dev-ui-visualize-endpoints.html %}
  {% include dev-ui-manage-dev-services.html %}
  {% include dev-ui-db-schema-generation.html %}
  {% include dev-ui-dependency-visualization.html %}
  {% include dev-ui-continuous-testing.html %}
  {% include dev-ui-build-container-image.html %}
  {% include dev-ui-generate-kubernetes-yaml.html %}
  {% include dev-ui-keycloak-integration.html %}
  {% include dev-ui-kafka-ui-integration.html %}
</div>