---
layout: base
---
{% assign versioned_page = page.url | startswith: '/version/' %}
{% if versioned_page %}
  {% assign docversion = page.url | replace_regex: '^/version/([^/]+)/.*', '\1' %}
{% else %}
  {% assign docversion = 'latest' %}
{% endif %}

{% include back-to-top.html %}

{% assign docversion_index = docversion | replace: '.', '-' %}

{% if site.data.versioned[docversion_index].index %}
  {% include index-docs.html docversion=docversion %}  
{% else %}
  {% assign data_source = "guides-" | append: docversion | replace: '.', '-' %}
  {% include index-guides.html source=data_source docversion=docversion %}  
{% endif %}
