---
layout: base
---

{% include title-band.html %}

<div class="full-width-version-bg filterbar align-self">
  <div class="grid-wrapper">
    <div class="grid__item filterbarcol">
      <label class="filterbar-dropdown-label">By Version</label>
      <select class="filterbar-dropdown">
       {% for version in site.data.versions.documentation %}
         <option value="{{ version }}" {% if docversion == version %}selected{% endif %}>{% if version == 'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} - {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}</option>
        {% endfor %}
       </select>
    </div>
    <div class="grid__item filterbarcol">
      <label class="filterbar-dropdown-label">By Category</label>
      <select class="filterbar-dropdown">
       {% for version in site.data.versions.documentation %}
         <option value="{{ version }}" {% if docversion == version %}selected{% endif %}>{% if version == 'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} - {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}</option>
        {% endfor %}
       </select>
    </div>
    <div class="grid__item filterbarcol">
      <div class="keywordsearch">
        <input type="text" id="search-text" placeholder="Keyword search across documentation materials" />
        <i class="fas fa-search"></i>
      </div> 
    </div>
  </div>
</div>
<div class="grid-wrapper">
  <div class="grid__item width-12-12 anchor-cards">
    <ul id="list">
       <li>
         <ul class="grid-wrapper list-item">
            <li class="card">
              <a href="#tutorial"></a>
              <p class="title">Tutorials</p>
              <p class="description">Quick hands-on exercises to get you introduced to Quarkus.</p>
              <p class="duration">Completion time 20-30 minutes</p>
              <p class="anchor-jump"><i class="fa fa-angle-down fa-3x"></i></p>
            </li>
            <li class="card">
              <a href="#guide"></a>
              <p class="title">How-to Guides</p>
              <p class="description">Step-by-step guides to covering key tasks, real world operations and common problems.</p>
              <p class="duration">Completion time 20-30 minutes</p>
              <p class="anchor-jump"><i class="fa fa-angle-down fa-3x"></i></p>
            </li>
            <li class="card">
              <a href="#concept"></a>
              <p class="title">Concepts</p>
              <p class="description">Explanations of some of our broader concepts and technologies.</p>
              <p class="duration">Completion time 5-20 minutes</p>
              <p class="anchor-jump"><i class="fa fa-angle-down fa-3x"></i></p>
            </li>
            <li class="card">
              <a href="#reference"></a>
              <p class="title">Reference Docs</p>
              <p class="description">Technical resource covering tools, components, and commands. The encyclopedia for Quarkus.</p>
              <p class="duration">These are reference… so take your time.</p>
              <p class="anchor-jump"><i class="fa fa-angle-down fa-3x"></i></p>
            </li>
          </ul>
        </li>
    </ul>
  </div>
  <div class="grid__item width-12-12 docslist">
  <div class="doclist-header">
    <h3 id="tutorial">Tutorials</h3>
    <p>Short and focused exercises to get you going quickly using a simple text editor.</p>
  </div>
    <div class="grid-wrapper">
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card tutorialbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
    </div>
  </div>
  <div class="grid__item width-12-12 docslist">
  <div class="doclist-header">
    <h3 id="guide">How-to Guides</h3>
    <p>Step-by-step guides to covering key tasks, real world operations and common problems.</p>
  </div>
    <div class="grid-wrapper">
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card guidebkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
    </div>
  </div>
  <div class="grid__item width-12-12 docslist">
  <div class="doclist-header">
    <h3 id="concept">Concepts</h3>
    <p>Explanations of some of the larger concepts and technologies involved with Quarkus.</p>
  </div>
    <div class="grid-wrapper">
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
      <div class="grid__item docs-card conceptbkg">
            <h4><a href="#">Building Native Images</a></h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget est quis tortor posuere interdum sit amet in mi. Donec scelerisque dignissim mauris, vel bibendum enim rutrum in. In viverra nam.</p>
      </div>
    </div>
  </div>
  <div class="grid__item width-12-12 docslist">
  <div class="doclist-header">
    <h3 id="reference">Reference Docs & Cheat Sheet</h3>
    <p>Technical Resource that covers tools, components, and commands. The encyclopedia for Quarkus.</p>
  </div>
    <div class="grid-wrapper">
      <div class="grid__item docs-card referencebkg">
            <h4><a href="#">Quarkus 3.2.1Final Reference Doc</a></h4>
            <p class="description">The full technical details for Quarkus’s 3.2.1Final release.</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-wrapper guides">
    <div class="grid__item width-6-12 width-12-12-m callout-wrapper">
    <div class="grid-wrapper callout">
       <div class="grid__item width-12-12">
         <h3>Quarkus Cheat Sheet</h3>
       </div>
       <div class="grid__item col">
        <a href="https://lordofthejars.github.io/quarkus-cheat-sheet/" target="_blank">
          <span class="col-icon"><i class="far fa-file-pdf"></i></span>
          <span class="col-link">Download full cheatsheet as PDF</span>
        </a>
       </div>
       <div class="grid__item col">
         <a href="https://developers.redhat.com/search?t=quarkus&f=type%7Echeatsheet" target="_blank">Get more cheatsheets on the Red Hat Developers website <i class="fas fa-external-link-alt"></i></a>
       </div>
    </div>
  </div>
</div>