---
layout: base
---

<div class="grid-wrapper extensions-page">
  <div class="grid__item width-12-12">
    <h1 class="text-caps">{{ page.title }}</h1>
  </div>
  <div class="grid__item width-8-12 width-12-12-m">
    {% for item in site.data.extensions %}
      <div class="ext-item">
        <h2>{{ item.name }}</h2>
        {% if item.description != '' %}
          <p class="description">{{ item.description }}</p>
        {% endif %}
        {% if item.groupId != '' %}
          <p class="text-cyan">Maven Group ID: {{ item.groupId }}</p>
        {% endif %}
        {% if item.artifactId != '' %}
          <p class="text-cyan">Maven Artifact ID: {{ item.artifactId }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
