---
layout: base
---

{% include title-band.html %}

<div class="full-width-bg component">
    <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m">
            <img class="light-only" src="{{site.baseurl}}/{{ page.icon-light }}"/>
            <img class="dark-only" src="{{site.baseurl}}/{{ page.icon-dark }}"/>
        </div>
        <div class="width-9-12 width-12-12-m">
            <p class="intropara">{{ page.intro }}</p>
        </div>
        <div class="feature-content width-12-12">
            {{ content }}
        </div>
    </div>
</div>
