---
layout: base
---

{% include back-to-top.html %}

<div class="grid-wrapper guides">
  <div class="grid__item width-12-12">
    <h1 class="text-caps">{{page.title}}</h1>
  </div>

  <div class="grid__item width-6-12 width-12-12-m align-self-end">
    <div class="search-wrapper">
      <i class="fas fa-search"></i>
      <input type="text" id="search-text" placeholder="Find a Guide" />
    </div>
  </div>
  <div class="grid__item width-6-12 width-12-12-m callout-wrapper">
    <div class="grid-wrapper callout">
       <div class="grid__item width-12-12">
         <h3>Quarkus Cheat Sheet</h3>
       </div>
       <div class="grid__item col">
        <a href="https://lordofthejars.github.io/quarkus-cheat-sheet/" target="_blank">
          <span class="col-icon"><i class="far fa-file-pdf"></i></span>
          <span class="col-link">Download full cheatsheet as PDF</span>
        </a>
       </div>
       <div class="grid__item col">
         <a href="https://developers.redhat.com/search?t=quarkus&f=type%7Echeatsheet" target="_blank">Get more cheatsheets on the Red Hat Developers website <i class="fas fa-external-link-alt"></i></a>
       </div>
    </div>
  </div>
  
  <div class="grid__item width-2-12 width-12-12-m cat-list-label">
    <h3>View Category:</h3>
  </div>
  <div class="grid__item width-10-12 width-12-12-m guide-categories">
    <ul>
    {% for item in site.data.guides.categories %}
      <li>
        <a href="#{{ item.cat-id }}">{{ item.category }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="grid__item width-12-12 guide-cards">
    <ul id="list">
    {% for item in site.data.guides.categories %}
      <li>
        <h3 id="{{ item.cat-id }}">{{ item.category }}</h3>
        <ul class="grid-wrapper list-item">
        {% for guide in item.guides %}
          <li class="card">
              <a href="{{site.baseurl}}{{ guide.url }}"></a>
              <p class="title">{{ guide.title }}</p>
              <div class="description">{{ guide.description | markdownify }}</div>
              <div class="keywords">{{ guide.keywords }}</div>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <div class="empty-list">Sorry, no guides matched your search. Please try again.</div>
  </div>
</div>
