---
layout: base
---
{% assign versioned_page = page.url | startswith: '/version/' %}
{% if versioned_page %}
  {% assign docversion = page.url | replace_regex: '^/version/([^/]+)/.*', '\1' %}
{% else %}
  {% assign docversion = 'latest' %}
{% endif %}
{% assign guide_url = page.url | replace_regex: '^/version/[^/]+(/.*)', '\1' %}


<section class="full-width-version-bg flexfilterbar guides">
  <div class="guideflexcontainer">
    <div class="docslink">
      <a class="returnlink" href="{{site.baseurl}}/{% if versioned_page %}version/{{docversion}}/guides/{% else %}guides/{% endif %}"> Back to Guides</a>
    </div>
    <div class="flexlabel">
      <label>By Version</label>
    </div>
    <div class="guidepulldown version">
    <select id="guide-version-dropdown">
      {% for version in site.data.versions.documentation -%}
        {% assign data_source = "guides-" | append: version | replace: '.', '-' %}
        {% assign guide_present_in_version = false %}
        {% for item in site.data[data_source].categories -%}
          {% for guide in item.guides -%}
            {% if guide.url == guide_url -%}
              {% assign guide_present_in_version = true %}
            {% endif -%}
          {% endfor -%}
        {% endfor -%}
        {% if guide_present_in_version or docversion == version -%}
        <option value="{{ version }}" {% if docversion == version %}selected{% endif %}>{% if version == 'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} - {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}</option>
        {% endif -%}
      {% endfor -%}
    </select>
    </div>
  </div>
</section>

<div class="grid-wrapper guide">
  <div class="grid__item width-12-12 width-12-12-mobile">
    <h1 class="text-caps">{{page.title}} {{page.docversion}}</h1>
  </div>
  <div class="width-12-12">
    <div class="hide-mobile toc">{{ page.document | tocify_asciidoc: 2 }}</div>
    <div>
      {{ content }}
    </div>
  </div>
</div>
