---
layout: base
---
{% assign versioned_page = page.url | startswith: '/version/' %}
{% if versioned_page %}
  {% assign docversion = page.url | replace_regex: '^/version/([^/]+)/.*', '\1' %}
{% else %}
  {% assign docversion = 'latest' %}
{% endif %}
{% assign guide_url = page.url | replace_regex: '^/version/[^/]+(/.*)', '\1' %}

{% include title-band.html %}

  <div class="grid__item width-3-12 align-self-center text-right hide-mobile">
    <label id="guide-version-label">Select Guide Version</label>
    <select id="guide-version-dropdown">
      {% for version in site.data.versions.documentation %}
        <option value="{{ version }}" {% if docversion == version %}selected{% endif %}>{% if version == 'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} - {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}</option>
      {% endfor %}
    </select>
  </div>

  <div class="width-12-12">
    <div>
      {{ content }}
    </div>
  </div>
</div>
