---
layout: base
---
<div class="grid-wrapper guides">
  <div class="grid__item width-12-12">
    <h1 class="text-caps">{{page.title}}</h1>
  </div>
  <div class="grid__item width-4-12 hide-mobile toc">
    <h2 id="table-of-contents">Table of Contents</h2>
    {% for item in site.data.guides.categories %}
      <h3 id="#{{ item.cat-id }}">{{ item.category }}</h3>
      <ul>
      {% for guide in item.guides %}
        <li><a href="{{site.baseurl}}{{ guide.url }}">{{ guide.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
  {% for item in site.data.guides.categories %}
    {% if forloop.first == true %}
      <div class="grid__item width-8-12 width-12-12-m guides-content">
        <div markdown="1">
          <p>You have gone through the <a href="{{site.baseurl}}/get-started">Getting Started</a> guides.
          You are now ready to dive into specific topic guides.</p>
        </div>
        {% for guide in item.guides %}
          <div class="guide-item" markdown="1">
            <h2>{{ guide.title }}</h2>

            {{ guide.description | markdownify }}

            <p><a href="{{site.baseurl}}{{guide.url}}" class="button-cta secondary">READ THE GUIDE</a></p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="grid__item width-12-12"><hr /></div>
      <div class="grid__item width-4-12 width-12-12-m toc">
        <h2 id="web-1">{{ item.category }}</h2>
      </div>
      <div class="grid__item width-8-12 width-12-12-m guides-content">
        {% for guide in item.guides %}
          <div class="guide-item" markdown="1">
            <h2>{{ guide.title }}</h2>

            {{ guide.description | markdownify }}

            <p><a href="{{site.baseurl}}{{guide.url}}" class="button-cta secondary">READ THE GUIDE</a></p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>

