---
layout: base
---

{% include title-band.html %}

<div class="full-width-bg component awards-band">
  <div class="component-wrapper highlights-alternating-images-band">
   <div class="width-12-12 width-12-12-m ">
   </div>
   <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/quarkus3/frameworkefficiency.png">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Performance & Efficiency</h2>
        <p>Quarkus makes Java supersonic and subatomic, with fast startup times, low memory footprint, and a small disk footprint. This release continues to improve the Quarkus framework's performance and efficiency.</p>
        <h3>Hibernate ORM 6.2</h3>
        <p>Hibernate ORM 6.2 is a major upgrade to the main persistence layer of Quarkus. It brings a lot of improvements and new features including migration to the Jakarta Persistence 3.0 specification, performance improvements to JDBC, and more. Learn more about <a href="https://quarkus.io/blog/quarkus-3-0-0-alpha5-released/#hibernate-orm-6">Hibernate 6.2 in Quarkus</a>.</p>
        <p>While there are a lot of great features the move to Hibernate 6.2 introduces some breaking changes. We created a <a href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-3.0:-Hibernate-ORM-5-to-6-migration">Hibernate ORM migration guide</a> to make the upgrade from 5 to 6 as smooth as possible.</p>
        <p></p>
      </div>
    </div>
  </div>

  <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
       <img src="{{site.baseurl}}/assets/images/quarkus3/developerservices.png">
     </div>
     <div class="width-8-12 width-12-12-m block-content">
       <h2>Developer Productivity</h2>
       <p>One of the founding principles of Quarkus is to bring joy to Java developers by creating a frictionless experience through a combination of tools, libraries, extensions, and more. This release continues that mission by making developers more efficient with new tools and services such as Dev UI, Quarkus CLI, and PACT contract testing.</p>
       <h3>Dev UI</h3>
       <p>Quarkus 3 includes a new and improved <a href="https://quarkus.io/guides/dev-ui">Dev UI</a> with a new look and feel that is more extensible. You can access the Dev UI at <code>http://localhost:8080/q/dev</code></p>
       <p>Check out the <a href="https://www.youtube.com/playlist?list=PLLEUmLgWP9osVhex2HeEovY3a2bJUPbSV">Dev UI playlist</a> on Quarkus YouTube channel to learn more.</p>
       <h3>Quarkus CLI</h3>
       <p>The Quarkus command line tool lets you create projects, manage extensions and perform essential build and dev commands.</p>
       <p>This release includes additional features like the <code>quarkus deploy</code> command that enables the deployment of Quarkus applications to platforms like Kubernetes, Knative, and OpenShift without requiring changes to the project dependencies or configuration</p>
       <h3>Pact</h3>
       <p>Quarkus 3 enables Pact contract-based testing capability which has a significant impact on the development process for Quarkus developers. Quarkus with Pact, allows developers to easily integrate Pact into their testing and deployment workflows without any additional setup. This can help to save time and ensure that developers can focus on writing code.</p>
       <p>Watch the <a href="https://www.youtube.com/watch?v=d9CSY8HuZ9U">Quarkus Insights episode about Pact and Quarkus</a> to learn more.</p>
     </div>
   </div>
 </div>

 <div class="width-12-12 highlights-alternating-inline-block">
   <div class="grid-wrapper">
    <div class="width-4-12 width-12-12-m block-image">
      <img src="{{site.baseurl}}/assets/images/quarkus3/kubenative.png">
    </div>
    <div class="width-8-12 width-12-12-m block-content">
      <h2>Kubernetes-Native</h2>
      <p>Quarkus enables Java developers to create performant, easily deployable, and maintainable applications on Kubernetes. This release includes a number of impactful Kubernetes-native features including new Dev Services for Kubernetes deployments.</p>
      <h3>Kubernetes Dev Services</h3>
      <p>It can often be difficult for developers to get access to a Kubernetes cluster for local development. Quarkus 3.0 includes Dev Services for Kubernetes that automatically start and configure a Kubernetes API server in dev mode and when running tests utilizing Docker. Dev Services for Kubernetes implements a service discovery mechanism for your Quarkus applications running in dev mode to share a single cluster. Learn more about <a href="https://quarkus.io/guides/kubernetes-dev-services#enabling-disabling-dev-services-for-kubernetes"> enabling Dev Services for Kubernetes</a></p>
    </div>
  </div>
</div>

<div class="width-12-12 highlights-alternating-inline-block">
  <div class="grid-wrapper">
    <div class="width-4-12 width-12-12-m block-image">
      <img src="{{site.baseurl}}/assets/images/quarkus3/communitystandards.png">
    </div>
    <div class="width-8-12 width-12-12-m block-content">
      <h2>Community & Standards</h2>
      <p>Quarkus starts and ends with the community which includes a vast ecosystem of 400+ extensions that includes support for popular Java APIs and standards. This release continues that mission with new features and standards support.</p>
      <h3>Java 11 & 17</h3>
      <p>Quarkus 3 continues to target the minimal version of Java 11 with Java 17 as the recommended version. We will continue to revise the minimal Java version based on user feedback and the uptake of Java 17 in the ecosystem.</p>
      <h3>Jakarta EE APIs</h3>
      <p>Quarkus 3 has updated to the latest Jakarta APIs, which includes a community alignment around the new “jakarta.*” package names. We know this is a big change, so In order to make migrating as smooth as possible, we included an automated update tool to minimize your effort. Learn more about <a href="https://quarkus.io/blog/quarkus-3-0-final-released/#upgrading">migrating to Jakarta EE API’s</a>.</p>
      <h3>Eclipse MicroProfile 6</h3>
      <p>Quarkus 3 is aligned with MicroProfile 6.0 and Jakarta EE Core Profile 10. The Micrometer Metrics extension is recommended over the deprecated SmallRye Metrics implementation of MicroProfile Metrics.</p>
    </div>
  </div>
</div>

<div class="width-12-12 highlights-alternating-inline-block">
  <div class="grid-wrapper">
    <div class="width-4-12 width-12-12-m block-image">
      <img src="{{site.baseurl}}/assets/images/quarkus3/longtermsupport.png">
    </div>
    <div class="width-8-12 width-12-12-m block-content">
      <h2>Coming Soon: Long-term Support (LTS)</h2>
      <p>We often get asked about a Quarkus LTS version. The community asked, so we’ll deliver. Starting with Quarkus 3.2, we will introduce the first Quarkus LTS version. We will share more information as we get closer to releasing Quarkus 3.2.</p>
    </div>
  </div>
</div>

<div class="width-12-12 highlights-alternating-inline-block">
  <div class="grid-wrapper">
    <div class="width-4-12 width-12-12-m block-image">
      <img src="{{site.baseurl}}/assets/images/quarkus3/migration.png">
    </div>
    <div class="width-8-12 width-12-12-m block-content">
      <h2>Migrating to 3.0 is super easy</h2>
      <p>We want to make the migration to Quarkus 3 seamless for our users. With that in mind, we have created a <a href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-3.0">migration guide</a> as well as tooling to facilitate this process.</p>
      <p>The move to Hibernate ORM 6.2 is a major upgrade. While it brings a lot of improvements and new features, it also includes some breaking changes. In order to help migrate Quarkus apps with Hibernate, we have created a <a href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-3.0:-Hibernate-ORM-5-to-6-migration">Hibernate ORM migration guide</a> to help you through the process.</p>
    </div>
  </div>
</div>
</div>
<div class="component-wrapper">
 <div class="width-12-12 width-12-12-m ">
   <h2>Release Notes</h2>
   <p>For more in-depth dive into the details of the 3.0 release, <a href="https://quarkus.io/blog/quarkus-3-0-final-released/" target="_blank">check out the Quarkus 3.0 Release Notes</a></p>
 </div>
 <div class="width-12-12 width-12-12-m ">
  <h2>Contributors</h2>
  <p>The lifeblood of the Quarkus project is the open source community. We'd like to thank the 200+ community members who've contributed their time and energy to help create Quarkus 3.0 and in particular:</p>
</div>
<div class="width-3-12 width-12-12-m">
  <p>A. N. M. Bazlur Rahman (Rokon)<br>
    Aaron Anderson<br>
    Aaron Rebak<br>
    Abhishek Kumar<br>
    acevedor<br>
    Adler Fleurant<br>
    Adrian Pauli<br>
    Adriano Augusto Tagliaferro<br>
    adrien<br>
    AkMo3<br>
    Alberto Morales Perez<br>
    Ales Justin<br>
    Alessandro Costa<br>
    Alessandro Moscatelli<br>
    Alex Martel<br>
    Alex Soto<br>
    Alex Wood<br>
    Alexander Schwartz<br>
    Alexandre Dutra<br>
    Alexandre Gallice<br>
    Alexei Bratuhin<br>
    Alexey Loubyansky<br>
    Alexey Sharandin<br>
    Amos Feng<br>
    anavarr<br>
    Andre Fucs de Miranda<br>
    André Gonçalves<br>
    Andrea Cosentino<br>
    Andrea Peruffo<br>
    Andreas Eberle<br>
    Andrej Petras<br>
    Andrej Vaňo<br>
    Andres Almiray<br>
    Andri Reveli<br>
    Andrii Maliuta<br>
    Andy Damevin<br>
    Andy Fedotov<br>
    Andy Han<br>
    Aneta Cadova<br>
    Àngel Ollé Blázquez<br>
    Ant Stephenson<br>
    Anthony Corrado<br>
    Anthony Dahanne<br>
    Anton Grigorev<br>
    Anton Kozlov<br>
    Antonio Costa<br>
    Antonio Goncalves<br>
    Antonio Jacob Costa<br>
    antoniodvr<br>
    antssilva96<br>
    Anze Sodja<br>
    aona42<br>
    Apostolos Samaras<br>
    Arhtur Navaro<br>
    arik-dig<br>
    Arne Mejlholm<br>
    asamal<br>
    Ashish Ranjan<br>
    Ashwin S. Nair<br>
    Attila Mészáros<br>
    Aurea Munoz Hernadez<br>
    Aurélien Pupier<br>
    Auri Munoz<br>
    axblu<br>
    Axel Kandel<br>
    Aykut Bulgu<br>
    Baiju Muthukadan<br>
    Bård Kristian Haaland-Sørensen<br>
    BarDweller<br>
    Barnaby Court<br>
    barreiro<br>
    Barry Lafond<br>
    Bartosz Markowski<br>
    Bas Passon<br>
    bdevreugd-vialis<br>
    Ben Gunter<br>
    Benedikt Ritter<br>
    Bennet Schulz<br>
    Benstone Zhang<br>
    Bernardo Coferre<br>
    Bernhard Lutzmann<br>
    Bernhard Wolkerstorfer<br>
    besta<br>
    Bill Burke<br>
    Björn Großewinkelmann<br>
    Bobby Alex Philip<br>
    bowen<br>
    Brad Hards<br>
    Bret McGuire<br>
    Brett Tofel<br>
    Brian Wyka<br>
    Bruno Alves<br>
    Bruno Baptista<br>
    Bruno Bastos Guimaraes<br>
    Bruno Borges<br>
    Bruno Leonardo Gonçalves<br>
    Bruno Oliveira da Silva<br>
    brunobat<br>
    Bryan Varner<br>
    bwijsmuller<br>
    Cameron Gregor<br>
    Cameron Prater<br>
    Carles Arnal<br>
    Cedric Lewe<br>
    Cedric Thiebault<br>
    Chao Wang<br>
    Chas Honton<br>
    Cheng Fang<br>
    chetankokil<br>
    Chexpir<br>
    Chihiro Ito<br>
    Chris Aslanoglou<br>
    Chris Cranford<br>
    Chris Pitman<br>
    Chris311<br>
    Christian Beikov<br>
    Christian Berger<br>
    Christian Morin<br>
    Christian Pieczewski<br>
    Christian Thiel<br>
    Christian von Atzigen<br>
    Christoph Deppisch<br>
    Christoph Hermann<br>
    Christoph Kappel<br>
    Christophe Laprun<br>
    Christopher<br>
    Christopher Chianelli<br>
    Clara Fang<br>
    Claudio Miranda<br>
    Claus Ibsen<br>
    Clemens Classen<br>
    Clement Escoffier<br>
    Corentin Arnaud<br>
    CORP\rahul.kohli<br>
    costab<br>
    Craig Day<br>
    Cristiano Nicolai<br>
    Cserveny, Tamás<br>
    cui fliter<br>
    Cyrille Le Clerc<br>
    Dainius Jocas<br>
    Damien LUCAS<br>
    damienb-opt<br>
    Damon Sutherland<br>
    Dan Dunning<br>
    Dan Heidinga<br>
    Daniel Petisme<br>
    Daniele Zonca<br>
    danielmast<br>
    Darko Janković<br>
    Darren Coleman<br>
    David Andlinger<br>
    David Arnold<br>
    David Frickert<br>
    David Jencks<br>
    David M. Lloyd<br>
    Davide Angelocola<br>
    Davide D'Alto<br>
    Davide Salerno<br>
    Denis Istomin<br>
    Dennis Kieselhorst<br>
    Dheeraj Nalluri<br>
    Digant Bhavsar<br>
    Dimitris Andreadis<br>
    DiogoCarleto<br>
    Dirk Van Haerenborgh<br>
    dlucasd<br>
    Dmitri Bourlatchkov<br>
    Dmitrii Karmanov<br>
    Dmitrij Fedorenko<br>
    Domagoj Tršan<br>
    Dominika Vagnerova<br>
    Dorian Monnier<br>
  Duy Pham</p>
</div>
<div class="width-3-12 width-12-12-m">
  <p>dwamara<br>
    dzou<br>
    Eddú Meléndez<br>
    Edoardo Vacchi<br>
    Eduard Tudenhoefner<br>
    Efim Smykov<br>
    Elias Norrby<br>
    Emanuel Alves<br>
    Emelia Smith<br>
    Emile de Weerd<br>
    Emiliia Nesterovych<br>
    Emmanuel Bernard<br>
    Emre Kaplan<br>
    Enrique González Martínez<br>
    Enrique Mingorance Cano<br>
    Eoin Gallinagh<br>
    Eric Deandrea<br>
    Eric Wittmann<br>
    Erik Åsén<br>
    Erik Mattheis<br>
    Erin Schnabel<br>
    Eugene Berman<br>
    Evan Shortiss<br>
    Fabricio Gregorio<br>
    faculbsz<br>
    Falko Modler<br>
    Fedor Dudinskiy<br>
    Felipe Carvalho dos Anjos Formentin<br>
    Felipe Henrique Gross Windmoller<br>
    Fernando Comunello<br>
    Fernando Henrique<br>
    fhavel<br>
    Fikru  Mengesha<br>
    Filippe Spolti<br>
    Florian Beutel<br>
    Florian Bütler<br>
    Florian Heubeck<br>
    Florin Botis<br>
    Foivos Zakkak<br>
    Foobartender<br>
    Fouad Almalki<br>
    Francesco Nigro<br>
    Francisco Javier Tirado Sarti<br>
    Francois Steyn<br>
    Frank Eichfelder<br>
    franz1981<br>
    freakse-sa<br>
    Fred Bricon<br>
    Frédérc Blanc<br>
    Freeman Fang<br>
    Fu Cheng<br>
    Gabriele Cardosi<br>
    Galder Zamarreño<br>
    galiacheng<br>
    Gavin King<br>
    Gavin Ray<br>
    Geert Schuring<br>
    Geoffrey De Smet<br>
    Geoffrey GREBERT<br>
    Georg Leber<br>
    George Gastaldi<br>
    Georgios Andrianakis<br>
    Gerhard Flothow<br>
    Gerry Forde<br>
    Ghazy Abdallah<br>
    Gilvan Filho<br>
    Giovanni Barbaro<br>
    Gopal<br>
    Graham Pople<br>
    Greg Stewart<br>
    gregid<br>
    Gregor Zurowski<br>
    Grzegorz Piwowarek<br>
    Guillaume DOUSSIN<br>
    Guillaume Le Floch<br>
    Guillaume Nieser<br>
    Guillaume Smet<br>
    Gunnar Morling<br>
    Gustavo<br>
    Gustavo Luszczynski<br>
    Gwenneg Lepage<br>
    Gwydion Martín<br>
    Gytis Trikleris<br>
    hamburml<br>
    Harald Albers<br>
    Harsh Madhani<br>
    Heena Manwani<br>
    Heiko W. Rupp<br>
    Helber Belmiro<br>
    Hemantkumar Chigadani<br>
    Hendrik S<br>
    Hitesh C<br>
    Holly Cummins<br>
    Horizon<br>
    Huba Peter<br>
    Hugo Guerrero<br>
    humberto<br>
    Hunter Gerlach<br>
    Ian De Bie<br>
    Ignasi Camacho Redó<br>
    IgnasiCR<br>
    Igor Regis<br>
    Ilya Leoshkevich<br>
    imperatorx<br>
    Ioannis Canellos<br>
    ismail BASKIN<br>
    Ivan Bazalii<br>
    Ivan Greguric Ortolan<br>
    Ivan Senic<br>
    Jacob Middag<br>
    Jacob Skillin<br>
    Jacopo Rota<br>
    Jaikiran Pai<br>
    Jakob<br>
    Jakub Scholz<br>
    James Cobb<br>
    James Netherton<br>
    James R. Perkins<br>
    Jan Knobloch<br>
    Jan Martiška<br>
    Jan Stastny<br>
    Jan Wiemer<br>
    Jan-Petter Krüger<br>
    Janez Pintar<br>
    Jasmin Suljic<br>
    Jason Greene<br>
    Jason Porter<br>
    Javier Toja<br>
    Jay<br>
    Jayson Minard<br>
    JB Onofré<br>
    jeanphibaconnais<br>
    Jeff MAURY<br>
    Jens Zettelmeyer<br>
    Jérôme TAMA<br>
    Jesse Ehrenzweig<br>
    Jianguo Ma<br>
    Jiehong Ma<br>
    Jiří Locker<br>
    Jiří Pallich<br>
    Jiri Pechanec<br>
    JiriOndrusek<br>
    jmarty<br>
    Joachim Segala<br>
    Joan Ruget<br>
    Joao Pedro Schmitt<br>
    Joe Siponen<br>
    Joel Mateus<br>
    joern19<br>
    Johannes Fauske<br>
    Johannes Wienke<br>
    John Clingan<br>
    John OHara<br>
    John Oliver<br>
    Johurul Hassan Mazumder<br>
    Jonathan Halliday<br>
    Jonathan Kolberg<br>
    Jonathan Schneider<br>
    Joost Timmerman<br>
    Jörg Hohwiller<br>
    Jorge Solórzano<br>
    Jose Carvajal Hilario<br>
    Josef Andersson<br>
    Josef Smrcka<br>
    Josh Purcell<br>
    Josh V<br>
    Joshua Mathianas<br>
    Joshua Roys<br>
    jtama<br>
    Juan Manuel Musacchio<br>
    Juan Zuriaga<br>
    Julia Gustafsson<br>
    Julia Ruprecht<br>
    Julien Dubois</p>
</div>
<div class="width-3-12 width-12-12-m">
 <p>Julien Gracia<br>
  Julien Ponge<br>
  Julio Enrique Santana Lora<br>
  Juri Berlanda<br>
  Justin Lee<br>
  Kai Hudalla<br>
  kalyan-dass<br>
  Kannan<br>
  KarlScheibelhofer<br>
  Karm Michal Babacek<br>
  Katherine Stanley<br>
  Katia Aresti<br>
  Kay Ulbrich<br>
  kdnakt<br>
  Keita Fujii<br>
  Ken Finnigan<br>
  Kennedy Bowers<br>
  Kevin Dubois<br>
  Kevin O'Neal<br>
  Kevin VIET<br>
  Kevin Wooten<br>
  kioichiyoda<br>
  Kjetil Nygård<br>
  Klemen Kobetič<br>
  Knut Wannheden<br>
  Konstantin Gribov<br>
  Konstantin Silin<br>
  kottmann<br>
  Kris-Gerhard<br>
  Kucharzyk Tomasz<br>
  Kyrylo Shpak<br>
  Ladislav Thon<br>
  Lars J. Nilsson<br>
  Lars Jølsum<br>
  Lasse Riess<br>
  Laurent Perez<br>
  lducamp<br>
  Leandro Quiroga<br>
  Leibniz.Hu<br>
  Leonardo<br>
  Lindsey Burnett<br>
  Liuigi<br>
  Loïc Hermann<br>
  Loïc Mathieu<br>
  Lorent Lempereur<br>
  Lorenzo Benvenuti<br>
  Louisa Frison<br>
  Luc Thuot<br>
  Luca Basso Ricci<br>
  Luca Burgazzoli<br>
  Luca Molteni<br>
  luca-bassoricci<br>
  Lucas POUZAC<br>
  Lucia Drozdova<br>
  Lucifer Morningstar<br>
  Lucy Linder<br>
  Ludovic Bertin<br>
  Luis Barreiro<br>
  Lukas Lowinger<br>
  Lukáš Petrovický<br>
  Łukasz Dziedziul<br>
  Luke Gee<br>
  Luke Thompson<br>
  luneo7<br>
  lyoff<br>
  Maciej Swiderski<br>
  Maciej Walkowiak<br>
  Madhavan<br>
  Madhavan Sridharan<br>
  Mahaswami Software<br>
  Manaswini Das<br>
  manofthepeace<br>
  Manyanda Chitimbo<br>
  Marat Gubaidullin<br>
  Marc Nuri<br>
  Marc Schlegel<br>
  Marc Wrobel<br>
  Marcel Hanser<br>
  Marcel Lohmann<br>
  Marcell Cruz<br>
  Marcelo Pereira<br>
  Marcin Czeczko<br>
  Marcin Kłopotek<br>
  Marco Bungart<br>
  Marco Schaub<br>
  Marco Yeung<br>
  Marco Zanghì<br>
  Marcus Paulo<br>
  Marek Goldmann<br>
  Marek Skacelik<br>
  Marián Macik<br>
  Mario Fusco<br>
  MarioHNogueira<br>
  Mark Lambert<br>
  Mark Little<br>
  Mark McLaughlin<br>
  Mark Sailes<br>
  marko-bekhta<br>
  Markus Heberling<br>
  Markus Himmel<br>
  Markus Schwer<br>
  Martin C. Richards<br>
  Martin Grammelspacher<br>
  Martin Kouba<br>
  Martin Muzikar<br>
  Martin Panzer<br>
  Martin Weiler<br>
  martin-kofoed-jyskebank-dk<br>
  MartinWitt<br>
  Marvin B. Lillehaug<br>
  masini<br>
  Matej Novotny<br>
  Matej Vasek<br>
  Matheus Cruz<br>
  Mathias Holzer<br>
  Matteo Mortari<br>
  Matthias Andreas Benkard<br>
  Matthias Cullmann<br>
  mauroal<br>
  Max Andersen<br>
  Max Gabrielsson<br>
  Max Rydahl Andersen<br>
  Maximilian Zellhofer<br>
  Mazen Khalil<br>
  Melloware<br>
  Michael Anstis<br>
  Michael Biarnés Kiefer<br>
  Michael Edgar<br>
  Michael Mosmann<br>
  Michael Musgrove<br>
  Michael Schilling<br>
  Michael Schnitzler<br>
  Michael Simons<br>
  Michal Jurč<br>
  Michal Karm Babacek<br>
  Michal Maler<br>
  Michał Szynkiewicz<br>
  Michal Vavřík<br>
  Michelle Purcell<br>
  Mickey Maler<br>
  Miguel Angel Chico<br>
  Mihai.Poenaru<br>
  Mike Hepburn<br>
  Mike Weber<br>
  Mikkel Vestergaard<br>
  Mingyuan Wu<br>
  mkobayas<br>
  Moritz Heine<br>
  mrizzi<br>
  mtrefcon<br>
  mun711<br>
  naah69<br>
  Naoki Kishi<br>
  Nathan Erwin<br>
  Nathan Mittelette<br>
  Neil Moffat<br>
  Neon<br>
  NetoDevel<br>
  newur<br>
  Nicolas Filotto<br>
  nicolas vivot<br>
  Nicolò Boschi<br>
  Nikita Ryanov<br>
  nmirasch<br>
  Nplu5<br>
  nscuro<br>
  number23<br>
  Ola Sæter Heitmann<br>
  Oleksiy Lukin<br>
  oliv37<br>
  olivier dufour<br>
  Omar Al-Safi<br>
  Orbifoldt<br>
  orekyuu</p>
</div>
<div class="width-3-12 width-12-12-m">
  <p>oscerd<br>
    Otavio Rodolfo Piske<br>
    Ozan Gunalp<br>
    özkan pakdil<br>
    Pablo Gonzalez Granados<br>
    Patryk Najda<br>
    Paul Carter-Brown<br>
    Paul Gallagher<br>
    Paul Robinson<br>
    Paulo Casaes<br>
    Paulo Lopes<br>
    Pavel<br>
    Pavel Bodiachevskii<br>
    Pavel.Vervenko<br>
    Pavol Liška<br>
    Pedro Hos<br>
    Pedro Igor<br>
    Pedro Pereira<br>
    Pere Fernández<br>
    pernelkanic<br>
    Peter Levart<br>
    Peter Palaga<br>
    Philip Hayes<br>
    Philippe Schaller<br>
    Phillip Krüger<br>
    polarctos<br>
    pravssum<br>
    Primož Hrovat<br>
    Radim Vansa<br>
    Radoslaw Adamiak<br>
    Radovan Synek<br>
    radtriste<br>
    Rakhmad Azhari<br>
    Ramon Boss<br>
    Ramy<br>
    Rant<br>
    Raul Valdoleiros<br>
    Réda Housni Alaoui<br>
    Rein Spanjer<br>
    Renato Pereira Back<br>
    Rhuan Rocha<br>
    Ricardo Rodrigues<br>
    Ricardo Zanini<br>
    Riccardo Pasquini<br>
    Richard Gomez<br>
    Rinaldo Pitzer Júnior<br>
    Rishi Kumar Ray<br>
    Rob Spoor<br>
    Robbie Gemmell<br>
    Robert Gonciarz<br>
    Robert Stupp<br>
    Roberto Cortez<br>
    Roberto Oliveira<br>
    Roberto Trunfio<br>
    robp94<br>
    Rolfe Dlugy-Hegwer<br>
    Romain QUINIO<br>
    Ron Sigal<br>
    Ronald Dehuysser<br>
    Rostislav Svoboda<br>
    Ruben Novelli<br>
    Rudy De Busscher<br>
    Ruggero D'Alò<br>
    saberkan<br>
    Sadi Nasib<br>
    Sam Xie<br>
    Sanal Kumar<br>
    Sandip Gahlot<br>
    Sanne Grinovero<br>
    Sauli Anto<br>
    Saumya Singh<br>
    Sebastian Schuster<br>
    Sébastien CROCQUESEL<br>
    Sebastien Dionne<br>
    sekumar<br>
    seregamorph<br>
    Sergei Portnov<br>
    Sergey Beryozkin<br>
    Severin Gehwolf<br>
    Sheila Jones<br>
    Shervinox<br>
    Shivam Sharma<br>
    shjones<br>
    Shumon Sharif<br>
    Siarhei Biarozkin<br>
    Simon Bengtsson<br>
    SIX Douglas<br>
    skraft-redhat<br>
    Sky Ao<br>
    Sombra González<br>
    souvik ghosh<br>
    spencercjh<br>
    spieps<br>
    Stefán Freyr Stefánsson<br>
    Stefan Gürtler<br>
    Stefan Schoeffmann<br>
    Stefan Sitani<br>
    Stephan Strate<br>
    Stéphane Épardaud<br>
    Stephen Nimmo<br>
    Steve Ebersole<br>
    Steve Hawkins<br>
    Stuart Douglas<br>
    Summers Pittman<br>
    Sunayna Manocha<br>
    Sven Boeckelmann<br>
    Sven Kattelans<br>
    Tamas Cservenak<br>
    Tero Saarni<br>
    Theodor Mihalache<br>
    Thimo Koenig<br>
    Thomas Haines<br>
    Thomas Qvarnström<br>
    Thomas Segismont<br>
    Thor Weinreich<br>
    Tiago Dolphine<br>
    Tim King<br>
    timguy<br>
    tobi6112<br>
    tom<br>
    Tom Bentley<br>
    Tom Cunningham<br>
    Tomas Hofman<br>
    Tomas Turek<br>
    Tomaž<br>
    Toshihiro Nakamura<br>
    Toshiya Kobayashi<br>
    Tristan Radisson<br>
    Vaclav Svejcar<br>
    VaniHaripriya<br>
    Vardhman Jain<br>
    Victor Gallet<br>
    Victor Hugo de Oliveira Molinar<br>
    Vincent Sevel<br>
    Vincent van Dam<br>
    Vinícius Ferraz Campos Florentino<br>
    Viswa Teja Nariboina<br>
    Vladimir Konkov<br>
    Vojtech Juranek<br>
    Vratislav Hais<br>
    w.glanzer<br>
    Walter Medvedeo<br>
    Wayne Ellis<br>
    Werner Glanzer<br>
    Willem Jan Glerum<br>
    William Antônio Siqueira<br>
    Wim Goeman<br>
    Wippermueller, Frank<br>
    wojciech.stryjewski<br>
    Xavier<br>
    Xieshen<br>
    xstefank<br>
    Y. Luis<br>
    Yann-Thomas LE MOIGNE<br>
    Yannick Reifschneider<br>
    YassinHajaj<br>
    Yelzhas Suleimenov<br>
    yesunch9<br>
    Yoann Rodière<br>
    Yoshikazu Nojima<br>
    Youngmin Koo<br>
    Yubao Liu<br>
    yugoccp<br>
    Yukihiro Okada<br>
    Zaheed Beita<br>
    zanmagerl<br>
    zedbeit<br>
    Zheng Feng<br>
    Žiga Deisinger<br>
    Zineb Bendhiba<br>
    zohar<br>
    Zoran Regvart<br>
    Шумов Игорь Юрьевич<br>
    出门三不惹</p>
</div>
</div>
</div>
