---
layout: base
---

{% include title-band.html %}

<div class="full-width-bg component awards-band">
  <div class="component-wrapper highlights-alternating-images-band">
   <div class="width-12-12 width-12-12-m ">
   </div>
   <div class="width-12-12 highlights-alternating-inline-block">
    <div class="grid-wrapper">
      <div class="width-4-12 width-12-12-m block-image">
        <img src="{{site.baseurl}}/assets/images/quarkus3/frameworkefficiency.png">
      </div>
      <div class="width-8-12 width-12-12-m block-content">
        <h2>Performance & Efficiency</h2>
        <p>Quarkus makes Java supersonic and subatomic, with fast startup times, low memory footprint, and a small disk footprint. This release continues to improve the Quarkus framework's performance and efficiency.</p>
        <h3>Hibernate ORM 6.2</h3>
        <p>Hibernate ORM 6.2 is a major upgrade to the main persistence layer of Quarkus. It brings a lot of improvements and new features including migration to the Jakarta Persistence 3.0 specification, performance improvements to JDBC, and more. Learn more about <a href="https://quarkus.io/blog/quarkus-3-0-0-alpha5-released/#hibernate-orm-6">Hibernate 6.2 in Quarkus</a>.</p>
        <p>While there are a lot of great features the move to Hibernate 6.2 introduces some breaking changes. We created a <a href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-3.0:-Hibernate-ORM-5-to-6-migration">Hibernate ORM migration guide</a> to make the upgrade from 5 to 6 as smooth as possible.</p>
        <p></p>
      </div>
    </div>
  </div>

   <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
         <img src="{{site.baseurl}}/assets/images/quarkus3/developerservices.png">
       </div>
       <div class="width-8-12 width-12-12-m block-content">
         <h2>Developer Productivity</h2>
         <p>One of the founding principles of Quarkus is to bring joy to Java developers by creating a frictionless experience through a combination of tools, libraries, extensions, and more. This release continues that mission by making developers more efficient with new tools and services such as Dev UI, Quarkus CLI, and PACT contract testing.</p>
         <h3>Dev UI</h3>
         <p>Quarkus 3 includes a new and improved <a href="https://quarkus.io/guides/dev-ui">Dev UI</a> with a new look and feel that is more extensible. You can access the Dev UI at <code>http://localhost:8080/q/dev</code></p>
         <p>Check out the <a href="https://www.youtube.com/playlist?list=PLLEUmLgWP9osVhex2HeEovY3a2bJUPbSV">Dev UI playlist</a> on Quarkus YouTube channel to learn more.</p>
         <h3>Quarkus CLI</h3>
         <p>The Quarkus command line tool lets you create projects, manage extensions and perform essential build and dev commands.</p>
         <p>This release includes additional features like the <code>quarkus deploy</code> command that enables the deployment of Quarkus applications to platforms like Kubernetes, Knative, and OpenShift without requiring changes to the project dependencies or configuration</p>
         <h3>Pact</h3>
         <p>Quarkus 3 enables Pact contract-based testing capability which has a significant impact on the development process for Quarkus developers. Quarkus with Pact, allows developers to easily integrate Pact into their testing and deployment workflows without any additional setup. This can help to save time and ensure that developers can focus on writing code.</p>
         <p>Watch the <a href="https://www.youtube.com/watch?v=d9CSY8HuZ9U">Quarkus Insights episode about Pact and Quarkus</a> to learn more.</p>
        </div>
       </div>
     </div>

    <div class="width-12-12 highlights-alternating-inline-block">
     <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/quarkus3/kubenative.png">
       </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h2>Kubernetes-Native</h2>
          <p>Quarkus enables Java developers to create performant, easily deployable, and maintainable applications on Kubernetes. This release includes a number of impactful Kubernetes-native features including new Dev Services for Kubernetes deployments.</p>
          <h3>Kubernetes Dev Services</h3>
          <p>It can often be difficult for developers to get access to a Kubernetes cluster for local development. Quarkus 3.0 includes Dev Services for Kubernetes that automatically start and configure a Kubernetes API server in dev mode and when running tests utilizing Docker. Dev Services for Kubernetes implements a service discovery mechanism for your Quarkus applications running in dev mode to share a single cluster. Learn more about <a href="https://quarkus.io/guides/kubernetes-dev-services#enabling-disabling-dev-services-for-kubernetes"> enabling Dev Services for Kubernetes</a></p>
       </div>
      </div>
    </div>

    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/quarkus3/communitystandards.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h2>Community & Standards</h2>
          <p>Quarkus starts and ends with the community which includes a vast ecosystem of 400+ extensions that includes support for popular Java APIs and standards. This release continues that mission with new features and standards support.</p>
          <h3>Java 11 & 17</h3>
          <p>Quarkus 3 continues to target the minimal version of Java 11 with Java 17 as the recommended version. We will continue to revise the minimal Java version based on user feedback and the uptake of Java 17 in the ecosystem.</p>
          <h3>Jakarta EE APIs</h3>
          <p>Quarkus 3 has updated to the latest Jakarta APIs, which includes a community alignment around the new “jakarta.*” package names. We know this is a big change, so In order to make migrating as smooth as possible, we included an automated update tool to minimize your effort. Learn more about <a href="https://quarkus.io/blog/quarkus-3-0-final-released/#upgrading">migrating to Jakarta EE API’s</a>.</p>
          <h3>Eclipse MicroProfile 6</h3>
          <p>Quarkus 3 is aligned with MicroProfile 6.0 and Jakarta EE Core Profile 10. The Micrometer Metrics extension is recommended over the deprecated SmallRye Metrics implementation of MicroProfile Metrics.</p>
        </div>
      </div>
    </div>

 <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/quarkus3/longtermsupport.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h2>Coming Soon: Long-term Support (LTS)</h2>
          <p>We often get asked about a Quarkus LTS version. The community asked, so we’ll deliver. Starting with Quarkus 3.2, we will introduce the first Quarkus LTS version. We will share more information as we get closer to releasing Quarkus 3.2.</p>
        </div>
      </div>
   </div>

    <div class="width-12-12 highlights-alternating-inline-block">
      <div class="grid-wrapper">
        <div class="width-4-12 width-12-12-m block-image">
          <img src="{{site.baseurl}}/assets/images/quarkus3/migration.png">
        </div>
        <div class="width-8-12 width-12-12-m block-content">
          <h2>Migrating to 3.0 is super easy</h2>
          <p>We want to make the migration to Quarkus 3 seamless for our users. With that in mind, we have created a <a href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-3.0">migration guide</a> as well as tooling to facilitate this process.</p>
          <p>The move to Hibernate ORM 6.2 is a major upgrade. While it brings a lot of improvements and new features, it also includes some breaking changes. In order to help migrate Quarkus apps with Hibernate, we have created a <a href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-3.0:-Hibernate-ORM-5-to-6-migration">Hibernate ORM migration guide</a> to help you through the process.</p>
        </div>
      </div>
   </div>
  </div>
  <div class="component-wrapper">
   <div class="width-12-12 width-12-12-m ">
     <h2>Release Notes</h2>
     <p>For more in-depth dive into the details of the 3.0 release, <a href="https://quarkus.io/blog/quarkus-3-0-final-released/" target="_blank">check out the Quarkus 3.0 Release Notes</a></p>
   </div>
   <div class="width-12-12 width-12-12-m ">
      <h2>Contributors</h2>
     <p>The lifeblood of the Quarkus project is the open source community. We'd like to thank the 200+ community members who've contributed their time and energy to help create Quarkus 3.0 and in particular:</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <p>Adler Fleurant<br>
        Adrian Pauli<br>
        Ales Justin<br>
        Alessandro Moscatelli<br>
        Alex Martel<br>
        Alexandre Dutra<br>
        Alexei Bratuhin<br>
        Alexey Loubyansky<br>
        Alexey Sharandin<br>
        Andrea Cosentino<br>
        Andrea Peruffo<br>
        Andri Reveli<br>
        Andy Damevin<br>
        Àngel Ollé Blázquez<br>
        Antonio Costa<br>
        Antonio Goncalves<br>
        Antonio Jacob Costa<br>
        arik-dig<br>
        Ashish Ranjan<br>
        Auri Munoz<br>
        Benedikt Ritter<br>
        benstone<br>
        besta<br>
        Bill Burke<br>
        Brad Hards<br>
        Bruno Baptista<br>
        Bruno Borges<br>
        Bruno Leonardo Gonçalves<br>
        Bård Kristian Haaland-Sørensen<br>
        Carles Arnal<br>
        Chexpir<br>
        Chihiro Ito<br>
        Chris Laprun<br>
        Christian Berger<br>
        Christian Pieczewski<br>
        Christian von Atzigen<br>
        Christoph Hermann<br>
        Clemens Classen<br>
        Clement Escoffier<br>
        Damon Sutherland<br>
        Dan Dunning<br>
        David Andlinger<br>
        David Arnold<br>
        David M. Lloyd<br>
        Davide D'Alto<br>
        Dmitri Bourlatchkov<br>
        Efim Smykov<br>
        Eric Deandrea</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <p>Erin Schnabel<br>
        faculbsz<br>
        Falko Modler<br>
        Felipe Henrique Gross Windmoller<br>
        Fikru  Mengesha<br>
        Filippe Spolti<br>
        Foivos Zakkak<br>
        Foobartender<br>
        Fouad Almalki<br>
        franz1981<br>
        Galder Zamarreño<br>
        Geert Schuring<br>
        George Gastaldi<br>
        Georgios Andrianakis<br>
        Gerhard Flothow<br>
        Giovanni Barbaro<br>
        Guillaume DOUSSIN<br>
        Guillaume Le Floch<br>
        Guillaume Nieser<br>
        Guillaume Smet<br>
        Gunnar Morling<br>
        Gwenneg Lepage<br>
        Harald Albers<br>
        Helber Belmiro<br>
        Holly Cummins<br>
        Hugo Guerrero<br>
        IgnasiCR<br>
        imperatorx<br>
        Ioannis Canellos<br>
        Ivan Bazalii<br>
        Jan Martiska<br>
        Jan Wiemer<br>
        Jasmin Suljic<br>
        Jayson Minard<br>
        Jesse Ehrenzweig<br>
        Joe Siponen<br>
        John OHara<br>
        Jonathan Kolberg<br>
        Jorge Solórzano<br>
        Jose<br>
        Jose Carvajal<br>
        Josef Andersson<br>
        jtama<br>
        Julien Ponge<br>
        Julio Enrique Santana Lora<br>
        Justin Lee<br>
        Katia Aresti<br>
        kdnakt</p>
    </div>
   <div class="width-3-12 width-12-12-m">
     <p>Kevin Dubois<br>
      Konstantin Gribov<br>
      Konstantin Silin<br>
      kottmann<br>
      Ladislav Thon<br>
      Laure Souche<br>
      Leandro Quiroga<br>
      Loïc Mathieu<br>
      luca-bassoricci<br>
      Lukas Lowinger<br>
      Lukáš Petrovický<br>
      luneo7<br>
      Manyanda Chitimbo<br>
      Marc Nuri<br>
      Marc Schlegel<br>
      Marcel Lohmann<br>
      Marcell Cruz<br>
      Marco Bungart<br>
      Marco Schaub<br>
      Marek Skacelik<br>
      marko-bekhta<br>
      Markus Himmel<br>
      Martin Kouba<br>
      Martin Panzer<br>
      Marvin B. Lillehaug<br>
      Matej Novotny<br>
      Matteo Mortari<br>
      Max Rydahl Andersen<br>
      Mazen Khalil<br>
      Melloware<br>
      mfpc<br>
      Michael Edgar<br>
      Michael Mosmann<br>
      Michael Musgrove<br>
      Michal Karm Babacek<br>
      Michal Maléř<br>
      Michal Vavřík<br>
      Michelle Purcell<br>
      Mickey Maler<br>
      Mihai.Poenaru<br>
      Moritz Heine<br>
      mrizzi<br>
      mun711<br>
      Nathan Erwin<br>
      Nathan Mittelette<br>
      Nicolas Filotto<br>
      nscuro<br>
      oliv37</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <p>Orbifoldt<br>
        Ozan Gunalp<br>
        Özkan Pakdil<br>
        Pablo Gonzalez Granados<br>
        Paulo Casaes<br>
        Pavel.Vervenko<br>
        Pedro Igor<br>
        Pedro Pereira<br>
        Peter Palaga<br>
        Phillip Krüger<br>
        Radoslaw Adamiak<br>
        Radovan Synek<br>
        Ramon Boss<br>
        Robbie Gemmell<br>
        Robert Gonciarz<br>
        Robert Stupp<br>
        Roberto Cortez<br>
        Rolfe Dlugy-Hegwer<br>
        Romain Quinio<br>
        Rostislav Svoboda<br>
        Sanne Grinovero<br>
        Sebastian Schuster<br>
        Sergey Beryozkin<br>
        Severin Gehwolf<br>
        shjones<br>
        skraft-redhat<br>
        spencercjh<br>
        Stuart Douglas<br>
        sturdy5<br>
        Stéphane Épardaud<br>
        Sébastien Crocquesel<br>
        Tamas Cservenak<br>
        Theodor Mihalache<br>
        Thomas Segismont<br>
        Thor Weinreich<br>
        tom<br>
        Tom Cunningham<br>
        Vaclav Svejcar<br>
        Vincent Sevel<br>
        xstefank<br>
        Yoann Rodière<br>
        Yoshikazu Nojima<br>
        Yubao Liu<br>
        zedbeit<br>
        Zheng Feng<br>
        Žiga Deisinger</p>
    </div>
  </div>
</div>
