---
layout: base
---

{% include title-band.html %}


<div class="full-width-version-bg grey align-self">
  <div class="width-12-12">
      <p class="returnlink"><a href="{{site.baseurl}}/blog">Blogs</a> <i class="fas fa-chevron-right"></i> {{ page.title }}</p>
  </div>
</div>

<div class="grid-wrapper blog-page">
  <div class="grid__item width-9-12 width-12-12-m">
    <h2 class="title">Tagged posts: '{{ page.title }}'</h2>
    {% for post in page.posts %}
      {% assign author = site.data.authors[post.author] %}
      <div class="blog-list-item grid-wrapper">
        <div class="grid__item width-12-12">
          <div class="post-title">
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="post-date small">
            {{ post.date | date: '%B %d, %Y' }} 
            {% if post.tags %}
              <span class="tags">tags:{% for tag in post.tags %}<a href="{{site.baseurl}}/blog/tag/{{tag  | downcase | replace: '.', '-' }}">#{{ tag | downcase }}</a>{% endfor %}</span>
            {% endif %}
          </div>
        </div>
        <div class="grid__item width-8-12 width-12-12-m byline-wrapper">
          {% if author.emailhash %}
            <img class="headshot" src="https://www.gravatar.com/avatar/{{ author.emailhash }}">
          {% endif %}
          <p class="byline"><span>By</span> {{ author.name }}<br/></p>
        </div>
        <div class="grid__item width-12-12">
          {% if post.synopsis %}
            <p>{{ post.synopsis | strip_html }}</p>
          {% else %}
            <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
          {% endif %}
        </div>
        <div class="grid__item width-8-12 read-more small"><a href="{{site.baseurl}}{{ post.url }}">Read More &rsaquo;</a></div>
        <div class="grid__item width-4-12 width-12-12-m share-post">{% include share-page.html title=post.title url=post.url %}</div>
      </div>
    {% endfor %}
  </div>
  <div class="grid__item width-3-12 width-12-12-m">
    <h3 class="tags-label">Tags</h3>
    {% assign tag_words = site.tags | sort %}
    {% for stats in tag_words %}
    {% assign tag = stats | first %}
    {% assign posts = stats | last %}
    <a href="{{site.baseurl}}/blog/tag/{{tag | downcase | replace: '.', '-'}}">{{ tag | downcase }}</a></br>
    {% endfor %}
  </div>
</div>

