---
working-groups:
  {#for board in boards}
    - title: "{board.title}"
      board-url: "{board.url}"
      short-description: {board.shortDescription.trim()}
      readme: |
        {board.getIndentedReadme().raw}
      status: {board.getBadgeText()}
      last-activity: {board.getLastActivityDate()}
      {#if board.getLastUpdate()  && board.getLastUpdate().body.trim()}
      last-update: {board.getLastUpdate().body.trim()}
      {/if}
  {/for}